[2018-06-07 08:35] LWisteria opened #1 "Import issues from in-house gitlab"

[2018-06-08 00:13] LWisteria opened #2 "OpenCL version check"
We must check system OpenCL (platform, device, OpenCL C) version when installing and/or execution.

[2018-06-08 00:18] LWisteria opened #3 "Generate OpenCL API wrapper from cl.h in system"
[Current api.pxd](https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/backend/opencl/api.pxd) and api.pyx was manually made by header for OpenCL 1.2.

The API wrapper can and must be generated from cl.h corresponding to system installing and/or executing.

[2018-06-08 00:18] LWisteria commented on #3
Relate: #2

[2018-06-08 00:25] LWisteria opened #4 "Support multiple devices"
Current clpy uses [only first device](https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/backend/opencl/env.pyx#L30-L41). Device should be selectable.

[2018-06-08 00:29] LWisteria opened #5 "Support multiple command queue (known as "stream" in CUDA)"
Current clpy creates and uses [only one command_queue](https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/backend/opencl/env.pyx#L53-L55) and [clpy.backend.stream](https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/backend/stream.py) implementation is empty.

Supporting this increases performance.

[2018-06-08 00:41] LWisteria opened #6 "Map device buffer for host memory"
https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/core/core.pyx#L2162

[2018-06-08 00:50] LWisteria opened #7 "Support huge size ndarray (more than max global work item size)"
Current clpy simply launch kernel with [global work item size = ndarray.size](https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/backend/function.pyx#L149).

However, global work item size is limited by [clGetDeviceInfo<CL_DEVICE_MAX_WORK_ITEM_SIZES>](https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/clGetDeviceInfo.html). Make loop in kernel or clEnqu

[2018-06-08 00:57] LWisteria opened #8 "Fill ndarray with clEnqueueFillBuffer"
Current [ndarray.zeros()](https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/creation/basic.py#L147) and [ndarray.fill()](https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/core/core.pyx#L448) always use elementwise_copy.

Use [clEnqueueFillBuffer](https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/clEnqueueFillBuffer.ht

[2018-06-08 01:05] LWisteria opened #9 "Meet flake8 on cython files"
Current clpy meet flake8 on only pure python files. Meet also on cython files to meet [cupy's coding guidelines](https://docs-cupy.chainer.org/en/stable/contribution.html#coding-guidelines)

[2018-06-08 01:07] LWisteria opened #10 "Add CI"
There's no CI in current version...

[2018-06-08 04:19] nsakabe-fixstars opened #11 "cl_device_type is not consistent"
The argument `cl_device_type` on the 2nd time of `GetDeviceIDs`
https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/backend/opencl/env.pyx#L37

is not consistent with the 1st time:
https://github.com/fixstars/clpy/blob/dec25c342032617d61e6b71ad5836b16005cc29a/clpy/backend/opencl/env.pyx#L24
(should be a `#define`d constant.)

[2018-06-12 07:32] t-kitawaki opened #12 "Word2vec cause Error at VEGA"
# Word2vec cause Error at AMD VEGA
## Environment
* OS: Ubuntu 16.04.4 LTS
* CPU: Core i7-4790
* MEM: 8GB
* GPU: AMD Radeon Vega Frontier Edition (Air Cooled)
* SDK: AMD APP SDK 3.0
* python: 3.6.4
* clpy: b59da4c3
[code]

## result
[code]

[2018-06-12 07:40] t-kitawaki opened #13 "Word2vec cause Error at 1060 and Titan V"
# Word2vec cause Error at 1060 and Titan V
## Environment
* machine1(1060)
  * OS: CentOS 7.2.1511
  * CPU: Core i7-4790
  * MEM: 8GB
  * GPU: NVIDIA GeForce GTX 1060
  * SDK: CUDA 9.2
  * python: 3.6.4
  * clpy: b59da4c3
* machine2(titanv)
  * OS: Ubuntu 16.04.4 LTS
  * CPU: Core i9-7900X
  * MEM: 64GB
  * GPU: NVIDIA TITAN V
  * SDK: CUDA 9.2
  * python: 3.6.4
  * clpy: 28bcad2f

## Result
Two m

[2018-06-12 08:28] LWisteria commented on #11
@nsakabe-fixstars Thanks for reporting. This is not so critical problem because [current cl.h `#define CL_DEVICE_TYPE_DEFAULT 1`](https://github.com/KhronosGroup/OpenCL-Headers/blob/de26592167b9fdea503885e40e8755393c56523d/CL/cl.h#L265).

However, I agreed with you. This should be fixed.

[2018-06-14 01:48] LWisteria commented on #13
@t-kitawaki Thanks for reporting
@nsakabe-fixstars Could you investigate this?

[2018-06-14 01:50] ghost commented on #13
ok, i'll work on this.

[2018-06-14 02:38] ghost commented on #13
I revealed the error code : `UNKNOWN ERROR: -9999`

[2018-06-14 02:41] ghost commented on #13
According to https://streamhpc.com/blog/2013-04-28/opencl-error-codes/

-9999 | NVidia | clEnqueueNDRangeKernel | Illegal read or write to a buffer
-- | -- | -- | --

[2018-06-14 03:01] ghost commented on #13
Generated CL kernel which causes buffer error here.
[code]

[2018-06-14 04:23] ghost commented on #13
The reason of these errors was **mismatch of sizeof integer**.
I guess #12 is the same problem.

The macro [`get_CArrayIndexRaw_2`](https://github.com/fixstars/clpy/blob/clpy/clpy/core/include/clpy/carray.clh#L349) requires a `ptrdiff_t[]` argument.
The arguments passed actually are [w_ind, x_ind](https://github.com/chainer/chainer/blob/a01c33f515ec23d33eab6e2eff6aa5d4e99f414d/chainer/links/loss/h

[2018-06-14 05:57] ghost commented on #12
See #13.

[2018-06-14 07:12] LWisteria opened #16 "Use C++ parser instead of simple string replacements on kernel creation"
Current ClPy has many string replacement technique (e.g. `array[i] -> array[getCArrayIndex_2(&array_info, i)]` etc).
However these approaches can not cover perfectly in any use case (e.g. user defined template function #13 ).

We need to parse C++ strictly and replace and/or insert as we want.

[2018-06-19 01:31] LWisteria opened #18 "Use importlib for cupy alias"
Current implementation to `import cupy` alias is forcibly and ill‐mannered.

We should use importlib and replace current.

[2018-06-19 01:31] LWisteria commented on #18
@t-kitawaki please take this issue

[2018-06-19 03:38] ghost commented on #18
importlib は動的にimportするモジュールを切り替える事が出来る。

例えば、```clpy/cupy/hoge.py```を以下のようにすると、環境変数でcupyを用いた実行とclpyを用いた実行を切り替える事が出来そう（要検証）
[code]
この場合本物のcupyとclpy/cupy の名前が衝突するので本物のcupyを別名でinstallしたいが、
pipで簡単に解決することはできず、どこかで行儀の悪い?手法を使うことになる可能性がある。

別の手法としては、importそのものにhookを仕掛けることが出来るらしく、
これを使えば、行儀よく解決できると思われる(要調査)
[https://www.python.org/dev/peps/pep-0302/](url)
のPath hooksを利用する。

importlib の追加に伴い、imp パッケージは廃止予定な

[2018-06-19 06:37] ghost commented on #18
分かりやすい日本語解説がありました...
https://pod.hatenablog.com/entry/2017/06/06/013303

[2018-06-19 09:19] ghost commented on #18
https://qiita.com/tatuno/items/d2b0732f0bc4e47ed4c6
を参考に実装してみたがうまく動かない
[code]

[2018-06-19 09:42] ghost commented on #18
sys.meta_path に cupy 以下のパッケージの場合だけclpyにrenameしたModuleSpecを返すMetaPathFinderを追加すると動くと思われる…

[2018-06-19 11:12] ghost commented on #18
clpy にrename するのではなく、今の clpy/cupy を(別名にして？)叩きに行くべき。
find_spec内でpathの複雑な読み替えはしないほうが良い。

[2018-06-19 11:31] ghost commented on #18
hookを仕掛けることには成功したが、 ```No module named 'cupyx'```とエラーが出る 69255d5ebb0e1d43991e621439306157450b9a2a

[2018-06-21 03:10] ghost commented on #13
I updated the training time in the [wiki page](https://github.com/fixstars/clpy/wiki/chainer_example_performance_report#chainers-example-execution-timesec) with the version where this issue has been fixed.

[2018-06-21 03:10] ghost commented on #12
I updated the training time in the [wiki page](https://github.com/fixstars/clpy/wiki/chainer_example_performance_report#chainers-example-execution-timesec) with the version where this issue has been fixed.

[2018-06-21 03:55] #13 closed

[2018-06-21 03:55] #12 closed

[2018-06-21 04:04] ghost commented on #10
要件

* *New Primary* と *New Secondary* (非公開)でスクリプトを回せる
* Pull-request が来たら fork 先のブランチを見て CI できる

調査・検討

* Travis の local runner のようなものはあるか
    * Travis のドキュメントを一通り見たが見当たらず
* CircleCI の local runner はあるか
    * ちょっと目的は違うがあるにはある
* ほかに worker を切り離せる (無料) CI があるか
* Jenkins を動かす方法
* push を hook して In-house GitLab へ pull する方法
    * 結果の提示・pr への対応が難しい?

[2018-06-21 05:29] ghost commented on #10
### GitHub の push をフックする
* [Hubot](https://hubot.github.com/) を立てておくと、GitHub から webhook を受け取ってシェルスクリプトを叩ける
    * ポート公開が必要。 [自前ホストHubotの参考](https://blog.odoruinu.net/2014/07/08/how-to-integrate-self-hosted-hubot-with-slack/)

[2018-06-21 05:38] nsakabe-fixstars commented on #10
### Travis CI のバックエンドを変える
→ [Travis CI Enterprise](https://docs.travis-ci.com/user/enterprise/)

[2018-06-21 05:58] ghost commented on #10
Circle CI 向けに書いた .yaml をローカルで動かす方法は公式で提供されていますが、
構築前のお試し用という位置づけであるのに加え、
docker を使うことになるので今回は向いていないかと思います。

https://circleci.com/docs/2.0/local-cli/

[2018-06-21 08:59] ghost commented on #10
調査結果: 要件を満たせそうなシステム

* [Appveyor ](https://www.appveyor.com/) プレミアムプラン + GCE/AWS/非公開Dockerサーバ - [参考](https://www.appveyor.com/docs/build-environment/#private-build-cloud)
* 非公開 Jenkins サーバ + テスト結果はPull-reqへのコメント

フロントと task worker を切り離せる CI as a Service は本当に少なかったです。

[2018-06-21 09:02] LWisteria commented on #10
こちらにしましょうか（融通がききそうですし）。

この場合、Devloper以外からのPRは自動で実行するとセキュリティ的に厳しいので、Developerの誰かがApproveしたものを実行する、という条件がつくと思います。

[2018-06-26 01:55] ghost commented on #18
```No module named 'cupyx'```のエラーはchainerのversion選択ミスでした…

[2018-06-26 04:39] ghost commented on #18
package の場合もfileをSourceFileLoaderを指定したら動くようになった a48a24733b7f1d7470389438b2cbc048db409dc9

[2018-06-26 07:06] ghost commented on #18
cupyと共存できるように、cupyのalias名をcupy_aliasに変更するようにした。
また、import clpyをしていても、環境変数```CLPY_NOT_HOOK_CUPY=1```の場合hookを仕掛けないようにした。
 240b72093309949afb87bde1dfb0ef1a80555353

[2018-06-26 10:19] ghost commented on #18
python の実行時オプションにモジュールの初期化時にメッセージを出す `-v` がある。
これをつけておくとモジュールのimport時にどのソースを読んだかを出力してくれる。
https://docs.python.org/ja/3.5/using/cmdline.html#id4

[2018-06-28 10:57] ghost commented on #10
残りタスク

- [x] ビルド失敗時にログが投稿されることを確認 ……JSONペイロードのエスケープのおはなし
- [x] Collaborator に jenkins-maekawa を追加 (プラグインの都合です)
- [x] Jenkins 設定 と `post_comment.sh` で nsakabe-fixstars/clpy から こちらに向け直す
- [x] Jenkins 設定でこちらのリポジトリのメンテナにビルド承認権限を与える
- [x] Jenkins を専用のUNIXユーザに移し、デーモンとして自動起動するようにする
- [x] fixstars/clpy に PR

[2018-07-03 05:09] LWisteria opened #21 "Chainer's ImageNet example (ResNet)"
[Chainer's ImageNet example (ResNet)](https://github.com/chainer/chainer/tree/v3.3.0/examples/imagenet) doesn't work with current clpy.

[2018-07-03 05:10] LWisteria commented on #21
@t-kitawaki please try this

[2018-07-03 05:14] LWisteria commented on #21
cf. http://proc-cpuinfo.fixstars.com/2017/12/koukaryoku_chainermn/

[2018-07-03 05:51] LWisteria commented on #21
I am preparing training data on the new primary and secondary machines now, wait until completed

[2018-07-03 05:54] ghost commented on #21
Thank you for preparing training data

[2018-07-03 07:47] ghost commented on #21
出力されるエラー(titanv)
[code]

[2018-07-03 07:49] LWisteria commented on #21
https://github.com/fixstars/clpy/wiki/chainer_test_example_results#primary-machine-radeon-1 にある通り、NVIDIA環境はちょっと別の問題があるので、おとなしくAMD環境を使うのが良いです

[2018-07-03 07:50] ghost commented on #21
分かりました。

[2018-07-03 07:51] LWisteria commented on #21
might be same reason as #13 for nvidia gpu

[2018-07-03 07:55] ghost commented on #21
出力されるエラー (vega)
[code]

[2018-07-03 08:37] ghost commented on #21
`cuda.cupy` 直下で `tensordot` を見つけられていないだけなので、 `cupy/__init__.py`に `from clpy.linalg.product import tensordot  # NOQA`を追加したら動く。

[2018-07-03 08:51] ghost commented on #21
`AttributeError: module 'cupy' has no attribute 'hoge'`のタイプのエラー(の一部)は同様の原因だと思われるので、 `__init__.py`をcupyから持って来る(要修正)などしてcupyとの互換性を上げるべき？

[2018-07-03 08:55] LWisteria commented on #21
あ、過去の背景を伝え忘れてましたが、元々importしただけで死ぬやつを回避するために、最低限のもの以外がコメントアウトされています。

なので、コメントアウトを解除するだけで動くものがたくさんあります（動かないものもあります

[2018-07-03 10:18] ghost commented on #21
なるほどです

[2018-07-11 08:21] LWisteria commented on #10
@nsakabe-fixstars vegaとtitanvのどちらかが落ちた時ってどうなりますか？

レビュー失敗にならずに、最後に実行されたどっちかの結果になる気がするんですが、もしそうならあんまりよろしくないので、修正をお願いします。

[2018-07-11 08:31] LWisteria commented on #9
@ykitta-fixstars Can you setup flake8 CI? You can use travis or internal jenkins or others you like.

[2018-07-11 08:32] ghost commented on #9
OK.

[2018-07-11 08:56] LWisteria opened #27 "Update "Recommended system" on README"
We have update our machines and CI works on new machines.

[README](https://github.com/fixstars/clpy/blob/2f10c62bfa70131484ea524a6db4a425d13ee8d8/README.md#recommended-system) should be update

[2018-07-11 09:10] LWisteria opened #28 "cuRAND replacement"
[Current random generator](https://github.com/fixstars/clpy/blob/2f10c62bfa70131484ea524a6db4a425d13ee8d8/clpy/random/generator.py#L143-L161) is too simple and poor.

We need to replace cuRAND.

[2018-07-11 09:32] LWisteria opened #29 "Support complex number"
OpenCL does not support complex number directly, however, numpy and cupy do.

Current ClPy does not support and [skip tests](https://github.com/fixstars/clpy/blob/2f10c62bfa70131484ea524a6db4a425d13ee8d8/clpy/testing/helper.py#L531-L533).

[2018-07-11 09:37] LWisteria opened #30 "atomicAdd operation for all type"
Currently there is only [atomicAdd for fp32](https://github.com/fixstars/clpy/blob/2f10c62bfa70131484ea524a6db4a425d13ee8d8/clpy/core/include/clpy/carray.clh#L469-L483), to pass Chainer's ptb example.

[2018-07-11 09:40] LWisteria commented on #30
This needs overload function for various types, so #16 is needed to resolve this issue.

[2018-07-11 09:52] LWisteria opened #31 "Faster and more pattern BLAS"
Current ClPy supports only sgemm, which is [manually implemented](https://github.com/fixstars/clpy/blob/2f10c62bfa70131484ea524a6db4a425d13ee8d8/clpy/backend/opencl/blas.pyx#L321-L384).

[2018-07-11 10:00] LWisteria opened #32 "Investigate and compare to CuPy HIP version"
There is PR to apply HIP cupy#1117 .
ClPy can be exeuted on AMD GPU, too.

We need HIP version's information and compare (and want not to lose for performance!)

[2018-07-11 10:02] LWisteria opened #33 "Update CuPy base version"
Currently based on v2.1.0.

We plan to update the version to v4.x or v5.x or more.

[2018-07-11 14:23] ghost commented on #10
<img width="777" alt="ss 2018-07-11 16 20 57" src="https://user-images.githubusercontent.com/40021205/42578365-a11236da-8526-11e8-971b-02acd9e38854.png">

途中でビルド名を分けたので、どちらかが×だと「1 build failed」みたいな結果になるかと思っています。
念のため、次回確認します。

[2018-07-19 01:32] ghost commented on #10
![default](https://user-images.githubusercontent.com/40021205/42916149-bcc02586-8b3e-11e8-981d-0dd467a8e5ab.PNG)

#20 のとおり、片方おちるとこうなります。

[2018-07-19 01:34] ghost commented on #10
別件ですが、 `python setup.py` で走るビルドが失敗したときのエラーメッセージが GitHub コメントに反映されないことに気づきました

[2018-07-19 01:35] LWisteria commented on #10
なるほど・・・そしてソレ見て気づいたんですが、そうなると #25 の変更がおかしくなりますね・・・（後に終わったほうが成功するとapproveされてしまう）。

私が勝手にやったやつですが、回避は難しそう。。

[2018-07-19 01:44] ghost commented on #10
* approve はユーザごとのステータス
* ビルドの :heavy_check_mark: はビルド名ごとのステータス

なので齟齬が生じますね…

[2018-07-19 01:47] LWisteria commented on #10
単に成功した時にはコメントはせずに、自分が成功していてかつ他の @jenkins-maekawa のCI結果が全部OKの時にだけapproveする、とかですかね。。
（失敗した時はrequestで良い

[2018-07-19 02:02] ghost commented on #10
もはや shell script でやりたくない領域ですね…。

approval を使いたい理由（CI 結果をみて Developer が反応するのとの違い）としては何がありますか?

[2018-07-19 02:05] LWisteria commented on #10
単にわかりやすさの問題だけではあります。あと、マージボタンの表示がちょっと変わるので間違えてマージしたりはしづらくなる・・・。

shell scriptじゃなくて他のスクリプト（例えばpython）とかで書き直せば容易だと思います。

[2018-07-19 03:15] nsakabe-fixstars opened #36 "Odd CI failure"
vega 機で謎にCIが通らない問題調査用のissueです

[2018-07-19 03:16] ghost commented on #36
https://streamhpc.com/blog/2013-04-28/opencl-error-codes/

Code | OpenCL Error Flag | Function(s) | Description
-- | -- | -- | --
-1001 | CL_PLATFORM_NOT_FOUND_KHR | clGetPlatform | No valid ICDs found

[2018-07-19 03:18] ghost commented on #36
ICD(Installable Client Driver) とは、実行時に動的リンクされるドライバーのこと

`/etc/OpenCL/vendors` の中身:
* amdocl-orca64.icd
    * libamdocl-orca64.so
* amdocl-rocr64.icd
    * libamdocl-rocr64.so
* amdocl64.icd
    * libamdocl64.so

[2018-07-19 03:23] ghost commented on #36
[code]

[2018-07-19 03:50] ghost commented on #36
`bash --login` とか
`sudo su - clpy-jenkins-slave`
で入った環境での実行などを試しました(再現せず)

[2018-07-19 03:58] LWisteria commented on #36
https://www.khronos.org/registry/OpenCL/sdk/2.0/docs/man/xhtml/cl_khr_icd.html

[2018-07-19 05:23] ghost commented on #36
[code]

ログを見ると、実行のされ方自体はこういうことらしい…

[2018-07-19 05:45] ghost commented on #36
[code]

[2018-07-19 07:00] ghost commented on #36
AMD 公式 OpenCL ドライバを使用すべきところ、 apt で入った他のものが見つかっていたことが問題だった。

* amdgpu-pro-uninstall によって公式ドライバ削除
* apt search の結果のなかからOpenCL関係するものを削除
* AMD サイトから公式ドライバをインストール
* opencl-headers だけ apt からインストール
* LIBRARY_PATH, LD_LIBRARY_PATH を `/opt/amdgpu-pro/lib/x86_64-linux-gnu/` に通す

解決したので閉じます。

[2018-07-19 07:01] #36 closed

[2018-07-24 08:00] LWisteria commented on #27
@t-kitawaki please take this

[2018-07-24 08:00] LWisteria commented on #21
Resolved by #23, thank you

[2018-07-24 08:01] LWisteria commented on #18
Resolved by #20, thank you

[2018-07-24 08:01] #18 closed

[2018-07-24 08:01] #21 closed

[2018-07-24 08:01] LWisteria commented on #9
Resolved by #17 and #26, thank you

[2018-07-24 08:01] #9 closed

[2018-07-26 02:02] ghost commented on #3
@nsakabe-fixstars お願いします！

[2018-07-26 02:30] ghost commented on #3
### `api.pxd`

* `cdef extern from "CL/cl.h":`
    * 関数宣言すべて (`/cl[A-Z][a-zA-Z_]+/`)
        * :heavy_check_mark:
* 薄い wrapper の宣言 (生成の必要なし)

### `types.pxi`
* `cde extern from "CL/cl.h":`
    * `cdef enum:`
        * `#define` によるコンパイル時定数すべての名前 (`/CL_[a-zA-Z_]+/`)
        * :heavy_check_mark:
    * `ctypedef T1 T2` (T2: 標準ヘッダの `u?intNN_t`, `size_t`, `ptrdiff_t` など, そして `__cl_.*`, `cl_.*`)

[2018-07-26 02:52] ghost commented on #3
とりあえず libClang の Python binding でいじってみます。

[2018-07-26 03:47] ghost commented on #3
関数宣言がとれた
[code]

[2018-07-26 04:00] ghost commented on #3
Typedef_Decl がとれたが、attributeがついてる
[code]

現状の types.pxi ではattributeは単純に無視されている

[2018-07-27 09:08] LWisteria commented on #27
#39 merged, thanks!

[2018-07-27 09:08] #27 closed

[2018-07-31 02:38] LWisteria commented on #7
@t-kitawaki take this please

[2018-07-31 04:02] ghost commented on #7
I tried TestClpyElementwiseKernel.test_vectoradd with many elements in titanv.
Test with 2^29 (=536870912) elements for each vector was passed.
Test with 2^30 (=1073741824) elements for each vector was failed with `clpy.backend.opencl.exceptions.OpenCLRuntimeError: CL_MEM_OBJECT_ALLOCATION_FAILURE`.
Because requested memory size is 2^30 * 4byte(float32) * 3 = 12GB but titanv has only 11 GB video m

[2018-07-31 04:03] LWisteria commented on #7
Create simple ElementwiseKernel which take only one argument instead of vectoradd.

[2018-07-31 04:04] LWisteria commented on #7
And you don't need float32 for this test. int8_t is enough, right?

[2018-07-31 06:07] ghost commented on #7
I create simple ElementwiseKernel which take only one argument and return that as it is.
And test it with int8 array.
Test with 2^31 (=2147483648) elements vector was passed.
Test with 2^32 (=4294967296) elements for each vector was failed with `clpy.backend.opencl.exceptions.OpenCLRuntimeError: UNKNOWN ERROR: -9999`

[code]

[2018-07-31 06:16] ghost commented on #7
https://streamhpc.com/blog/2013-04-28/opencl-error-codes/
ERROR -9999 is
Errors thrown by Vendors

Code | Vendor | Function(s) | Description
-- | -- | -- | --
-9999 | NVidia | clEnqueueNDRangeKernel | Illegal read or write to a buffer

[2018-07-31 06:54] ghost commented on #7
I checked titanv's clinfo.
Max work item sizes is 1024x1024x64

This issue try to fix error which happen when ndarray bigger max work item sizes is used.
But "OpenCLRuntimeError: UNKNOWN ERROR: -9999" which I found has different occurrence condition.

titanv's clinfo also shows
Max memory allocation is 3162554368 (2.945GiB)
And that Error happen when I try to use 4294967296(4Gib).
That Errors reas

[2018-07-31 07:04] LWisteria commented on #7
2^31 > 1024x1024x64=2^10 x 2^10 x 2^6 = 2^26. Therefore the error must be happened.

[2018-07-31 07:06] LWisteria commented on #7
Can you check what happened when you execute global items more than CL_DEVICE_MAX_WORK_ITEM_SIZES **on pure OpenCL program written in C/C++**, without clpy?

[2018-07-31 07:08] ghost commented on #7
OK. I'll try that.

[2018-07-31 07:12] LWisteria commented on #7
And I suggest developing on the primary machine (AMD vega) instead of secondary (NVIDIA titanv) because NVIDIA does not implement OpenCL so well. (That's why we call vega primary and titanv secondary)

[2018-08-02 03:06] yuk-to commented on #28
cupyとcuRANDをざっと見る限り、XORSHIFTを実装すれば良さそう。なお、cupy側としてはcuRANDのどのアルゴも呼べるようにしてある。

ref:
 - https://github.com/cupy/cupy/blob/master/tests/cupy_tests/cuda_tests/test_curand.py
 - https://github.com/cupy/cupy/blob/f94c699831b16afad273aa3ecfe302147a8984e6/cupy/random/generator.py#L47
 - https://docs.nvidia.com/cuda/curand/group__HOST.html (When rng_type is CURAND_RNG_PSEUDO_DEFAULT, the type chosen is CURA

[2018-08-02 06:29] LWisteria opened #40 "@jenkins-maekawa must approve the MR iff all her tests are passed"
https://github.com/fixstars/clpy/issues/10#issuecomment-406131027

Current CI system @jenkins-maekawa tests in two environment. However she ignores the test result which finished at first and approves the MR if the test which finished at last is passed.

It's better not to approve if a one test is failed, to approve if and only if both tests is passed.

[2018-08-02 06:30] LWisteria commented on #10
The above problem is handled on #40. I close this issue. Thanks!

[2018-08-02 06:30] #10 closed

[2018-08-02 10:30] ghost commented on #3
### 現状
libTooling で AST のトラバースができるようになり、ほしい情報の取得と出力フォーマット合わせを行っている

### メモ
`typedef struct *a a;`
などが not handled に流れてくる理由: headercvt.cpp:447 あたりで Elaborated Type を持っているときベクタに突っ込んでcontinueするような操作をしているから。

やること:

* DeclGroup をうまく処理できるように `clang::Decl::printGroup` をもってきて visitor に渡すように改変する

AST エスケープシーケンスなしダンプ:

[code]

[2018-08-09 02:00] ghost commented on #3
`typedef struct _hoge* hoge_t;` (事前の `struct _hoge` 宣言なし)
↓
[code]

この RecordDecl と TypedefDecl が Group 化されて、processDeclGroupにかけられる

[2018-08-09 02:09] LWisteria commented on #16
#24 resolves this issue. Thanks!

[2018-08-09 02:09] #16 closed

[2018-08-09 02:49] ghost commented on #3
`typedef struct {} type_name` 型
↓
[code]

[2018-08-09 04:12] ghost commented on #3
struct系を変換できたので、あとは

* プリプロセッサ定数を適当にとる :heavy_check_mark:
* `cdef extern from` でくくり、インデントを適切に :heavy_check_mark:
* clpy に組み込む
    * `clang` コマンドラインに与える Include ディレクトリの列挙
    * 複数ファイルを出力することになるが、`headercvt` から直にやるか、パイプを経由するか → 直にその場に出力のあとコピー

[2018-08-09 05:52] LWisteria opened #41 "Update chainer example performance report"
We should update https://github.com/fixstars/clpy/wiki/chainer_example_performance_report

Update: we need all chainer's performance report.

[2018-08-09 07:38] ghost commented on #3
敵:
* Record宣言中に登場する無名構造体宣言 → pthread関連,union関連無視
* タグ名とRecordの識別子が同じ宣言 → pthread無視
* `typedef <関数ポインタ型> hoge_t` → 無視
* `typedef struct _cl_mem *            cl_mem;` の `struct` を剥がす → 剥がした

[2018-08-09 11:15] ghost commented on #3
### 現状
headercvt で生成した宣言群をファイルに出力し、 clpy のビルドが通った。

headercvt の実行を `clpy_setup_build.py` に組み込み、clpy のビルド時に自動適用するように変更中。libTooling はデフォルトのインクルードディレクトリをもたないため、何らかの方法で取得し、 `-I` を渡す必要がある。

### メモ
* インクルードディレクトリ関連 :heavy_check_mark:
    * https://clang.llvm.org/docs/LibTooling.html#builtin-includes
    * `ignoring nonexistent directory "/home/<username>/repo/clpy/headercvt/../lib/clang/6.0.0/include"`

[2018-08-14 06:27] ghost commented on #7
I create pure OpenCL program in c.
The program make huge char array, and invert sign of all elements in the array by using OpenCL, and check calculation results.
I run it at vega machine.

vega OpenCL information
[code]

Test with 2^30 (=1073741824) elements was passed.
Test with 2^30 *1.5 (=1610612736) elements was passed.
Test with 2^31 (=2147483648) elements was passed.
Test with 2^31 + 1 (=214

[2018-08-14 07:16] ghost commented on #7
I run it at titanv machine.
titanv OpenCL information
[code]

Test with 2^30 (=1073741824) elements was passed.
Test with 2^30 *1.5 (=1610612736) elements was passed.
Test with 2^31 (=2147483648) elements was passed.
Test with 2^31 + 1 (=2147483649) elements was failed.
Test with 2^31 *1.5 (=3221225472) elements was failed.
(result(that was all zero array) is not correct)

2^30 > 1024 * 1024 * 64

[2018-08-14 07:25] ghost commented on #7
I run it at furyx machine.
furyx OpenCL information
[code]

Test with 2^31 (=2147483648) elements was passed.

2^31 > 1024 * 1024 * 1024 = 2^30.
So I expect error at test with 2^31 elements, but the case was passed.

[2018-08-14 08:02] ghost commented on #7
These test shows that, calculation with huge global size more than Max work item size will not cause explicit error.
And, problem will not happen while 2^31 *1.5 elements calculation.
But, 2^31 *1.5 elements calculation (and maybe also more than 2^31 *1.5 elements) will cause incorrect result or too long execution time which is not scaled.

[2018-08-14 08:04] ghost commented on #7
test codes
[code]
[code]

[2018-08-16 02:56] telmin opened #42 ""RuntimeError: Build ultima is failed." occured"
d053ee1904880f86b4ea0cbd5146431fded9b029 をビルドしようとした際、Ultimaのビルドで以下のエラーが発生します。

[code]

使用している環境は
- Ubuntu 18.04 LTS
- CUDA 9.2
- LLVM Clang 6.0
    - LLVMとClangのみビルド。ほかのOptionalなものはビルドしてない

です。

どなたか何かご存知でしょうか？

[2018-08-16 03:09] vorj commented on #42
Ultimaを書いた者です。

おそらくですが、LLVM Clangのビルド時にC++11 ABIを使わずにlibToolingをビルドしていて、Ultimaのビルド時にC++11 ABIを有効にしてビルドしてしまっているので、そこでlibToolingのいくつかのシンボルがリンクエラーになっている、というように見えます。
少し手元で調査してみます。

[2018-08-16 04:18] LWisteria commented on #42
https://github.com/fixstars/clpy#recommended-system にあるとおり、開発時には16.04を使っているので、その違いということはないでしょうか？
コンパイラその他のライブラリのバージョンが変わりましたし、そもそも18.04 LTSはまだ出たばかりなので安定性に疑問があります・・・。

[2018-08-16 05:16] telmin commented on #42
コメントありがとうございます。16.04でも試してみます。

[2018-08-16 05:26] vorj commented on #42
再現できました。やはりlibToolingがC++11 ABIを使わずにビルドされていることが問題で、CMakeを使ってLLVM Clangをビルドしている場合、 `cmake` コマンドのオプションに `-DCMAKE_CXX_FLAGS="-D_GLIBCXX_USE_CXX11_ABI=1"` を追加してビルドすることで解決すると思います。

[2018-08-16 06:04] vorj commented on #42
@telmin 念の為確認なのですが、エラーが発生した環境で使用していたGCCのバージョンを教えていただけますでしょうか

[2018-08-16 06:05] telmin commented on #42
@vorj ご確認ありがとうございます。こちらでも上記オプションを付与してClangをビルド中です
gccのバージョンは以下になります。

[code]

[2018-08-16 06:53] vorj commented on #42
@telmin バージョン確認ありがとうございます。
以下のbashスクリプトの実行結果を教えていただけますでしょうか。

[code]

[2018-08-16 07:57] ghost commented on #3
*titanv* で開発していたが、 *vega* で動かしたら:

`union _cl_image_desc::(anonymous at /usr/include/CL/cl.h:116:5)`

[2018-08-16 11:53] telmin commented on #42
遅くなってすいません。
貼っていただいたスクリプトの実行結果は以下のようになっています。
[code]

[2018-08-17 03:08] vorj commented on #42
C++11 ABIはGCC 5以降(に付属のlibstdc++)で実装されており、ディストリビューションやユーザーが設定を変更しない限りデフォルトでC++11 ABIを使用するようになっています。
また、Ubuntuは16.04/18.04共にその設定を変更していません。
さらに、telminさんに実行していただいたスクリプトの結果から、お手元のGCCでもデフォルトでC++11 ABIが有効なようです。

LLVM/ClangがC++03 ABIでビルドされた状況ですが、考えられるのは以下の3つです。

1. C++11 ABIが存在しないGCC(4以前)でClangをビルドした
    - Ubuntuのパッケージで入れている場合はCMakeに `-DCMAKE_CXX_COMPILER=g++-4.9` を渡すなどする必要があります。
    - わざわざGCC 4以前をインストールさ

[2018-08-17 13:51] telmin commented on #42
詳細なご確認、ありがとうございます。
ちょっと手元の環境がぶっ壊れてしまったので、確認まで少しお時間ください…

確認できましたらまた書き込みます

[2018-08-20 07:56] LWisteria opened #45 "Release v2.1.0beta"
* [ ] Close or triage all related issues https://github.com/fixstars/clpy/milestone/1
* [x] Modify [README.md](https://github.com/fixstars/clpy/blob/clpy/README.md)
* [x] Modify [_version.py](https://github.com/fixstars/clpy/blob/clpy/clpy/_version.py)
* [ ] Release v2.1.0b0 (plan on 2018-08-23)

[2018-08-20 08:38] telmin commented on #42
@vorj 遅くなりました。すいません。

Ubuntu 16.04環境下でUltimaのビルドが通ることを確認できました。
色々とご対応ありがとうございました。

[2018-08-20 08:44] vorj commented on #42
@telmin ご報告ありがとうございます！ビルドが通ってよかったです。

ClangのABIを確認し、それに合わせてUltimaをビルドするよう #46 にて修正を行いました。
当該PRがマージされ次第このissueは閉じます。

[2018-08-20 08:46] telmin commented on #42
@vorj #46 のご対応も、併せてありがとうございます！

[2018-08-20 08:48] LWisteria commented on #42
@telmin thanks for reporting!

@vorj thank you PR

[2018-08-20 08:48] #42 closed

[2018-08-20 08:48] vorj commented on #42
#46 がマージされたので閉じます。

[2018-08-21 02:55] LWisteria commented on #41
@t-kitawaki take this please

[2018-08-21 02:57] LWisteria commented on #3
#43 resolved this issue. Thanks!

[2018-08-21 02:57] #3 closed

[2018-08-21 03:01] LWisteria commented on #45
All issues are closed/triaged except this and #41

[2018-08-21 03:04] ghost commented on #41
ok. I take it.

[2018-08-21 03:46] ghost commented on #41
cannot run ImageNet example due to error at vega.
[code]

[2018-08-21 03:47] LWisteria commented on #41
oh...

@vorj do you have any ideas?

[2018-08-21 03:53] ghost commented on #41
cannot run ImageNet example due to error at titanv too.
[code]

[2018-08-21 03:55] LWisteria commented on #41
I confirmed this problem.

@t-kitawaki Please make a issue and report this problem.

[2018-08-21 04:07] t-kitawaki opened #47 "Can not run ImageNet example"
Can not run ImageNet example due to runtime error at vega and titanv.
error at vega
[code]
error at titanv
[code]

[2018-08-21 04:59] ghost commented on #47
full error message at vega
https://github.com/fixstars/clpy/issues/41#issuecomment-414540617
full error message at titanv
https://github.com/fixstars/clpy/issues/41#issuecomment-414541583

[2018-08-21 04:59] ghost commented on #41
@LWisteria I made issue and report this.

[2018-08-21 05:01] LWisteria commented on #41
@t-kitawaki Thank you. Continue this work after resolve #47.

[2018-08-21 05:03] LWisteria commented on #47
@vorj @t-kitawaki please investigate this problem

[2018-08-21 05:33] telmin opened #48 "OpenCL source build error in ultima"
Hi

I got error in ultima when kernel compiling.
Could you give some advice please...

thanks.

- System information
    - Ubuntu 16.04
    - CUDA 9.2
    - Geforce GTX1080Ti

- error message.
[code]

- backtrace

[code]

[2018-08-21 07:43] ghost commented on #41
update machine specs
- Primary machine (furyx)
    - OS: Ubuntu 16.04.5 LTS
    - CPU: Core i7-4790
    - MEM: 16GB
    - GPU: AMD Radeon R9 Fury X
    - SDK: amdgpu-pro-17.50-511655
- New Primary machine (vega)
    - OS: Ubuntu 16.04.5 LTS
    - CPU: Core i7-7700
    - MEM: 8GB
    - GPU: AMD Radeon Vega Frontier Edition (Air Cooled)
    - SDK: amdgpu-pro-18.20-621984
- Secondary machine (gf1060)

[2018-08-21 07:45] LWisteria commented on #41
@t-kitawaki Now we call vega and titanv just "primary" and "secondary" (see README). Therefore, furyx and gf1060 should be called "old" primary/secondary.

[2018-08-21 07:47] ghost commented on #41
ok.
- Primary machine (vega)
    - OS: Ubuntu 16.04.5 LTS
    - CPU: Core i7-7700
    - MEM: 8GB
    - GPU: AMD Radeon Vega Frontier Edition (Air Cooled)
    - SDK: amdgpu-pro-18.20-621984
- Old Primary machine (furyx)
    - OS: Ubuntu 16.04.5 LTS
    - CPU: Core i7-4790
    - MEM: 16GB
    - GPU: AMD Radeon R9 Fury X
    - SDK: amdgpu-pro-17.50-511655
- Secondary machine (titanv)
    - OS: Ubuntu

[2018-08-21 07:54] vorj commented on #48
@telmin Thank you for reporting.
Unfortunately, the problem didn't occur in our environment.
However, your backtrace told me that `clang::Decl::getAttrs` needs pre-check with `clang::Decl::hasAttrs` .

I fixed the problem in [48-fix-ultima-crash](https://github.com/fixstars/clpy/tree/48-fix-ultima-crash) .
Would you please check and report behavior of ultima in this branch?

[2018-08-21 08:17] ghost commented on #41
Example settings
- ImageNet
    - src: chainer/examples/imagenet/train_imagenet.py
    - change: Change train_imagenet.py as below to get elapsed_time.
    - cmd: python train_imagenet.py /path/to/traindata/train.ssv /path/to/traindata/val.ssv -B10 -E1 -g0
    - execution time: See elapsed_time at iteration 2000.

[code]

[2018-08-21 08:26] ghost commented on #41
- [ ] vega :
- [ ] titanv :
- [x] titanv(cuda) : 215.747
- [ ] furyx :
- [ ] gf1060 :
- [ ] gf1060(cuda) :

[2018-08-21 08:38] telmin commented on #48
@vorj
Thank you. I'll try that branch.

[2018-08-21 08:55] vorj opened #51 "Support CArray member functions"
`CArray` class in CuPy has some member functions:
- [x] `int size() const`
- [x] `const ptrdiff_t* shape() const`
- [x] `const ptrdiff_t* strides() const`

Current ClPy doesn't support to use these member functions.

[2018-08-21 09:01] LWisteria commented on #51
You should revert acf60b261a25aa0bfbe4c2a937915b22282f3484 when you resolve this issue.

[2018-08-21 09:02] telmin commented on #48
@vorj
I tried 48-fix-ultima-crash. Unfortunately, error is still occurring.
is something wrong with my clang/llvm?
Could you tell me your clang/llvm version please.

- message
[code]

- backtrace

[code]

[2018-08-21 09:05] LWisteria commented on #47
@t-kitawaki do you confirm that this problem was fixed?

[2018-08-21 09:06] vorj commented on #48
@telmin
We use clang 6.0.0.

[code]

[2018-08-21 09:10] ghost commented on #47
@LWisteria I got another error message...
titanv and vega output same error messages.
[code]

[2018-08-21 09:12] telmin commented on #48
@vorj
hmm... I used the same version is ...
[code]

Did you install clang/llvm via apt?

[2018-08-21 10:05] vorj commented on #48
@telmin No, our clang is built from source codes.

Your libTooling throws errors of "assertion failed".
It seems that our clang skips assertion check, because it is built with Release mode.
I'll test with clang built with Debug mode.

[2018-08-21 11:31] vorj commented on #47
@LWisteria @t-kitawaki Sorry, it's my fault. I fixed the problem at #52, and I confirmed that ImageNet example starts to run.

[2018-08-22 01:46] nsakabe-fixstars opened #54 "`headercvt`ing on every installation modifies `*.pxi` files' timestamps"
and that costs us much building time.

[2018-08-22 01:52] LWisteria commented on #47
@nsakabe-fixstars can you check this issue was solved?

[2018-08-22 01:53] LWisteria commented on #41
@nsakabe-fixstars please continue this issue after #47

[2018-08-22 02:20] telmin commented on #48
@vorj
Thank you for your information.
I'll build and test clang with Release mode.

[2018-08-22 02:34] ghost commented on #47
I also confirmed starting training ImageNet with the #52 pull-req.

[2018-08-22 02:40] ghost commented on #41
* titanv: 153.185

[2018-08-22 02:48] ghost commented on #41
* vega: 690.28

[2018-08-22 03:01] LWisteria commented on #47
OK, thanks all!

[2018-08-22 03:01] #47 closed

[2018-08-22 03:19] ghost commented on #41
* furyx: 581.927

[2018-08-22 03:52] ghost commented on #41
* gf1060: 407.442

[2018-08-22 04:11] telmin commented on #48
@vorj
I rebuilt clang with Release mode and test.
48-fix-ultima-crash got error. but clpy branch worked without error.

this problem was caused by clang build mode, I guess...

[2018-08-22 05:21] vorj commented on #48
@telmin Thank you for testing. I need a little more time to set up the environment.

I want to know the error on 48-fix-ultima-crash. Or is the error the same as [this one](https://github.com/fixstars/clpy/issues/48#issuecomment-414604124)?

[2018-08-22 05:33] ghost commented on #41
* gf1060(cuda9.2, cuDNN 7.1, Chainer 3.3.0, CuPy 2.1.0): 129.613

[2018-08-22 05:41] ghost commented on #41
* titanv(cuda 9.2, cuDNN 7.1, Chainer 3.3.0, CuPy 2.1.0): 118.442

[2018-08-22 05:59] telmin commented on #48
@vorj
oops, sorry.
the error is the same as that.

[2018-08-22 06:13] LWisteria commented on #41
@nsakabe-fixstars I updated this issue's goal. Please update all example's

[2018-08-22 06:17] ghost commented on #41
@LWisteria OK. I'm working on performance tests.

[2018-08-22 06:24] vorj opened #56 "Headercvt Should Support Clang and libTooling built with C++03 ABI"
LLVM/Clang built with C++03 ABI can't build current `headercvt` .
We should support it.

#46 is helpful for resolve this issue.

[2018-08-22 07:04] ghost commented on #41
These examples' execution times have been measured.

| machine       | gpu          | mnist    | ptb         | word2vec  | ImageNet   |
| ------------  | ----------   | -------- | ----------- | --------- | ---------- |
| primary       | vega         | 109.745  | 1157.57     | 499.036   | 690.28     |
| old primary   | furyx        | 128.843  | 896.225     | 609.921   | 581.927    |
| secondary

[2018-08-22 07:08] ghost commented on #41
Also, new `chainer_example_performance_report.md` for updating wiki is ready.

[2018-08-22 07:18] LWisteria commented on #45
#41 should be closed after release.

[2018-08-22 07:18] LWisteria commented on #45
https://github.com/fixstars/clpy/releases/tag/v2.1.0b0 was released!

[2018-08-22 07:18] #45 closed

[2018-08-22 07:19] LWisteria commented on #41
@nsakabe-fixstars please update wiki page!

[2018-08-22 07:26] ghost commented on #41
Done! https://github.com/fixstars/clpy/wiki/chainer_example_performance_report/_compare/b9048f58a8a54fe232ab7d499e0f1d1e8e703c02...062754b645606cf279a55abf0bf1fa605026f8c2

[2018-08-22 07:30] LWisteria commented on #41
@nsakabe-fixstars thanks!

[2018-08-22 07:30] #41 closed

[2018-08-22 07:55] LWisteria commented on #31
Candidate external libs:

* clBLAS https://github.com/clMathLibraries/clBLAS
* CLBLAST https://github.com/CNugteren/CLBlast

[2018-08-22 07:58] vorj commented on #48
@telmin I am sorry to have kept you waiting so long.
I set up assertion-enabled clang and confirmed the error.
Finally, I found the bug and fixed it. I think that it works fine.
Please pull the branch and test it.

[2018-08-22 08:28] telmin commented on #48
@vorj
Thank you!
I made sure that 48-fix-ultima-crash works perfectly.
Thank you so much for your support.

[2018-08-22 08:45] vorj commented on #48
@telmin
Thank you for your repoting and patience.
I will make a PR and close this issue.

[2018-08-22 10:32] vorj commented on #51
It seems that supporting `size()` and `strides()` is not simple.
- Current `CArray` of ClPy doesn't have `size_` data member, so we can't return valid value with `CArray::size()` .
- Current `CArray::strides_` of ClPy has different value from `CArray::strides_` of CuPy.
  It seems that ClPy's one has number of elements, and [CuPy's one has number of bytes](https://docs-cupy.chainer.org/en/stable/r

[2018-08-23 23:40] #48 closed

[2018-08-24 06:24] ghost commented on #54
I'm closing this because the PR #59 has been merged.

[2018-08-28 02:14] ghost commented on #7
These investigation show that one dimension huge array bigger than 2^31(=2147483648) calculation by openCL in primary and secondary  machine will fail.
(I think threshold whether fail test will be different number depends on GPU. In this case that was same.)
And fail condition is different.
Primary machine (vega) is stopped (and need manual suspend) and secondary machine (titanv) return incorrect

[2018-08-28 03:55] ghost commented on #7
I try to reproduce them in clpy ElementwiseKernel.
In primary machine I can not reproduce them due to MemoryError.
(because primary machine has only 8GB main memory)
In secondary machine I can reproduce them.
(Error happen with same size of array)

[2018-08-28 07:26] ghost commented on #7
@LWisteria
I think, I (or we?) had misunderstanding for limitation of openCL work item size.
Both CL_DEVICE_MAX_WORK_ITEM_SIZES and CL_DEVICE_MAX_WORK_GROUP_SIZE is limitation for work-items in a work-group (local work item size).
And global work item size has no limitation generally.
That's why I can not find error when global work item size exceeds CL_DEVICE_MAX_WORK_ITEM_SIZES and CL_DEVICE_MAX

[2018-08-28 08:06] ghost commented on #7
For our reference, I search huge array calculation in CUPY.
CUPY can not calculate huge array too (but limitation size was different)

I try this code
[code]
and get memory error
[code]

[2018-08-30 02:08] ghost commented on #2
(OpenCL C Version に関しては) `headercvt` の出力する `preprocessor_defines.pxi` に
[code]

があるからこれを見れば良い?

[2018-08-30 02:14] ghost commented on #2
* Platform version
* Device version
* Device OpenCL C version

のどれを(あるいは全部)チェックするかどうか。

[2018-08-30 02:35] ghost commented on #2
@nsakabe-fixstars お願いします！

[2018-08-30 06:52] ghost commented on #2
ビルド時にいの一番にバージョンチェックを走らせて

* OpenCL C >= 1.2
* Platform(#0) Version >= 1.2

を保証することができました(右辺は簡単に変更可能)。

同じプログラムで、実行時に

* Device(#n) Version >= 1.2

を確認することができるので、これから `env.pyx` に組み込もうと思いますが、マルチデバイスの対応方針が決まるまでは真面目に作り込まないほうがよさそうです。

[2018-08-30 07:45] ghost commented on #4
Device version check routine in [env.pyx](https://github.com/fixstars/clpy/blob/clpy/clpy/backend/opencl/env.pyx)
should be improved after multi device support is in service.

[2018-08-30 08:30] vorj opened #64 "Pass all tests"
Current ClPy doesn't pass all tests in `tests` directory.
We should support, remove, or fix all tests.

- [ ] `clpy_tests`
    - [x] `binary_tests`
    - [ ] `core_tests`
        - [x] `test_carray.py`
        - [x] `test_core.py`
        - [ ] `test_cupy_aliased_ndarray.py`
        - [x] `test_elementwise.py`
        - [x] `test_flags.py`
        - [ ] `test_function.py`
        - [ ] `test_fusio

[2018-08-31 10:35] vorj commented on #64
Some tests depend on [`inclusive_scan`](https://github.com/fixstars/clpy/blob/eb17d3a0f0222efb410f140ff19ec653d74284b7/clpy/core/core.pyx#L4247-L4283) which is not ported from CUDA C++ to OpenCL C in current ClPy. We should port it.

[2018-09-04 04:22] ghost commented on #7
I test less memory usage and huge global work item size (2^35) openCL program.
And I confirmed that openCL can run huge global work item program, unless try to using too many memory.

test code
[code]

[code]

[2018-09-04 05:39] t-kitawaki opened #70 "Pass clpy_tests/core_tests/test_cupy_aliased_ndarray.py"
We should support, remove, or fix clpy_tests/core_tests/test_cupy_aliased_ndarray.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_cupy_aliased_ndarray.py

[2018-09-04 05:40] t-kitawaki opened #71 "Pass clpy_tests/core_tests/test_function.py"
We should support, remove, or fix clpy_tests/core_tests/test_function.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_function.py

[2018-09-04 05:41] t-kitawaki opened #72 "Pass clpy_tests/core_tests/test_fusion.py"
We should support, remove, or fix clpy_tests/core_tests/test_fusion.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_fusion.py

[2018-09-04 05:42] t-kitawaki opened #73 "Pass clpy_tests/core_tests/test_ndarray_adv_indexing.py"
We should support, remove, or fix clpy_tests/core_tests/test_ndarray_adv_indexing.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_ndarray_adv_indexing.py

[2018-09-04 05:43] t-kitawaki commented on #73
depends on #61, inclusive_scan

[2018-09-04 05:43] t-kitawaki opened #74 "Pass clpy_tests/core_tests/test_ndarray_complex_ops.py"
We should support, remove, or fix clpy_tests/core_tests/test_ndarray_complex_ops.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_ndarray_complex_ops.py

[2018-09-04 05:43] t-kitawaki commented on #74
related: #29

[2018-09-04 05:45] t-kitawaki opened #75 "Pass clpy_tests/core_tests/test_ndarray_scatter.py"
We should support, remove, or fix clpy_tests/core_tests/test_ndarray_scatter.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_ndarray_scatter.py

[2018-09-04 05:46] t-kitawaki opened #76 "Pass clpy_tests/core_tests/test_scan.py"
We should support, remove, or fix clpy_tests/core_tests/test_scan.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_scan.py

[2018-09-04 05:47] t-kitawaki opened #77 "Pass clpy_tests/core_tests/test_userkernel.py"
We should support, remove, or fix clpy_tests/core_tests/test_userkernel.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_userkernel.py

[2018-09-04 05:49] t-kitawaki opened #78 "Pass clpy_tests/creation_tests/test_from_data.py"
We should support, remove, or fix clpy_tests/creation_tests/test_from_data.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/creation_tests/test_from_data.py

[2018-09-04 05:50] t-kitawaki opened #79 "Pass clpy_tests/indexing_tests/test_generate.py"
We should support, remove, or fix clpy_tests/indexing_tests/test_generate.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/indexing_tests/test_generate.py

[2018-09-04 05:51] t-kitawaki opened #80 "Pass clpy_tests/indexing_tests/test_indexing.py"
We should support, remove, or fix clpy_tests/indexing_tests/test_indexing.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/indexing_tests/test_indexing.py

[2018-09-04 05:51] t-kitawaki opened #81 "Pass clpy_tests/indexing_tests/test_insert.py"
We should support, remove, or fix clpy_tests/indexing_tests/test_insert.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/indexing_tests/test_insert.py

[2018-09-04 05:52] t-kitawaki opened #82 "Pass clpy_tests/logic_tests/test_comparison.py"
We should support, remove, or fix clpy_tests/logic_tests/test_comparison.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/logic_tests/test_comparison.py

[2018-09-04 05:52] t-kitawaki opened #83 "Pass clpy_tests/logic_tests/test_content.py"
We should support, remove, or fix clpy_tests/logic_tests/test_content.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/logic_tests/test_content.py

[2018-09-04 05:53] t-kitawaki opened #84 "Pass clpy_tests/logic_tests/test_ops.py"
We should support, remove, or fix clpy_tests/logic_tests/test_ops.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/logic_tests/test_ops.py

[2018-09-04 05:53] t-kitawaki opened #85 "Pass clpy_tests/logic_tests/test_truth.py"
We should support, remove, or fix clpy_tests/logic_tests/test_truth.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/logic_tests/test_truth.py

[2018-09-04 05:54] t-kitawaki opened #86 "Pass clpy_tests/logic_tests/test_type_test.py"
We should support, remove, or fix clpy_tests/logic_tests/test_type_test.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/logic_tests/test_type_test.py

[2018-09-04 05:55] t-kitawaki opened #87 "Pass clpy_tests/manipulation_tests/test_transpose.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_transpose.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_transpose.py

[2018-09-04 05:56] t-kitawaki opened #88 "Pass clpy_tests/manipulation_tests/test_tiling.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_tiling.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_tiling.py

[2018-09-04 05:57] t-kitawaki opened #89 "Pass clpy_tests/manipulation_tests/test_split.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_split.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_split.py

[2018-09-04 05:57] t-kitawaki opened #90 "Pass clpy_tests/manipulation_tests/test_shape.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_shape.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_shape.py

[2018-09-04 05:57] t-kitawaki opened #91 "Pass clpy_tests/manipulation_tests/test_rearrange.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_rearrange.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_rearrange.py

[2018-09-04 05:58] t-kitawaki opened #92 "Pass clpy_tests/manipulation_tests/test_kind.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_kind.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_kind.py

[2018-09-04 05:58] t-kitawaki opened #93 "Pass clpy_tests/manipulation_tests/test_join.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_join.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_join.py

[2018-09-04 05:59] t-kitawaki opened #94 "Pass clpy_tests/manipulation_tests/test_dims.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_dims.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_dims.py

[2018-09-04 05:59] t-kitawaki opened #95 "Pass clpy_tests/manipulation_tests/test_basic.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_basic.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_basic.py

[2018-09-04 05:59] t-kitawaki opened #96 "Pass clpy_tests/manipulation_tests/test_add_remove.py"
We should support, remove, or fix clpy_tests/manipulation_tests/test_add_remove.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/manipulation_tests/test_add_remove.py

[2018-09-04 06:03] t-kitawaki opened #97 "Pass clpy_tests/sorting_tests/test_sort.py"
We should support, remove, or fix clpy_tests/sorting_tests/test_sort.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/sorting_tests/test_sort.py

[2018-09-04 06:03] t-kitawaki opened #98 "Pass clpy_tests/sorting_tests/test_search.py"
We should support, remove, or fix clpy_tests/sorting_tests/test_search.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/sorting_tests/test_search.py

[2018-09-04 06:03] t-kitawaki opened #99 "Pass clpy_tests/sorting_tests/test_count.py"
We should support, remove, or fix clpy_tests/sorting_tests/test_count.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/sorting_tests/test_count.py

[2018-09-04 06:05] t-kitawaki opened #100 "Pass clpy_tests/statics_tests/test_order.py"
We should support, remove, or fix clpy_tests/statics_tests/test_order.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/statics_tests/test_order.py

[2018-09-04 06:05] t-kitawaki opened #101 "Pass clpy_tests/statics_tests/test_meanvar.py"
We should support, remove, or fix clpy_tests/statics_tests/test_meanvar.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/statics_tests/test_meanvar.py

[2018-09-04 06:05] t-kitawaki opened #102 "Pass clpy_tests/statics_tests/test_histogram.py"
We should support, remove, or fix clpy_tests/statics_tests/test_histogram.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/statics_tests/test_histogram.py

[2018-09-04 06:06] t-kitawaki opened #103 "Pass clpy_tests/statics_tests/test_correlation.py"
We should support, remove, or fix clpy_tests/statics_tests/test_correlation.py
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/statics_tests/test_correlation.py

[2018-09-04 06:27] t-kitawaki opened #104 "Pass clpy_tests/ext_tests"
We should support, remove, or fix clpy_tests/ext_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/ext_tests

[2018-09-04 06:28] t-kitawaki opened #105 "Pass clpy_tests/io_tests"
We should support, remove, or fix clpy_tests/io_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/io_tests

[2018-09-04 06:29] t-kitawaki opened #106 "clpy_tests/linalg_tests"
We should support, remove, or fix clpy_tests/linalg_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/linalg_tests

[2018-09-04 06:29] t-kitawaki opened #107 "Pass clpy_tests/padding_tests"
We should support, remove, or fix clpy_tests/padding_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/padding_tests

[2018-09-04 06:30] t-kitawaki opened #108 "Pass clpy_tests/math_tests"
We should support, remove, or fix clpy_tests/math_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/math_tests

[2018-09-04 06:30] t-kitawaki opened #109 "Pass clpy_tests/random_tests"
We should support, remove, or fix clpy_tests/random_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/random_tests

[2018-09-04 06:31] t-kitawaki opened #110 "Pass clpy_tests/prof_tests"
We should support, remove, or fix clpy_tests/prof_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/prof_tests

[2018-09-04 06:31] t-kitawaki opened #111 "Pass clpy_tests/sparse_tests"
We should support, remove, or fix clpy_tests/sparse_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/sparse_tests

[2018-09-04 06:32] t-kitawaki opened #112 "Pass clpy_tests/testing_tests"
We should support, remove, or fix clpy_tests/testing_tests
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/testing_tests

[2018-09-04 06:33] t-kitawaki opened #113 "Pass example_tests"
We should support, remove, or fix
https://github.com/fixstars/clpy/blob/clpy/tests/example_tests

[2018-09-04 06:33] t-kitawaki opened #114 "Pass install_tests"
We should support, remove, or fix install_tests
https://github.com/fixstars/clpy/blob/clpy/tests/install_tests

[2018-09-06 02:14] ghost commented on #8
`clEnqueueFillBuffer` を使うには:
* dtypeに応じた適切なデータパターンを生成して
* そのポインタとバイト数(`sizeof(dtype)`)を渡す

必要がある。

[2018-09-06 04:04] ghost commented on #8
fill() だけ clEnqueueFillbuffer 版にしたところ、 `test_ndarray_indexing.py:test_setitem_partial_constant` だけ落ちるようになってしまったが、ずれかたが謎

[code]

[`test_setitem_partial_constant`](https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/core_tests/test_ndarray_indexing.py#L131) here.
[code]

添字 `[]` をとったときにバッファのビューみたいなのが作られて、そのなかでオフセットを考慮しないとこうなる…? cupy の fill はそういうことをしていない為納得いかない。( [cupy.memoryで良きに計らっている??](ht

[2018-09-06 04:19] ghost commented on #8
MemoryPointer.cl_mem_offset() というのができているのを見逃していました。

[2018-09-06 06:13] koji123 opened #117 "resnet50が動かない / resnet50 doesn't work"
コマンド
[code]

エラー
[code]

[2018-09-06 06:15] LWisteria commented on #117
@koji123 Thanks for reporting. I confirm this problem occurs.

@nsakabe-fixstars please fix (and add test if you can)

[2018-09-06 08:54] ghost commented on #8
* nvidia ランタイムで fill するサイズが 2GiB を超えるとしぬ
* そもそも EnqueueFillBuffer を使うと早くなったのか?
    * _vega_ でパフォーマンス計測をしてみる: 1000回 `fill(42)`, 配列 1024\*2048\*1024
        * elementwisecopy `python fill.py  1.52s user 0.74s system 9% cpu 23.867 total`
        * Enqueue  `python fill.py  1.13s user 0.51s system 6% cpu 23.993 total`
    * _titanv_ でパフォーマンス計測: 1000回 `fill(42)`, 配列 1024\*1024\*1024
        * elementwi

[2018-09-06 09:31] ghost commented on #8
@LWisteria
というわけで、(nvidia ランタイムバグってるし、) [実際に動かしてみて](https://github.com/fixstars/clpy/compare/clpy...fixstars:b598a3a)も clEnqueueFillBuffer を使うことにそれほど意味がなさそうです。
如何しましょうか。

[2018-09-06 12:00] vorj commented on #51
All of CArray member functions have been supported. This issue is resolved.

[2018-09-06 12:00] #51 closed

[2018-09-07 03:28] #70 closed

[2018-09-07 03:28] #81 closed

[2018-09-07 03:28] #105 closed

[2018-09-07 03:28] #112 closed

[2018-09-07 03:28] #82 closed

[2018-09-07 03:28] #84 closed

[2018-09-07 03:28] #87 closed

[2018-09-07 03:28] #88 closed

[2018-09-07 03:28] #89 closed

[2018-09-07 03:28] #90 closed

[2018-09-07 03:28] #92 closed

[2018-09-07 03:28] #93 closed

[2018-09-07 03:28] #94 closed

[2018-09-07 03:28] #100 closed

[2018-09-07 03:28] #107 closed

[2018-09-07 03:31] LWisteria commented on #64
Now indivisual tests are on each issues.

[2018-09-07 03:31] #64 closed

[2018-09-07 05:38] #99 closed

[2018-09-07 05:54] #104 closed

[2018-09-13 03:26] ghost commented on #72
Related: https://github.com/fixstars/clpy/pull/118

[2018-09-13 03:54] nsakabe-fixstars commented on #71
[compiler.compile_with_cache が無い](https://github.com/fixstars/clpy/blob/8ddcad4820365ac8e67d63a7e9f825a8c8aa755e/tests/clpy_tests/core_tests/test_function.py#L11)から、 `opencl.utility.CreateProgram` を叩くことになるけど、(引数の型の都合で) Pure Python からこれを叩くのは無理かも。CreateProgramの更なるwrapperが必要な可能性がある。

[2018-09-13 06:21] ghost commented on #71
こちら取り組んでいます。カーネル書き換え中

[2018-09-13 08:17] ghost commented on #73
~~以下を実装する(書き換える)~~ 済

* `clpy.core.core._inclusive_scan_kernel`
* `clpy.core.core._scatter_op` 系

[2018-09-13 09:38] #101 closed

[2018-09-13 09:38] #117 closed

[2018-09-14 02:07] #56 closed

[2018-09-14 05:45] vorj commented on #72
- [ ] import from fusion
- [ ] fp32->fp16 conversion on GPU
- [ ] C++ constructor support
- [ ] revert `min_max_st` implementation to CuPy's one, and fix it for ultima
- [ ] fix fusion.py for ClPy
- [ ] fix reduction kernel generation
- [ ] suppress "assigning to const variable" test
- [ ] add `M_PI` to stub header

[2018-09-18 01:48] ghost commented on #77
I'll try it.

[2018-09-18 02:46] LWisteria commented on #7
We do not have to modify something for this issue. Thanks for investigation!

[2018-09-18 02:46] #7 closed

[2018-09-18 03:26] ghost commented on #109
Add test for RandomState.uniform due to implemented it at #122 .

[2018-09-18 03:30] LWisteria commented on #109
There's test for uniform on [CuPy upstream](https://github.com/cupy/cupy/blob/52a1dc5bd3e98056bd925a707fdfdca2969bd1ea/tests/cupy_tests/random_tests/test_distributions.py), therefore https://github.com/fixstars/clpy/issues/109#issuecomment-422242006 could be resolved by #33 ...?

[2018-09-18 03:35] ghost commented on #109
May be it will be resolved.
You mean this issue's task is pass random_tests with out uniform, if we take it before #33 ?

[2018-09-18 03:39] LWisteria commented on #109
It was added by https://github.com/cupy/cupy/commit/ac37b21c02ba9a3837a4cb8948e9cd4d7138eb52, therefore we don't need pass test for uniform in this issue before #33.

[2018-09-18 03:43] ghost commented on #109
I understood that.

[2018-09-18 03:45] ghost commented on #109
I try this issue.

[2018-09-18 03:48] LWisteria commented on #77
@t-kitawaki #122 resolved this issue. Thanks!

[2018-09-18 03:48] #77 closed

[2018-09-18 03:52] ghost commented on #109
- [x] test_distributions.py
- [ ] test_generator.py
 - ` ImportError: cannot import name 'curand'`
- [ ] test_permutations.py
 - ` AttributeError: module 'clpy.random' has no attribute 'shuffle'`
- [ ] test_random.py
 - `AttributeError: module 'clpy.random' has no attribute 'get_random_state'`
- [ ] test_sample.py
 - `AttributeError: module 'clpy.random' has no attribute 'randn'`

[2018-09-18 05:26] LWisteria opened #123 "Asynchronous memory transfer"
Currently, all async memory operation are implemented as sync.

* https://github.com/fixstars/clpy/blob/3fd3b234e6c43ce3ba97642280ad902b2e1e7cc8/clpy/backend/memory.pyx#L300-L301
* https://github.com/fixstars/clpy/blob/3fd3b234e6c43ce3ba97642280ad902b2e1e7cc8/clpy/backend/memory.pyx#L335-L336
* https://github.com/fixstars/clpy/blob/3fd3b234e6c43ce3ba97642280ad902b2e1e7cc8/clpy/backend/memory.pyx#L

[2018-09-18 06:39] LWisteria opened #124 "Optimize manipulation.join.concatenate for len(tup)>3"
https://github.com/fixstars/clpy/blob/3fd3b234e6c43ce3ba97642280ad902b2e1e7cc8/clpy/core/core.pyx#L2639-L2674

They are commented out in current ClPy. However, should be implement same as CuPy's due to performance problem.

[2018-09-18 07:26] LWisteria opened #127 "CI for Chainer's examples"
[Tests and examples for Chainer](https://github.com/fixstars/clpy/wiki/chainer_test_example_results) can be tested by @jenkins-maekawa .
It's better to keep our code quality if she does.

[2018-09-18 07:27] LWisteria commented on #1
Done

[2018-09-18 07:27] #1 closed

[2018-09-18 08:03] ghost commented on #109
I suspend to solve this issue.

[2018-09-18 08:15] ghost commented on #91
I'll try it.

[2018-09-20 01:20] ghost commented on #71
#120 がマージされたので閉じます

[2018-09-20 01:59] ghost commented on #96
I'm closing this since #126 has been merged.

[2018-09-20 01:59] #96 closed

[2018-09-20 01:59] ghost commented on #86
I'm closing this since #126 has been merged.

[2018-09-20 01:59] #86 closed

[2018-09-20 02:44] ghost commented on #4
Must be reverted after multi-device supported:
* https://github.com/fixstars/clpy/pull/128/commits/c68f10b4b27e90b8e3943df29844e67086014fdc
* https://github.com/fixstars/clpy/blob/cd2f8da865d760a43563f5bd826f7ea4b131734d/tests/clpy_tests/core_tests/test_scan.py#L31

[2018-09-20 02:50] ghost commented on #97
* `clpy.core.core.ndarray.argsort`
* `clpy.core.core.ndarray.sort`
* `AttributeError: module 'clpy' has no attribute 'partition'`
* `AttributeError: module 'clpy' has no attribute 'argpartition'`
* `AttributeError: module 'clpy' has no attribute 'msort'`

[2018-09-20 03:30] ghost commented on #97
We need to substitute `thrust` with something.

[2018-09-20 07:04] ghost commented on #97
バイトニックソートを使うなら:
* 要素数をたしかめて2ベキじゃないなら
    * 2ベキまでバッファを拡張(というか移動/コピー)
    * 要素の型に応じたパディング値をつめる
    * ソート
    * パディング部分を捨てて返す

大変めんどいですね… `thrust` はどうしているんだろう

[2018-09-20 10:38] vorj opened #129 "Support Clang7"
LLVM/Clang 7.0.0 was released. We should support it.

[2018-09-20 10:46] vorj commented on #129
I investigated about affected codes by Clang update.
Headercvt needs no fix.
Ultima needs some workarounds for breaking changes of Clang.

I've already fixed it and been ready to push, but the codes will get conflict with #121 .
I'll push it and make PR after #121 will be merged.

[2018-09-21 05:02] LWisteria commented on #95
#128 resolved this. Thanks

[2018-09-21 05:02] #95 closed

[2018-09-26 04:28] #129 closed

[2018-09-28 07:44] ghost commented on #85
This issue should be investigated after #131 merged (because it provides `clpy.any`) .

[2018-10-02 02:28] ghost commented on #103
This test has no test case.
So, it was almost solved by #126
This issue can be closed if add test_correlation.py to ci.

[2018-10-02 03:37] ghost commented on #78
I'll try it

[2018-10-02 06:34] LWisteria commented on #8
うーん・・・ではとりあえず「実装しない」で閉じることにします（ただしTODOは残したままにしておきます）

[2018-10-02 06:34] #8 closed

[2018-10-02 06:35] LWisteria commented on #103
#134 resolves this issue. Thanks

[2018-10-02 06:35] #103 closed

[2018-10-02 06:38] t-kitawaki opened #135 "Revert test_rearrange.py's commented out test case"
In #133 , we discuss clpy/manipulation/rearrange.py::flip()'s error type.
Current clpy v2.1.0x behave same as CuPy v2.1.0, and raise ValueError.

https://github.com/fixstars/clpy/blob/0bdaa05a25ecad3a212884ffaf305e72298b8c69/clpy/manipulation/rearrange.py#L5-L30

But it is different from numpy, and test_rearrange.py has some error.
So, we commented out 3 test cases.
https://github.com/fixstars/clp

[2018-10-02 06:51] LWisteria commented on #91
#133 resolve this issue. thanks!

[2018-10-02 06:51] #91 closed

[2018-10-02 07:54] ghost commented on #78
error at running only one gpu.
[code]

[2018-10-10 12:15] LWisteria commented on #78
#136 resolved this. Thanks!

[2018-10-10 12:15] #78 closed

[2018-10-12 02:48] ghost commented on #106
test_decomposition.py, test_eigenvalue.py, test_norms.py, test_solve.py:
* CUSolver

----

test_product.py:
* needs `dgemm` via
    * `clpy.inner`
    * `clpy.kron`
    * `clpy.outer`

`test_product.py` was confirmed to work well by enabling them after `dgemm` implemented:
[code]

[2018-10-12 08:59] ghost commented on #2
Closing this issue since #132 has been merged.

[2018-10-12 08:59] #2 closed

[2018-10-12 09:44] ghost commented on #108
test_arithmetic.py
[code]
 -> https://github.com/fixstars/clpy/pull/131#issue-217921928
* `divide`
* `floor_divide`
* `fmod`
* `power`
* `remainder`

[2018-10-12 09:46] ghost commented on #108
test_explog.py
* `exp`
* `exp2`
* `expm1`
* `log`
* `log10`
* `log1p`
* `log2`
* `logaddexp`
* `logaddexp2`

[2018-10-12 09:51] ghost commented on #106
Still needs substitution for...

test_decomposition.py, test_eigenvalue.py, test_norms.py, test_solve.py:
* cuSOLVER

[2018-10-12 09:53] ghost commented on #83
* `isnan`
* `isinf`
* `isfinite`
 -> https://github.com/fixstars/clpy/pull/131

[2018-10-12 10:00] ghost commented on #79
[Numpy Indexing Routines](https://docs.scipy.org/doc/numpy-1.15.0/reference/routines.indexing.html)
* `ix_`
* `r_`
* `c_`

[2018-10-12 10:03] ghost commented on #79
after enabling `ix_`, `c_`, `r_` ...

[_inclusive_scan_kernel](https://github.com/fixstars/clpy/blob/clpy/clpy/core/core.pyx#L4250)
should be rewritten from CUDA to OpenCL-like
 -> #139

[2018-10-12 10:05] ghost commented on #80
* `diagonal`
* `take`
* `ndarray.choose`

[2018-10-12 10:08] nsakabe-fixstars opened #139 "Rewrite _inclusive_scan_kernel from CUDA to OpenCL"
https://github.com/fixstars/clpy/blob/clpy/clpy/core/core.pyx#L4250

This helps #79, #76 and so on.

[2018-10-12 10:08] ghost commented on #76
-> #139

[2018-10-12 10:12] ghost commented on #102
after enabling `bincount` and `amax as max`, ...

[code]

[code]

[2018-10-12 10:16] ghost commented on #98
after enabling
* `where`
* `nonzero`
* `flatnonzero`
* `argmin`

inclusive_scan_kernel occurred compile errors. -> https://github.com/fixstars/clpy/issues/139

[2018-10-12 10:18] ghost commented on #75
`clpy.core.core._scatter_op_single` and https://github.com/fixstars/clpy/issues/139

[2018-10-16 03:25] ghost commented on #111
- [x] test_base.py
- [ ] test_construct.py
- [ ] test_coo.py
- [ ] test_csc.py
- [ ] test_csr.py
- [ ] test_dia.py

needs `clpy.core.core.ndarray.sort` and `cusparse` replacement

[2018-10-16 03:51] ghost commented on #113
- [ ] test_gemm.py
- [x] test_gmm.py
- [x] test_kmeans.py

[2018-10-25 02:28] ghost commented on #31
Latest CuPy uses
* {s,d}geam (core/core.pyx) - doesn't exists in clBlast
* {c,z}gemm (core/core.pyx)
* {s,d,c,z}trsm (linalg/solve.py)
* gemmEx (core/core.pyx)
* {s,d,c,z}gemmStridedBatched (core/core.pyx) - exists in clBlast

[2018-11-09 03:00] LWisteria opened #145 "Write tutorial for developers"
Complete https://github.com/fixstars/clpy/wiki/Developer's-tutorial

[2018-11-09 04:06] LWisteria commented on #145
@snsato please take this. Write the document in English but you can leave memo here in any language.

チュートリアル自体は英語で書いてほしいですが、このチケットにメモやコメントを残したりするのは日本語でも大丈夫です

[2018-11-09 04:59] snsato commented on #145
@LWisteria 承知しました。

[2018-11-09 09:36] snsato commented on #145
1. Setup CUDA and OpenCL ready enviroment

CUDAとOpenCLは既にインストールされている。

- CUDA:/usr/local/cuda
- OpenCL:/usr/local/cuda/CL

2. Try Chainer MNIST example with CuPy

CuPY is a NumPy-compatible matrix library accelerated by CUDA.

そのため、CuPYを用いるには初めにPythonを利用できるようにする必要がある。

任意のバージョンのpythonを使うことができると便利である（ClPyはpython 3.6.5が推奨されているため）。
そのため、pyenvを導入する。

pyenvの導入には2つのステップがある。
1つ目のステップはpyenvをgithubからcloneす

[2018-11-09 09:37] snsato commented on #145
清書・間違い探ししつつ英文に直していきます

[2018-11-15 06:23] ghost commented on #139
Closing this because #143 has been merged.

[2018-11-15 06:23] ghost commented on #76
Closing this because #143 has been merged.

[2018-11-15 07:10] LWisteria commented on #31
ALL BLAS Interface should be supported by ClPy is [same as CuPy](https://github.com/cupy/cupy/blob/v2.1.0/cupy/cuda/cublas.pxd), not only used by ClPy itself.

[2018-11-15 09:08] nsakabe-fixstars opened #146 "Add strsm header in clblas.pxd"
[`clblas.pxd`](https://github.com/fixstars/clpy/blob/227b750b5e5a68af19dd2bcfab6ecb33f5db449e/clpy/backend/opencl/clblast/clblast.pxd) lacks a declaration of existing `strsm` routine.

[2018-11-16 02:53] snsato commented on #145
This document is a tutorial for who is going to join ClPy development.

## 1. Setup CUDA and OpenCL ready enviroment

Download and install CUDA from this url ( https://developer.nvidia.com/cuda-downloads ).
OpenCL is embedded in CUDA.
Since the downloading / installing method is written in the link destination, omit it.

Each pass is shown below.

- CUDA:/usr/local/cuda
- OpenCL:/usr/local/cuda/CL

[2018-11-16 02:54] snsato commented on #145
@LWisteria 英語訳の第一稿ができました。レビューをよろしくお願いいたします。

[2018-11-16 03:03] neko-suki commented on #145
This should be "CuPy".

[2018-11-16 03:07] snsato commented on #145
ありがとうございます、修正させていただきます。

[2018-11-16 03:12] snsato commented on #145
同様にClPyやPythonのタイポもいくつかあったので修正します。

[2018-11-16 03:46] snsato commented on #145
This document is a tutorial for who is going to join ClPy development.

## 1. Setup CUDA and OpenCL ready environment

Download and install CUDA from this url ( https://developer.nvidia.com/cuda-downloads ).
OpenCL is embedded in CUDA.
Since the downloading / installing method is written in the link destination, omit it.

Each pass is shown below.

- CUDA:/usr/local/cuda
- OpenCL:/usr/local/cuda/i

[2018-11-16 03:47] snsato commented on #145
typoを修正しました(まだtypoが潜んでいないか怖い)

[2018-11-20 06:44] LWisteria commented on #145
は`github.com/pyenv/pyenv.git`ですね。

あと、環境の切り分けを手動でやってますが、pyenv-virtualenvを使うほうが楽なので、そっちを使ってみる方に変えてもらうことはできますか？

[2018-11-20 06:48] LWisteria commented on #145
後は良さそうです。

[2018-11-30 01:33] snsato commented on #145
This document is a tutorial for who is going to join ClPy development.

## 1. Setup CUDA and OpenCL ready environment

Download and install CUDA from this url ( https://developer.nvidia.com/cuda-downloads ).
OpenCL is embedded in CUDA.
Since the downloading / installing method is written in the link destination, omit it.

Each pass is shown below.

- CUDA:/usr/local/cuda
- OpenCL:/usr/local/cuda/i

[2018-11-30 01:38] snsato commented on #145
@LWisteria  pyenv-virtualenvに関してですが、環境の切り分けはこのような感じでよろしいでしょうか

（作業をするたびに ```pyenv shell Name``` で環境に入るのが良いのか、それとも ```pyenv local Name``` でディレクトリに入るだけで環境にはいれるようにするほうが良いのかの判断がつきませんでした）

[2018-11-30 02:47] LWisteria commented on #145
はい、とりあえずこんな感じで良いと思います。

wikiに転載をお願いします。細かいところはwikiの上でみんなで作っていきましょう。

[2018-11-30 02:52] snsato commented on #145
承知しました。

[2018-11-30 05:43] LWisteria commented on #145
https://github.com/fixstars/clpy/wiki/Developer's-tutorial を確認しました。ありがとうございました。

[2018-11-30 05:43] #145 closed

[2018-12-12 01:24] LWisteria opened #147 "pip install . does not build ultima"
According to README, we must use following command to install clpy

[code]

However

[code]

does not work because ultima is not built and installed. Why and can we fix?

[2018-12-12 01:24] LWisteria commented on #147
@vorj do you have any ideas?

[2018-12-12 03:37] LWisteria opened #149 "Release v2.1.0beta1"
* [x] Close or triage all related issues https://github.com/fixstars/clpy/milestone/2
* [x] Modify [README.md](https://github.com/fixstars/clpy/blob/clpy/README.md)
* [x] Modify [_version.py](https://github.com/fixstars/clpy/blob/clpy/clpy/_version.py)
* [ ] Release v2.1.0b1 (plan on end of 2018)

[2018-12-12 03:41] LWisteria opened #150 "Performance report for v2.1.0beta1"
Update https://github.com/fixstars/clpy/wiki/chainer_example_performance_report

[2018-12-12 03:42] LWisteria commented on #150
@snsato you're doing this.

[2018-12-12 03:43] LWisteria commented on #149
5eb99053168684d234b14aaf38062fe6f504512e is candidate.

[2018-12-12 03:47] LWisteria commented on #149
As closed issues, followings will be new feature on beta1

* OpenCL version check #2
* Support resnet50 #117
* Faster tensordot by CLBlast #31
* and other many tests are passed

[2018-12-14 01:19] snsato commented on #150
## Chainer's Example Execution time(sec)

### v2.1.0b0

| machine       | gpu          | mnist    | ptb         | word2vec  | ImageNet   |
| ------------  | ----------   | -------: | ----------: | --------: | ---------: |
| Primary       | vega         | 107.207  |1153.13 | 496.678  | 693.339    |
| Secondary     | titanv(clpy) |  78.423 | 338.38   | 192.057  | 154.288    |
| Old Primary   | furyx

[2018-12-14 01:24] snsato commented on #150
@LWisteria 計測結果は上記の通りとなります。

[2018-12-14 02:09] LWisteria commented on #150
@snsato ありがとうございます。

* vega,furyxのクロックが変動する問題を調査してもらえますか
* cupyがcudnnを使っていると思いますが、cudnn使わない（cublasのみ）の場合の結果も載せてもらえますか？

[2018-12-14 02:52] snsato commented on #150
@LWisteria 承知しました。

[2018-12-14 08:12] snsato commented on #150
## Chainer's Example Execution time(sec)

### v2.1.0b0

| machine       | gpu          | mnist    | ptb         | word2vec  | ImageNet   |
| ------------  | ----------   | -------: | ----------: | --------: | ---------: |
| Primary       | vega         | 107.207  |1153.13 | 496.678  | 693.339    |
| Secondary     | titanv(ClPy) |  78.423 | 338.38   | 192.057  | 154.288    |
| Old Primary   | furyx

[2018-12-14 08:16] snsato commented on #150
@LWisteria CuPyに関してcuDNNを無効化した場合の測定結果を追加しました。

[2018-12-17 05:25] LWisteria commented on #150
ありがとうございました。リリース後にwikiに転載します。

[2018-12-17 05:27] LWisteria commented on #149
Now all issues for beta1 are closed. I'm releasing beta1

[2018-12-17 06:56] LWisteria commented on #149
Released! https://github.com/fixstars/clpy/releases/tag/v2.1.0b1

[2018-12-17 06:56] #149 closed

[2018-12-18 06:19] LWisteria opened #153 "Why ClPy is slower than CuPy even if on the same machine?"
Accoring to [performance report](https://github.com/fixstars/clpy/wiki/chainer_example_performance_report), ClPy is slower than CuPy on both of TITAN V and GeForce 1060.

We need to know the reason (and improve if we can).

[2018-12-20 11:21] vorj commented on #108
After #131 will be merged, we can pass almost test cases by purging unsupported features (half-float and complex) like [this](https://github.com/fixstars/clpy/compare/72-test_fusion_py...vorj:pass-some-tests).

Remained problems are below:

- `test_matmul.py`
    - `test_matmul.py` requires `clpy.backend.memory.MemoryPointer.memset` .
- `test_sumprod.py`
    - `CL_INVALID_GLOBAL_WORK_SIZE` is retu

[2018-12-20 11:38] vorj commented on #83
After #131 will be merged, we can pass this test by purging unsupported features (half-float and complex) like [this](https://github.com/fixstars/clpy/compare/72-test_fusion_py...vorj:pass-some-tests).

[2018-12-20 12:27] vorj commented on #147
@LWisteria I investigated that.
When we install using `setup.py` , the install path is `/path/to/lib/python<python-version>/site-packages/clpy-<clpy-version>-py<python-version>-<target-platform>.egg` . Both `clpy` and `ultima` are installed in this directory.
However, `pip` install the package in `/path/to/lib/python<python-version>/site-packages/clpy` and ultima in `/path/to/ultima` .

I don't kn

[2018-12-21 07:59] #72 closed

[2018-12-28 00:50] LWisteria opened #154 "test_elementwise.py::test_assign_to_const_qualified_variable is disabled"
I found #131 removed a test case 0d778ba62e78fb7101b1fc45ad7343e66f490964.

What does this mean and should we enable again?

[2018-12-28 00:51] LWisteria commented on #154
@vorj can you answer?

[2019-01-18 06:59] mskym opened #155 "How can I get "llvm-config" on windows10?"
Could you give some advice please.

my environments:

When I changed directory to `"/github/clpy"` and compiled `"python setup.py install"`, this error message created.

[code]
(and many other messages were created...)

As far as I see,  the first probrem is **llvm-config.exe** is not in the bin directory.
If it's true, how can I get it?

Also,  I'd like to know whether the message `ultima.cpp:1:1

[2019-01-21 05:24] LWisteria commented on #155
@mskym Thank you for interesting report!

As [README](https://github.com/fixstars/clpy#recommended-system) says, we do not develop and test on Windows but only Linux (Ubuntu). In that environment, you can get `llvm-config` via `apt`.

I think `llvm-config` must be installed with clang installer on Windows, too. I recommend you check and understand how clang/llvm on Windows works before trying clpy

[2019-01-25 08:56] snsato commented on #108
Added math_test that pytest passes by merging https://github.com/fixstars/clpy/pull/131 to test file of jenkins.

[2019-01-26 11:16] LWisteria opened #161 "Testing function for chunked memory pool test"
Theare are many same parts for memory pool test. e.g. https://github.com/fixstars/clpy/blob/65143ed545a2f1f7662b713d8a5fd7d8327c53e4/tests/clpy_tests/opencl_tests/test_carray.py#L12-L17

Those causes maintainance risk. Unify them into a function of testing tool.

[2019-01-27 23:10] neko-suki opened #162 "Performance issue on Random Number Generation"
I found a problem on random number generation. It affects performance.

https://github.com/fixstars/clpy/blob/clpy/clpy/random/generator.py#L175

`or self.seed_array.size != numpy.prod(size)`  means when we change the size of randomly generated array, initialization process will run everytime.

The following is code for measure performance.

[code]

The following is the result of performance measu

[2019-01-31 01:08] LWisteria commented on #4
#140 and #160 resolve this issue. Thanks for your contributing!

[2019-01-31 01:09] #4 closed

[2019-01-31 01:12] LWisteria commented on #108
@snsato #158 and #159 make all math_test passed? If not, please leave a comment about which remains

[2019-02-01 01:00] neko-suki opened #165 "Genarate the same random ndarray when size of random ndarray is changed"
- Following simple program shows that when I put different shape to clpy.random.rand(), the first few elements of result in ndarray is the same.

[code]

- Following is the result. You can see that the first 2 element is the same.

[code]

The reason is to use the same seed `self.seed_value` when the size of random number array is changed.

https://github.com/fixstars/clpy/blob/clpy/clpy/random/ge

[2019-02-01 01:25] snsato commented on #108
There are math_test which do not pass in https://github.com/fixstars/clpy/pull/158 and https://github.com/fixstars/clpy/pull/159.

The remaining tests are as follows

- test_matmul.py
- test_special.py
- test_sumprod.py

[2019-02-01 06:29] LWisteria commented on #108
OK. Please keep going!

[2019-02-01 06:43] snsato commented on #83
clpy_tests/logic_tests/test_content.py passed pytest after https://github.com/fixstars/clpy/pull/131, and add jenkins TEST_FILE at https://github.com/fixstars/clpy/pull/167 .

[2019-02-01 06:45] LWisteria commented on #83
@snsato I think this issue has completed. Can I close?

[2019-02-01 06:47] snsato commented on #83
@LWisteria I think so, too. Please close this issue.

[2019-02-01 06:47] LWisteria commented on #11
af5fc6e6eb0e875a8b71c4aeb1dd4ae6806c048e in #160 unexpectedly fixed this issue.

[2019-02-01 06:47] #11 closed

[2019-02-01 06:48] LWisteria commented on #83
OK. Thank you all!

[2019-02-01 06:48] #83 closed

[2019-02-01 07:08] LWisteria commented on #153
#163 reported `clWaitForEvents` was one of the problems.

[2019-02-01 07:14] snsato commented on #79
I try to solve this issue.

[2019-02-04 05:58] LWisteria commented on #79
#168 fixed this issue. Thanks!

[2019-02-04 05:58] #79 closed

[2019-02-05 02:53] LWisteria commented on #162
@neko-suki Did #166 fix this? If so, please close.

[2019-02-05 07:05] neko-suki commented on #162
@LWisteria OK. I will close this issue.

Improved performance is written [here](https://github.com/fixstars/clpy/pull/166#issuecomment-459653468)

[2019-02-05 07:05] #162 closed

[2019-02-05 07:39] neko-suki commented on #165
I show another example since the example code in https://github.com/fixstars/clpy/issues/165#issue-405507707 is resolved by modification for #166.

- Code

[code]

- Result on the Secondary Machine

[code]

[2019-02-05 07:56] neko-suki opened #169 "Cause an error when calling `clpy.random.rand()` with empty argument"
When I call `clpy.random.rand()` with empty argument, it cause an error. I tested it on the Secondary machine.

- Following is an error log.
[code]

- The observation with `cupy` is as follows.

[code]

[2019-02-05 10:08] neko-suki commented on #169
This may be solved when `random_tests` https://github.com/fixstars/clpy/issues/109 is passed.

[2019-02-05 10:32] neko-suki commented on #165
I tried to reuse the first element of `self.seed_array[0]`. It can solve the problem.

The result of code in https://github.com/fixstars/clpy/issues/165#issuecomment-460541087 is as follows.

[code]

- Diff is as follows.
[code]

[2019-02-05 10:34] LWisteria commented on #165
How about adding influctuation to generate rand number (e.g. time) when rand() called?

[2019-02-05 10:47] neko-suki commented on #165
@LWisteria From the performance point of view, it takes much longer time only the first time the program pass through `initial_seed = self.seed_array[0]`.  I don't know the reason why it happens.

It can be reproduced every time and it happens on both of the Primary Machine and the Secondary Machine.

- code
[code]

- Result on the Primary Machine (Vega)
[code]

- Result on the Secondary Machine (

[2019-02-05 23:36] LWisteria commented on #165
I think this is not problem on random generator. It happenes the first time to execute **every** cupy/clpy kernel because it needs to initialize something in the runtime lib.

Anyway, doesn't that comment refer to my comment?

I mean, this issue (not performance, it was already solved on #162 ) could be solved if you pass time value to kernel argument and add it and each thread's seeds.

[2019-02-07 05:37] neko-suki commented on #165
I'm sorry I misread your comments.

To get and use  `time value` each time for initial seed is good idea. I'll do it. Thank you for your comments.

[2019-02-08 04:17] LWisteria commented on #153
This article (in Japanese) could help us https://qiita.com/shu65/items/42914bd2ad01d1e323da

[2019-02-08 04:33] LWisteria commented on #147
I understand. Now I make this issue as a feature request. This is not necessary but I prefer if pip install works

[2019-02-08 04:53] LWisteria commented on #74
@snsato Are you working on this issue? Please assign yourself and comment before starting to work.
e.g. https://github.com/fixstars/clpy/issues/91#issuecomment-422299281

[2019-02-11 10:05] higucheese opened #171 "linear.py fails with CLBlastInvalidValue exception"
When I run train_mnist.py with ClPy(commit id:001e27da4), I encountered the CLBlastInvalidValue exception in `linear.py`.
The exception did not happen with ClPy(tag:v2.1.0b1).
I investigated which commit causes this problem and found a commit(commit id:af5fc6e6e, "Get all devices") caused the exception.
However, the commit seems not to be associated with arguments of CLBlast;
It just enables to ge

[2019-02-11 10:14] LWisteria commented on #171
@higucheese Thanks for reporting. Firstly, I confirmed that train_mnist works on multiple GPU machine on #160. I can not confirmed the error on our [development machine](https://github.com/fixstars/clpy#recommended-system). These are my opinion.

* Development machine is multiple Radeon Vega machine (provided by SAKURA Internet), not NVIDIA's. The cl_platform is different thus there could be some

[2019-02-11 10:22] LWisteria commented on #171
The multi-Vega machine was not lost unexpectedly, thus I checked `python -m clpy train_mnist.py -g0` and no error occurred...

[2019-02-11 10:26] LWisteria commented on #171
@higucheese could you give us your executing command and raw output (stdout/stderr) ?

[2019-02-11 10:40] LWisteria commented on #171
Anyway, I will try getting multi NVIDIA GPU machine and checking on them.

[2019-02-12 03:38] ghost commented on #85
This test have hangup at 7th item.(in vega)
[code]

[2019-02-12 05:42] ghost commented on #80
I'm trying it.

[2019-02-12 05:43] LWisteria commented on #85
@t-kitawaki can you provide detail about what the test does?

[2019-02-12 05:45] LWisteria commented on #171
[NEWS FLUSH] I got the same error on my GTX1080x2 machine. I'm reporting details soon.

[2019-02-12 05:56] LWisteria opened #172 "opencl_tests/test_clblast.py raises CLBlastInvalidValue exception by af5fc6e"
As #171 reported, I got the same error on opencl_tests/test_clblast.py on https://github.com/fixstars/clpy/blob/af5fc6e6eb0e875a8b71c4aeb1dd4ae6806c048e/tests/clpy_tests/opencl_tests/test_clblast.py .
It' not raised on the last commit de78f5b0b157136b804117bf0fcffc1da2b00790 .

* Machine: NVIDIA GTX 1080 x2
* nvidia-docker run -t -t nvidia/cuda:latest

[code]

[2019-02-12 05:58] LWisteria commented on #172
And as I reported on #171, this error does not occour on a single device machine and multiple AMD Radeon machine. It might be only on multiple NVIDIA devices.

[2019-02-12 06:05] LWisteria commented on #172
Simple one

[code]

[2019-02-12 06:07] ghost commented on #85
@LWisteria Sorry. I did not read this test carefully. I just only run `python -m pytest ./test_truth.py` to find out this test is easy to solve or not.

[2019-02-12 06:09] LWisteria commented on #85
OK. so, @all_developers, please be careful when runing `test_truth.py`.

[2019-02-13 07:50] LWisteria opened #174 "Do not wait for CLBlast"
Related #153.

#163 removed `clWaitForEvents` on from custom kernel. I found the wating also on [CLBlast](https://github.com/fixstars/clpy/blob/ccd1d34e1fc7ca762489609819aeb9e0c8147942/clpy/backend/opencl/clblast/clblast.pyx#L89). This could/must be removed.

[2019-02-13 08:12] LWisteria commented on #172
The error was removed when https://github.com/fixstars/clpy/commit/af5fc6e6eb0e875a8b71c4aeb1dd4ae6806c048e#diff-2dd2534937b0e0a39ec2b84ffce0c6cfL103 was reverted

num_devices must be 1...?

[2019-02-13 08:26] LWisteria commented on #172
[`CLBlastInvalidValue` means `CL_INVALID_VALUE`](https://github.com/CNugteren/CLBlast/blob/1.4.1/include/clblast_c.h#L55)

[2019-02-14 03:51] vorj commented on #147
#176 solved this issue. I close it.

[2019-02-14 03:51] #147 closed

[2019-02-14 05:24] vorj commented on #154
@LWisteria
TL;DR: We can't enable it.

`test_fusion.py` includes some test cases, which overwrites **input** arguments.
So, we needed to disable `const` of input arguments for passing `test_fusion.py` .
That change is [here](https://github.com/fixstars/clpy/pull/131/commits/28ace41baab3c4c896e73dc049dc8ef6db2bf733#diff-330864e5fa6837f1c3838ef858a51a6eL2805).
When we enable `const` and the test cas

[2019-02-14 05:41] ghost commented on #6
https://github.com/fixstars/clpy/pull/144#issuecomment-463496350

The working branch was [6-alloc_host_ptr](https://github.com/fixstars/clpy/tree/6-alloc_host_ptr).

[2019-02-14 05:49] LWisteria commented on #6
Yes, I understand. It's very difficult on OpenCL to behaive same as CUDA. Therefore, We decide that ClPy won't support `PinndeMemory` (in the near future at least)

@nsakabe-fixstars can you remove that TODO and leave comment about the problem?

[2019-02-14 05:51] ghost commented on #74
`test_ndarray_complex_ops.py` seems to have been tested.

Can this issue be closed?

[2019-02-14 05:52] LWisteria commented on #74
Yes. @snsato forgot. Thanks!

[2019-02-14 05:52] #74 closed

[2019-02-14 05:54] LWisteria commented on #153
@vorj I hear you're trying this.

[2019-02-14 06:07] ghost commented on #75
`clpy.core.core._scatter_op_single` depends on `atomicAdd` (#30)

[2019-02-14 06:36] vorj commented on #30
The policy may be like below:

[code]

[2019-02-14 08:35] ghost commented on #30
64-bit atomic operations need `cl_khr_int64_base_atomics` extension.
`clinfo` says NVIDIA driver doesn't implement this.

And I couldn't find how to implement 64-bit `atomicAdd`s without it...

[2019-02-14 09:09] nsakabe-fixstars opened #179 "ultima prints extra semicolons when declaring grouped struct/union variables"
[code]
↓ ultima
[code]

[2019-02-14 09:14] ghost commented on #179
[code]
↓
[code]

[2019-02-14 09:18] ghost commented on #30
I'm working on this issue with the policy of supporting only 32-bit operations.

[2019-02-14 09:33] nsakabe-fixstars opened #181 "ultima erases `__global`s, `__local`s which are without identifier"
`__global`, `__local` are _address space qualifier_ of a type.

[code]
↓
[code]

[2019-02-14 10:09] vorj opened #182 "CLPY_TEST_GPU_LIMIT must be removed"
#136 says that [this line](https://github.com/fixstars/clpy/blob/18fa78f1f297681d2ce01f693743a692a963fe93/jenkins/build_and_test.sh#L95) must be removed when #4 is closed, but the line is still alive.

Note: When `CLPY_TEST_GPU_LIMIT` is not defined, some tests raise SEGV.

[2019-02-17 08:54] LWisteria opened #185 "Test for ultima"
There is no test for ultima itself. That absence could be problem.

[2019-02-17 08:55] LWisteria commented on #185
@vorj I request you to try this issue.

[2019-02-18 01:44] LWisteria commented on #154
I misunderstood. The removed test case is not originally from CuPy but added by us. That concludes we do not have to pass the test. Thank you for your investigation!

[2019-02-18 01:44] #154 closed

[2019-02-18 03:03] LWisteria opened #186 "User-friendly error if no platform/device was found"
On a machine with no platorm, [current ClPy](https://github.com/fixstars/clpy/blob/0dfb37e9dcaf56fab0a95268f6bf3886c8a55f44/clpy/backend/opencl/env.pyx#L80-L83) got an error as follows:

[code]

That's bad (what's the unknown error??). The correct exception must be raised.

[2019-02-18 08:38] LWisteria commented on #182
OK. I'm checking.

[2019-02-19 01:46] ghost commented on #75
I'm trying to resolve this.

[2019-02-19 02:06] LWisteria commented on #172
#175 resolved this.

[2019-02-19 02:06] #172 closed

[2019-02-19 02:07] LWisteria commented on #171
@higucheese Now I got no error when running `traing_mnist.py` on a machine with multiple NVIDIA GPU. Could you check?

[2019-02-19 02:52] LWisteria commented on #182
I think #136 is wrong. Accoring to [CuPy document](https://docs-cupy.chainer.org/en/v2.1.0.1/contribution.html), `CUPY_TEST_GPU_LIMIT` must be the same number of GPU on the machine. So we can't remove it on our machine.

@t-kitawaki How do you think?

[2019-02-19 03:02] LWisteria commented on #182
[What the code says](https://github.com/fixstars/clpy/blob/c5f2aaa1fc8c8334161532f7f36ed8e3e91da6b3/clpy/testing/attr.py#L54-L56) is the same as that document. There are no limitation of number of GPUs to run if the machine has less GPUs. [Latest CuPy](https://github.com/cupy/cupy/blob/7ba218bfc1360672e94ef7a13d0e3993fc425989/cupy/testing/attr.py) also has no limitation.

[2019-02-19 03:15] LWisteria commented on #182
The test result on https://github.com/fixstars/clpy/pull/187#issuecomment-464948697

was on the multi-GPU machine. Therefore, I confirmed the test without CUPY_TEST_GPU_LIMIT was passed.

[2019-02-19 03:23] ghost commented on #182
@LWisteria You mean

is wrong?
I think you are right.

I had assumption to CI machine will be multi gpu macine when multi gpu was supported.
Sorry for wrong message.

[2019-02-19 03:26] ghost commented on #98
I'm trying to resolve this

[2019-02-19 03:29] LWisteria commented on #182
@t-kitawaki OK. Thanks.

I conclude this PR is wrong and `CLPY_TEST_GPU_LIMIT` must **not** be removed.

@vorj could you close with `invalid` label?

[2019-02-19 03:30] LWisteria commented on #179
@nsakabe-fixstars #183 resolved? If so, please close.

[2019-02-19 03:30] LWisteria commented on #181
@nsakabe-fixstars #184 resolved? If so, please close.

[2019-02-19 03:31] ghost commented on #179
Yes, works fine. Closing.

[2019-02-19 03:31] #179 closed

[2019-02-19 03:31] ghost commented on #181
Yes, works fine. Closing.

[2019-02-19 03:31] #181 closed

[2019-02-19 03:36] vorj commented on #182
@LWisteria @t-kitawaki Thank you for your investigation. I close it.

[2019-02-19 03:36] #182 closed

[2019-02-19 05:35] ghost commented on #135
In #156 and #173 , we restrict numpy version.
So, this comment out may be unnecessary.

[2019-02-19 06:18] ghost commented on #135
Resolved in #190

[2019-02-19 06:18] #135 closed

[2019-02-19 06:19] ghost commented on #80
Resolved in #173

[2019-02-19 06:19] #80 closed

[2019-02-19 06:52] ghost commented on #110
This test is testing profiling function.
cupy's profiling function use NVIDIA profiler.
So, I think this test must be removed or skip.

[2019-02-19 07:00] LWisteria commented on #110
Yes. this is tests for https://github.com/fixstars/clpy/blob/clpy/clpy/prof/time_range.py . It's difficult to implement compatible one with `NVTX`...

I removed this from target of beta2. Leave this until someone find the solution, library etc.

[2019-02-19 07:08] ghost commented on #110
Do I must decorate this test case by pytest's skip and add CI, to close this issue and make new issue like "Add profiling tool" or not?

[2019-02-19 07:11] LWisteria commented on #110
This test is decorated with `@unittest.skipUnless(backend.nvtx_enabled`

https://github.com/fixstars/clpy/blob/46b9a6f60b5732bf5167929bf88b75ed5332ebe6/tests/clpy_tests/prof_tests/test_range.py#L9

Therefore, please implement `backend.nvtx_enabled` and return always `False`. then create new issue to support profiler.

[2019-02-19 09:33] t-kitawaki opened #193 "Support profiler"
cupy's profiler use NVIDIA profiler.
https://docs-cupy.chainer.org/en/v2.5.0/reference/prof.html
In clpy, we skip tests in [prof_tests](https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/prof_tests). #110 #191
clpy need some other way to support profiling.

[2019-02-20 06:04] ghost commented on #30
**Note for developers:**

When you implement 64-bit integer `atomicAdd`,
please test it by adding `numpy.uint64` into [test_ndarray_scatter.py](https://github.com/fixstars/clpy/blob/46b9a6f60b5732bf5167929bf88b75ed5332ebe6/tests/clpy_tests/core_tests/test_ndarray_scatter.py) test target.

[2019-02-20 06:12] LWisteria commented on #30
@nsakabe-fixstars do you mean reverting bbdec438d3d11f0ced6de0e8853f4e1c0d652774 ?

[2019-02-20 07:02] ghost commented on #30
Yeah. Revert bbdec43 and remove corresponding TODO notes.

[2019-02-20 07:07] ghost commented on #75
closing since #188 has been merged.

[2019-02-20 07:07] #75 closed

[2019-02-20 07:22] ghost commented on #98
closing since #192 has been merged!

[2019-02-20 07:48] ghost commented on #73
* clpy.core.core._getitem_mask_single
* clpy.core.core._scatter_op_single w/ op=='update'

[2019-02-20 08:48] ghost commented on #73
In test_ndarray_adv_indexing.py,
only TestArrayAdvancedIndexingVectorValue fails.

I guess `_scatter_update_kernel` (in core.pyx) doesn't work.

Getting view works:
[code]

Setting doesn't work:
[code]

aren't there some data race...?

[2019-02-23 05:04] higucheese commented on #171
@LWisteria I successfully ran `train_mnist.py` on the machine. Thank you for fixing the bug.

[2019-02-23 05:05] #171 closed

[2019-02-26 03:38] nsakabe-fixstars opened #197 "test_sample_rand.py fails at random"
and `assertTrue`'s arguments are wrong.

[2019-02-26 07:11] ghost commented on #108
### test_matmul.py
requires `matmul`, which uses sgemmBatched, dgemmBatched routine.
These batched CLBlast routines' api is quite different from cuBLAS's one.

cuBLAS takes **an array of pointers**.
CLBlast takes **a buffer(cl_mem) and offset values to point the beginning of sub-array in the buffer**.

Moreover, CLBlast's offset values are **in elements**, not in bytes.

[2019-02-26 11:09] ghost commented on #197
test_sample_rand.py was excluded temporarily.

[2019-02-26 11:09] #197 closed

[2019-02-28 07:19] vorj opened #201 "Primary machine meets her demise frequently"
We, Fixstars developers, develop ClPy on some machines.
Especially, we use the Primary machine (mounting AMD Radeon Vega) and Secondary machine (mounting NVIDIA TITAN V) for now.

However, the GPU driver of the Primary machine meets its demise frequently.
We need to push the reset button every time the machine has passed away.
We should fix this problem.

Related issue: [#108](https://github.com/f

[2019-02-28 09:02] LWisteria commented on #201
@vorj As you reported on https://github.com/fixstars/clpy/pull/180#issuecomment-464996117 and https://github.com/fixstars/clpy/issues/108#issuecomment-448963157, the problem seems to be caused by perfoming large work, not **frequently**.

Please report other situation without large proglem if you know. Otherwise do not stretch the problem.

[2019-02-28 09:56] vorj commented on #201
@LWisteria Currently we are tackling to pass some test cases, which contain large works.
Therefore, the developers have been clashed by this problem repeatedly.
So, **I feel** like it's occurred _frequently_ .
However, the problem has some reproducibility, and basically we can avoid it by taking care for executing the test cases.
Additionally, current CI task don't contain problematic large works,

[2019-02-28 11:37] vorj commented on #185
@LWisteria I made the template of test case for ultima in #202.
Then, what should we check? Please let me know your opinion.

These are the test cases what I conceived:
- General conversions
    - [x] Type cast
        - [x] Function style cast
        - [x] C++ cast
    - [x] Constructor
    - [x] Template instantiation
    - [x] Overload mangling
    - [x] Tricking `half`
- Specific Conversions

[2019-03-01 02:40] LWisteria commented on #201
@vorj we must talk and discuss about technology and engineering, never your spiritual feeling.

[2019-03-01 03:01] LWisteria commented on #185
@vorj Firstly, do not send the big PR which contains whole cases. #202 (and a item you wrote above) is enough to merge. So please make those tests.

On the other hand, I will check the test cases, at latest before you finish the above cases.

[2019-03-01 03:03] LWisteria commented on #185
Anyway, this issue is not on the beta2 milestone thus #153 's priority is higher.

[2019-03-05 02:24] ghost commented on #110
This issue was solved #191

[2019-03-05 02:24] #110 closed

[2019-03-05 02:29] LWisteria opened #203 "Implement clpy.backend.is_available()"
https://github.com/fixstars/clpy/blob/clpy/clpy/backend/__init__.py#L37-L50

[2019-03-05 02:37] LWisteria commented on #201
@yuk-to I hear you investigated this problem. Is this caused by ClPy or machine specific? The old primary machine (furyx) wont' die even if the work load is heavy. We can close this issue if this is not by ClPy itself. I need you to report

[2019-03-05 03:09] ghost commented on #102
I'll try it

[2019-03-05 06:15] ghost commented on #85
in titanv, this test fail by OpenCLRuntimeError: CL_OUT_OF_RESOURCES
[code]

[2019-03-05 07:11] LWisteria commented on #85
I think `CL_OUT_OF_RESOURCES` is correct exception than hang-up (in vega). The problem is, as I said previously https://github.com/fixstars/clpy/issues/85#issuecomment-462624370, what the test is and whether the test really needs huge resources or not (caused by bug).

[2019-03-05 07:19] #102 closed

[2019-03-05 07:25] ghost commented on #85
This test only need 2x3x4 ndarray.
https://github.com/fixstars/clpy/blob/f33c5545d72995ffd92dd335dcb112e4e2912bbd/tests/clpy_tests/logic_tests/test_truth.py#L30-L34

So, this test does not need huge resources.
And, CL_OUT_OF_RESOURCES was caused by bug.

[2019-03-05 07:31] LWisteria commented on #85
@t-kitawaki Nice work!

[2019-03-05 07:42] ghost commented on #85
@LWisteria I'm just only aware of the existence of bug.
I'm still investigating that bug...

[2019-03-06 13:16] ghost commented on #73
#196 has been merged!

[2019-03-06 13:16] #73 closed

[2019-03-07 01:53] ghost commented on #108
`test_special.py` contains no actual codes.

So the last one is `test_sumprod.py`.
[code]

[2019-03-07 02:00] ghost commented on #108
After excluding `half` test,

[code]

[2019-03-07 02:56] ghost commented on #108
I'm investigating `test_sumprod.py::TestSumprod::test_sum_axis_huge`'s failure.

`clpy.sum` or `simple_reduction_function`-related something sets wrong `strides`( c_/f_ contiguity)...?

[code]
[code]

CuPy v2.1.0 shows the same behavior... confusing.

[2019-03-07 03:39] ghost commented on #108
#### test_sumprod.py::TestCumprod::test_cumprod_huge_array

on _furyx_
[code]

on _titanv_
[code]

[2019-03-07 03:49] ghost commented on #108
on _furyx_,
`clpy.ones(2**31, 'b')` works well while
`clpy.ones(2**32, 'b')` causes an error.

cf. furyx's Max memory allocation: 1583181004 (1.6GB)

[code]

[2019-03-07 05:17] ghost commented on #108
As I and @LWisteria discussed verbally, the number of elements (in _huge_ test cases) should be determined by OpenCL memory allocation limit.

[2019-03-07 14:27] ghost commented on #108
#199 #205 #206 resolved this issue. congrats!

[2019-03-07 14:27] #108 closed

[2019-03-12 03:05] ghost commented on #85
When I remove 0 size ndarray test (```numpy.zeros((0, 3, 4))```and```numpy.ones((0, 3, 4))```) all tests witch is in TestAllAny is passed (all tests witch is in TestAllAnyWithNaN is not passed).
Passed test count is increase from 44(/432) to 144(/336).
Some test has changed test status (from fail to pass) without any change.
Tests have dependency?

[2019-03-12 10:26] ghost commented on #97
I implemented a simple example of _in-workgroup_ bitonic sort and merging, and going to integrate it into clpy.

[2019-03-14 03:02] vorj commented on #185
OK, so I will create those test cases later.

[2019-03-19 02:01] ghost commented on #85
Eroor message is different from(better than?) last week ,when I run test in 10 o'clock.
It said that 'any' and 'all' function was worked in clpy and test checking was wrong.
But Error massage is same as last week now(11 o'clock).
It is saying that 'any' and 'all' function is not working...
Test result was changed.

[2019-03-19 02:08] ghost commented on #85
Now other reduction functions (lile sum) has same error with 0 size array.
[code]
this function did not raise error at 10 o'clock.

[2019-03-19 07:18] t-kitawaki opened #208 "Debug 0 size reduction function"
In #85 , we found reduction functions have bug.
Reduction functions meet problem if input was 0 size ndarray.
In vega, reduction function will be hangup ( if input was 0 size ndarray).
In titanv, reduction function raise error ( if input was 0 size ndarray).
In furyx has no problem.

In #207 , I implemented exception code to solve this issue.
And pass the test_truth test.

But, I think there will

[2019-03-19 07:25] LWisteria commented on #208
@t-kitawaki Thank you for reporting. Can you provide steps to reproduce the bug?

[2019-03-19 07:33] ghost commented on #208
To reproduce this issue, remove this code and run reduction function (like ```any all sum prod max min...```) with 0 size input.
https://github.com/fixstars/clpy/blob/1de64f1e1146df4baac365c413cedcadb974738a/clpy/core/reduction.pxi#L252-L262

Easy way to run 0 size reduction function  is run clpy_tests/logic_tests/test_truth.py lile #85 .

[2019-03-19 08:31] ghost commented on #85
solved in #207
0 size reduction function issue was taken over #208

[2019-03-19 08:31] #85 closed

[2019-03-20 09:38] ghost commented on #97
- [x] sort
- [ ] argsort
- [ ] lexsort
- [ ] partition
- [ ] argpartition

[2019-03-26 07:26] ghost commented on #113
`test_gmm.py`, `test_kmeans.py` have already passed.

### test_gemm.py (error)
performs both **handwritten GEMM kernel** and **internal GEMM (through `clpy.dot(A, B)`)**, comparing each other, in order to show **the usage of user elementwise kernels and how to launch it**.
To make this enabled, we have to rewrite the handwritten one.
(Can be copied from [our prototype](https://github.com/fixstars/

[2019-03-26 09:47] vorj commented on #174
#180 fixed this issue, so I close this.

[2019-03-26 09:47] #174 closed

[2019-03-26 09:50] vorj opened #213 "Support Clang8+"
LLVM/Clang 8.0.0 was released. We should support it.

Tasks are below:
- [x] Investigate about affected APIs
- [x] Add workaround codes when we need

[2019-03-27 04:14] LWisteria opened #214 "Release v2.1.0rc1"
* [x] Close or triage all related issues https://github.com/fixstars/clpy/milestone/3
* [x] Modify [README.md](https://github.com/fixstars/clpy/blob/clpy/README.md)
* [x] Modify [_version.py](https://github.com/fixstars/clpy/blob/clpy/clpy/_version.py)
* [x] Release v2.1.0rc1 (plan on end of March)

[2019-03-27 04:19] LWisteria commented on #214
Features which needs substitute libraries of CUDA are postponed to rc2.

[2019-03-30 16:34] nsakabe-fixstars opened #215 "Implement check_opencl_version (in build.py)"
`check_opencl_version`  is still a stub.
https://github.com/fixstars/clpy/blob/clpy/install/build.py#L122

If it is needed, it should be implemented.
Otherwise, it can be deleted.

[2019-04-01 02:39] LWisteria opened #216 "Port examples/gemm"
As https://github.com/fixstars/clpy/issues/113#issuecomment-476505608 reports, [examples/gemm](https://github.com/fixstars/clpy/tree/clpy/examples/gemm) is an example to show how to compile and run raw kernel codes.
That is not problem depends only on ClPy's lack of functions. Therefore it is not passed in v2.1.0rc1.

However, it's not difficult to rewrite into OpenCL and ClPy.

[2019-04-01 02:39] LWisteria commented on #114
#212 resolve this. Thanks!

[2019-04-01 02:39] #114 closed

[2019-04-01 02:40] LWisteria commented on #113
#212 almost resolve this. #216 remains.

[2019-04-01 02:40] #113 closed

[2019-04-01 03:17] LWisteria opened #217 "Pass clpy_tests/test_init.py"
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/test_init.py

[2019-04-01 03:18] LWisteria opened #218 "Pass clpy_tests/test_numpy_interop.py"
https://github.com/fixstars/clpy/blob/clpy/tests/clpy_tests/test_numpy_interop.py

[2019-04-01 03:32] LWisteria commented on #106
test_einsum.py

[2019-04-01 04:00] LWisteria opened #219 "Invalid output on example/cg.py"
CG is not converged only in GPU (outputs NaN)
[code]

[2019-04-01 08:13] LWisteria commented on #214
Done!! https://github.com/fixstars/clpy/releases/tag/v2.1.0rc1

[2019-04-01 08:13] #214 closed

[2019-04-03 02:22] vorj commented on #213
[code]

🤔

[2019-04-16 01:58] nsakabe-fixstars opened #224 "Requires cl_khr_fp16"
I tried on Ubuntu16.04/GTX 1050Ti. ClPy required `cl_khr_fp_16` extension.
If this is intended, requirement should be specified in `README.md`.
Otherwise, some operations that includes `half`-arguments or return values have to be disabled on build-time.

[code]

[2019-05-10 08:46] vorj commented on #213
Ughhhh, I found it why `headercvt` can't build with Clang 8 !

[code]

Clang 8 read headers for system-installed old clang...

[2019-05-10 09:01] vorj commented on #213
- Headercvt needs no fix for clang update.
- Ultima needs some fixes for below breaking changes:
    - `clang::PredefinedExpr` discards some members: `getIdentTypeName` , `getIdentType`
    - Identifier `StringRef` not found

[2019-05-14 00:22] LWisteria commented on #185
@vorj The file for ultima test will be large. How about making `ultima_tests` directory and dividing them into each file by test type?

[2019-05-15 05:30] vorj commented on #213
#228 fixed this issue, so I'm closing it.

[2019-05-15 08:01] vorj commented on #213
I confirmed that the ultima built with Clang8 doesn't work correctly. I'm reopening it...

[2019-05-15 11:37] vorj commented on #213
I haven't completed investigation so I don't know why ultima built using clang 8 doesn't work correctly, but the ultima stop output without completing her work.
We can't say "ClPy supports Clang8" in this situation, so I will revert 314a6bc for now.

[2019-05-24 01:23] ghost commented on #218
[code]

[2019-07-16 08:15] vorj opened #238 "Ultima doesn't accept functions named half"
https://github.com/fixstars/clpy/pull/236#issuecomment-511706588

[2019-07-16 08:18] vorj commented on #238
It seems that supporting `half` as type is the cause of this issue. So, I think that we need to solve #224 at first.

[2019-07-17 15:48] usasho opened #239 "OpenCLがインストールできていなかった / Chainerのバージョン違い / エイリアス指定忘れ / Intel GPUなどfp16サポートしていないデバイス"
こんばんは　前回も何回か質問したのですが
なかなかここから先に行けていません

ログ残しておきます　よろしくおねがいします

Log
python3 -m clpy train.py -e 10 -b 1 -g 0
Traceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "/usr/lib/python3.7/runpy.py", line 142, in _get_module_details
    return _get_module_details(pkg_main_name,

[2019-07-17 23:54] LWisteria commented on #239
ログの一番最後に出ている通り`clGetPlatformIDs()`が動いていないようです。これはつまり、OpenCL環境が動作していない可能性が高いのですが、確認されましたでしょうか？例えば`clinfo`の結果を教えてください。

また、その他、OSやCPU/GPU等の計算機情報も合わせて教えていただければ、もう少し有意義な回答ができると思います。

[2019-07-18 08:52] usasho commented on #239
確かにランタイムエラーでした
現在エラーはないのですが

Cupyを導入してくださいというエラーが
どう処理すればよろしいですかねTraceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.7/dist-packages/clpy-2.1.0rc1-py3.7-linux-x86_64.egg/clpy/__main__.py", line 8, in <

[2019-07-18 09:56] ghost commented on #239
(see https://github.com/chainer/chainer#installation).No module named 'cupyx'

から察するに Chainer のバージョンが違うのではないでしょうか。
現行の clpy は cupy v2.1.0 をベースとしていて [Chainer v3.3.0 で確認しております。](https://github.com/fixstars/clpy#compatibility-with-chainer)

[2019-07-18 12:30] usasho commented on #239
回答ありがとうございます。
chainer のバージョンは3.3.0です。
もしかしたら重複インストールもあるので 一度アインストールしてみます

[2019-07-18 12:44] usasho commented on #239
再インストールしましたが　このようになってます
やはりCuda　モジュールがないですね

Traceback (most recent call last):
  File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.7/dist-packages/clpy-2.1.0rc1-py3.7-linux-x86_64.egg/clpy/__main__.py", line 8, in <module>
    exec(f.r

[2019-07-18 12:55] LWisteria commented on #239
cupyが見つからないのであれば、cupyエイリアスが効いていないのだと思います。
READMEをお読みになり、cupyエイリアスでclpyが呼べるようにして実行してみてください。

あと、先述の通り、実行環境や、あるいはコマンドおよびスクリプトなど詳細を教えていただけると、早く的確な回答できるかと存じます。

[2019-07-18 13:03] usasho commented on #239
エイリアスを0に設定したところエラーは出なくなりましたが
実行エラーが起きてます・・・

環境は　Core I3  3220
RAM 4GB HDD 500GB
Linux Ubuntu 18.10
Desktop PC OptoPlex 7010
root@scss-OptiPlex-7010:~/pc/sep# clinfo
Number of platforms                               1
  Platform Name                                   Intel(R) OpenCL
  Platform Vendor                                 Intel(R) Corporation
  Platform Version

[2019-07-18 13:05] usasho commented on #239
実行エラーのログです

root@scss-OptiPlex-7010:~/pc/sep# python3 -m clpy  train.py -e 10 -b 1 -g0
GPU: 0
# Minibatch-size: 1
# patch-length: 512
# epoch: 10
# result directory:  result
# subepoch  4
# number of patterns 4
/usr/local/lib/python3.7/dist-packages/chainer-3.3.0-py3.7.egg/chainer/backends/cuda.py:85: UserWarning: cuDNN is not enabled.
Please reinstall CuPy after you install cudnn
(see https://doc

[2019-07-18 13:56] LWisteria commented on #239
エラーメッセージを読んでもらうと分かる通り

とのことです。お使いのデバイスでは対応していないようです。

[2019-07-18 15:02] vorj commented on #239
@usasho [`224-check-cl_khr_fp16-support`](https://github.com/fixstars/clpy/tree/224-check-cl_khr_fp16-support)ブランチをチェックアウトしてインストールしてみてもらえますか？このブランチのclpyであれば `cl_khr_fp16` に対応していないデバイスでも動くはずです．

[2019-07-18 15:09] LWisteria commented on #239
note: 該当ブランチは #225 の開発中。fp16サポートしていない場合に単体試験が通らないが、fp16に関係ない機能は実行可能。

[2019-07-18 15:19] LWisteria commented on #238
This is not needed to support. won't fix

[2019-07-18 15:19] #238 closed

[2019-07-18 15:20] vorj commented on #238
see: https://github.com/fixstars/clpy/pull/236#issuecomment-511727805

[2019-07-21 10:33] usasho commented on #239
やってみます

[2019-07-23 04:54] vorj commented on #213
LLVM 8.0.1 was released. However, ultima built with it doesn't work correctly, either.

[2019-07-26 05:18] ybsh commented on #123
@LWisteria When the source and destination of ```copy_from_device_async()``` are both device memory objects (cl_mem), should it raise an error, or execute ```EnqueueCopyBuffer``` just as in ```copy_from_device()```?

[2019-07-26 05:31] LWisteria commented on #123
@ybsh I understand that your question is about clpy itself but not about this issue. If you suggest raising an error on `copy_from_device()` (and also on _async), please make an issue for it.

[2019-07-26 11:02] ybsh commented on #123
@LWisteria
Thank you for your advice, and sorry that was off-topic.
Aside from the error handling issue above, I think it is necessary to migrate CuPy's Event/Stream classes first, as those ```async``` family take a CUDA stream as one of their arguments.
Do you agree? If you do, could I open an issue for that?

[2019-07-31 09:43] ybsh commented on #123
Regarding the migration of CUDA Stream, @LWisteria told me an issue for that has already been created: https://github.com/fixstars/clpy/issues/5

[2019-07-31 09:54] aokomoriuta commented on #123
This issue would be pending because `_async` functions are not used in cupy tests and even in chainer.

[2019-07-31 09:54] LWisteria commented on #123
This issue would be pending because `_async` functions are not used in cupy tests and even in chainer.

[2019-08-02 05:20] ybsh commented on #153
@LWisteria
I ran Chainer's (3.3.0) example code ```train_mnist.py``` and profiled ```trainer.run()``` with cProfile. All I could tell from the result was that the function spends most of its time waiting for I/O completion. Is there any way to further track down the bottleneck?
https://github.com/chainer/chainer/blob/a01c33f515ec23d33eab6e2eff6aa5d4e99f414d/examples/mnist/train_mnist.py#L122

(1 e

[2019-08-02 05:45] ybsh commented on #153
The result above shows the 10 functions with the longest "total time"s (```tottime```) and does not cover the all functions called.

[2019-08-05 05:57] ybsh commented on #153
It seems at least we cannot use nvvp's OpenCL profiling functions in our NVIDIA GPU environments.
A post on NIVIDIA forum states they do not support OpenCL profiling anymore in versions >= 8.
https://devtalk.nvidia.com/default/topic/1030699/visual-profiler-and-nvprof/opencl-profiling-using-nvvp-command-line-profiler/post/5245061/#5245061
(@vorj pointed this out. Thanks.)

[2019-08-05 06:22] vorj commented on #153
@ybsh I found 2 profilers for AMD GPUs. I haven't tried yet, but they seem to be supporting OpenCL kernels profiling. If you don't need to profile against NVIDIA GPUs, you can try those out.
[Radeon GPU Profiler](https://gpuopen.com/gaming-product/radeon-gpu-profiler-rgp/)
[Radeon Compute Profiler](https://github.com/GPUOpen-Tools/RCP)

[2019-08-05 06:39] LWisteria commented on #153
@vorj @ybsh we need NVIDIA GPU because we need to know why clpy is slower than cupy

[2019-08-05 06:41] LWisteria commented on #153
If we have no way to profile on NVIDIA GPUs, you must use other profiling tools for Python and Cython itself.

[2019-08-05 06:47] ybsh commented on #153
Thank you again for your help @vorj ,
I bumped into two "performance tools" which are linked to by [NVIDIA's website](https://developer.nvidia.com/performance-analysis-tools) .
Do these look like what we are looking for? Both seem to "support NVIDIA GPUs and OpenCL".
[TAU](https://www.cs.uoregon.edu/research/tau/home.php)
[Vampir](https://vampir.eu/)
Since I'm new both to graphic and GPU profilers

[2019-08-05 06:51] LWisteria commented on #153
I'm not soooo good at OpenCL profiling itself. Why don't you just try it?

[2019-08-05 09:30] ybsh commented on #153
First I will go take Cython-level profiles, and look into the details when it is necessary.
(I overviewed the websites of those two tools and both look reliable and well-documented.
One of the biggest differences is TAU is free (BSD-license) and Vampir is not.)

[2019-08-07 06:21] ybsh commented on #153
Before going into graphic/GPGPU tools, I have profiled ```train_mnist.py``` for CuPy/ClPy (again on titanv, with cProfile), this time with the same number of epochs and iterations as the [performance report](https://github.com/fixstars/clpy/wiki/chainer_example_performance_report).

#### CuPy
- total execution time
[code]
- top 20 `tottime`s
[code]

### ClPy
 - total execution time
[code]
 - top 2

[2019-08-07 06:23] ybsh commented on #153
I think I should try samples with more conspicuous performance gaps, such as word2vec (CuPy: 192s, ClPy: 28s).

[2019-08-07 07:53] ybsh commented on #153
@LWisteria  I ran Chainer's ```train_word2vec.py``` on titanv with the default epochs/iterations (i.e. the same as the [performance report](https://github.com/fixstars/clpy/wiki/chainer_example_performance_report)), but the execution times were much longer than the reported figures even without cProfile enabled.
Do you think I have misconfigured/misinterpreted something?

(CuPy [s] / ClPy [s])
- [

[2019-08-07 08:25] LWisteria commented on #153
@ybsh I don't know why but I think you don't need to know the reason to solve this issue. Do you need?

[2019-08-07 08:34] ybsh commented on #153
@LWisteria
Maybe no for right now, but maybe yes in the long run.
I thought it was a good thing to find hidden configuration differences (if there are) for assuring reproducibility.
At least the benchmark itself is working, so I am currently working on bottleneck trackdown.

[2019-08-07 08:40] LWisteria commented on #153
@ybsh Now you confirmed the fact "ClPy is slower than CuPy", even with other configs/settings than the last report. So please keep on doing your work with your configs/setting!

[2019-08-07 08:57] ybsh commented on #153
Profiled ```train_word2vec.py``` with cProfile on titanv, epoch = 1.

### CuPy
Execution time: 5.791 s
- top 10 ```tottime```
[code]
### ClPy
Execution time: 25.878 s
- top 10 ```tottime```

[code]

This shows a great performance difference in ``` {built-in method clpy.core.core.array} ```. Where is this called from?

- top 10 ```cumtime``` (runtime including callees)
[code]
The top 8 show the eff

[2019-08-07 08:59] LWisteria commented on #153
You can use graphviz to make call tree from cprofile results.

[2019-08-07 09:13] ybsh commented on #153
Code location:
https://github.com/fixstars/clpy/blob/3a97570b87ad57e85e837678c863b62cda6e4513/clpy/core/core.pyx#L2153
Now I'm going on to Cython-level profiling.

[2019-08-09 07:22] ybsh commented on #153
With a Cython-level profiling, it turned out to be ```copy_from_host()``` that ```train_word2vec.py``` was spending most of its time in ClPy.

Again a Cython output, sorted by cumulative execution time:

[code]
```to_gpu()``` is called 2008 times, and in every call copy_from_host() is called once.
As you can see in the [previous report](https://github.com/fixstars/clpy/issues/153#issuecomment-5190

[2019-08-09 07:30] LWisteria commented on #153
`copy_from_host()` could report its processing time including other processes'. As you know about OpenCL, `clEnqueueWrite/ReadBuffer()` waits to finish all tasks in the CommandQueue. You need to separate such waiting time from transferring time itself.

[2019-08-09 07:43] ybsh commented on #153
Thank you. Perhaps it is time to turn to OpenCL tracing tools, because it seems very hard to find out what is happening inside only with Cython profiling tools...

[2019-08-09 07:44] LWisteria commented on #153
You can insert clQueueFinish() explicitly before enqueuing read/write.

[2019-08-09 07:55] ybsh commented on #153
@LWisteria OK, I will try that and see if the transfers are taking long or not.

[2019-08-09 08:15] ybsh commented on #153
Added ```clFinish()``` before the ```clEnququeWriteBuffer``` in ```memory.pyx:354(copy_from_host)```.
As @LWisteria has pointed out its possibility, ```clEnququeWriteBuffer``` was almost idle waiting for previous tasks 😇
[code]

[2019-08-09 08:21] ybsh commented on #153
Now that the data transfers proved not to be the culprit, I'll try OpenCL tracing tools.

[2019-08-09 08:24] LWisteria commented on #153
Can't you get function calling order? The calling order is enough to check what command was enqueued and consumes time.

[2019-08-09 08:31] ybsh commented on #153
Do you mean exploring the code by myself, or do you imply the use of another external tools?

[2019-08-14 01:54] ybsh commented on #153
I'm trying Python's [```trace``` module](https://docs.python.org/2/library/trace.html#cmdoption-trace-trackcalls).

[2019-08-14 03:46] ybsh commented on #153
As I mentioned above, I tried Python's [```trace``` module](https://docs.python.org/2/library/trace.html) configuring all the options except for file I/O related ones, but there seems to be no effective way to list the order of ClPy-level function calls (it does not even get any information inside calls of functions defined with Cython).
Looking for another tool that looks handier than GUI tools..

[2019-08-14 04:04] LWisteria commented on #153
How about https://cython.readthedocs.io/en/latest/src/tutorial/profiling_tutorial.html#enabling-line-tracing ?

[2019-08-14 04:07] ybsh commented on #153
I have never used this feature and this looks nice. I'll give it a try.

[2019-08-14 08:52] ybsh commented on #153
Just a memo: To enable the C compiler's option ```CYTHON_TRACE=1 CYTHON_TRACE_NOGIL=1```,
rerunning the install script as below works.
```setup.py  python setup.py install --clpy-profile --clpy-coverage```
I found these options by backtracking codes from [these lines](https://github.com/fixstars/clpy/blob/3a97570b87ad57e85e837678c863b62cda6e4513/clpy_setup_build.py#L204), but I haven't checked the

[2019-08-14 09:05] ybsh commented on #153
Cython's linetrace information can be written to cProfile binary files, which can be interpreted with Python's ```pstats``` module. ```pstats``` provides APIs for obtaining culumative profile information (like I have shown), but not for tracing function calling orders.

Two ways to go:
1. Hack into ```cProfile``` data in search for useful information about calling order (I and @LWisteria are curre

[2019-08-14 09:05] ybsh commented on #153
I'll
2. try one of the GUI tools I found some days ago.

[2019-08-19 07:33] ybsh commented on #153
As for the option 1, ```cProfile``` dump does not seem to have information about each call.
cProfile source code:
https://github.com/python/cpython/blob/142566c028720934325f0b7fe28680afd046e00f/Lib/cProfile.py#L44-L87
https://github.com/python/cpython/blob/530f506ac91338b55cf2be71b1cdf50cb077512f/Modules/_lsprof.c#L8-L47

[2019-08-19 08:34] ybsh commented on #153
I will try "print debugging" to obtain a chronological call history of OpenCL APIs before trying the external tools.

[2019-08-23 05:30] ybsh commented on #153
I'm considering embedding instrumentation code into the [wrappers of OpenCL API functions](https://github.com/fixstars/clpy/blob/clpy/clpy/backend/opencl/api.pyx).
When we need device times of event starts/ends, [```clGetEventProfilingInfo()```](https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/clGetEventProfilingInfo.html) seems useful.
Please tell me if this method sounds infeasible

[2019-08-23 08:04] ybsh commented on #153
Sakabe-san pointed out the above method requires the support for OpenCL events.
I will try out placing ```Finish()``` after every command enqueueing to see which kernel/transfer is taking long.

[2019-08-23 09:51] ybsh commented on #153
Placed ```Finish()``` after every enqueue-family functions, and again took a cProfile.
[code]
I'm looking into the line-level bottleneck of ```ElementwiseKernel:__call__()``` in ```elementwise.pxi```.

[2019-08-23 10:20] ybsh commented on #153
This function is called from many different places (this is a method for a general use, after all...).
I need to measure the elapsed time of every call, sort them, and find the call path of the most time-consuming calls.

[2019-08-26 07:07] ybsh commented on #153
I measured every duration of ```ElementwiseKernel.__call__``` with ```time.clock_gettime()```, and sumed up for every kernel.
```binary_hierarchical_softmax_bwd``` is by far taking longer than anything else.
[code]
I will take the same statistics for CuPy.

[2019-08-26 07:10] LWisteria commented on #153
note: https://github.com/chainer/chainer/blob/e7f8d8beacd68aeb6b2ab81a4b73884965ec19bf/chainer/links/loss/hierarchical_softmax.py#L169-L214

[2019-08-26 08:22] ybsh commented on #5
Memo: these slides by NVIDIA explain the basic concepts of CUDA stream very well.
https://developer.download.nvidia.com/CUDA/training/StreamsAndConcurrencyWebinar.pdf

[2019-08-29 07:03] ybsh commented on #153
@LWisteria How can I explicitly disable cuDNN of CuPy?

[2019-08-29 07:22] ybsh commented on #153
```chainer.cuda.cudnn_enabled = False``` worked. You can see https://github.com/chainer/chainer/issues/740 for details.

[2019-08-29 09:03] ybsh commented on #153
After a short discuss with @LWisteria, it turned out that it was better to analyze MNIST example first because it is much simpler.

[2019-09-12 10:06] LWisteria commented on #216
@shusukeueda よろしくお願いします

[2019-09-13 03:35] shusukeueda commented on #216
こちら着手します

[2019-09-13 05:51] shusukeueda commented on #216
現状 `python sgemm.py` すると `clpy.backend.compile_with_cache` がないので動かない。`cupy.cuda.compile_with_cache` はある

[2019-09-13 06:40] ghost commented on #216
CUDA C++ → OpenCL C 変換（ [_ultima_](https://github.com/fixstars/clpy/blob/clpy/ultima/ultima.cpp) ） が入っているので、 cupy とずいぶん変わっているところです。

compile_with_cache は以下にあって、 core/core.pyx にインクルードされています
https://github.com/fixstars/clpy/blob/016015aea2367dad02a631d7d87e1f45f9d9efc9/clpy/core/carray.pxi#L147

[2019-09-13 07:11] vorj commented on #216
なんで今は `clpy.core.core.compile_with_cache` ですね

[2019-09-13 07:14] LWisteria commented on #216
これ、なんで元からcore.coreじゃなくて.cudaにあるんでしたっけ？移動した覚えはないので、`clpy.backend`あたりで、なんかのexportか何かを忘れているだけ？

[2019-09-13 07:21] LWisteria commented on #216
あーこれ、本来は[cupy.cuda.compiler](https://github.com/cupy/cupy/blob/v2.1.0/cupy/cuda/compiler.py#L108)にあったのを、clpyにした時にcompilerからcoreに無理やり持ってきたんですね・・・。
正しい形としては、clpy.backend.compilerとかを置くべきか・・・？

[2019-09-13 07:23] vorj commented on #216
まぁ少なくとも `carray` ではないよなぁと思い(ながら作業して)ましたね

[2019-09-13 07:30] shusukeueda commented on #216
ひとまず `clpy.core.core.compile_with_cache` を使うように変更しました。
ちなみに `clpy.backend` で `compiler` と `compiler.compile_with_cache` のインポートがコメントアウトされていました
https://github.com/fixstars/clpy/blob/016015aea2367dad02a631d7d87e1f45f9d9efc9/clpy/backend/__init__.py#L54

[2019-09-13 07:30] LWisteria commented on #216
あー、正しくは、[元からcarrayからcuda(.compiler)を呼び出していた](https://github.com/cupy/cupy/blob/v2.1.0/cupy/core/carray.pxi#L149)のを、compilerを使わなくなったので無いんですね。

[2019-09-13 07:34] LWisteria commented on #216
と、いうことは、今のcarrayがcuda.compilerが元からやっていた機能も混じって実装してしまっているのが問題なので、たぶん[ビルドしている辺り](https://github.com/fixstars/clpy/blob/016015aea2367dad02a631d7d87e1f45f9d9efc9/clpy/core/carray.pxi#L191-L200)を、backend.compilerに移動する（戻す？）のが正しい実装な気がしますね。

@nsakabe-fixstars @vorj どう思います？

[2019-09-13 07:41] vorj commented on #216
理解しました、対応を取るなら `cuda.compile_with_cache` 相当を生やすべきでしょうね(ClPyだと `cdef` になる？)

[2019-09-13 07:51] LWisteria commented on #216
@shusukeueda ということで、とりあえずcore.coreでもいいですが、最終的にはそのようにしてください。

[2019-09-13 08:34] nsakabe-fixstars opened #242 "headercvt should support independently-tagged struct definition"
https://github.com/fixstars/clpy/blob/016015aea2367dad02a631d7d87e1f45f9d9efc9/tests/clpy_tests/opencl_tests/headercvt_tests/test_headercvt_types.py#L75-L85

[2019-09-13 09:56] shusukeueda commented on #216
処理の流れ (メモ)
- `utils.read_code` で `sgemm.cu` を読み込んで定数を `#define` (ここは通る)
- `utils.load_kernel` でコンパイル、`core.core.compile_with_cache` から ultima を呼んでいるがエラー

[2019-09-13 09:56] shusukeueda commented on #216
とりあえずエラーが出ているところ

`sgemm.cu` のコンパイル
- `threadIdx`、`__syncthreads()` がないので ultima がエラー
- 配列の添字が整数でない
[code]
整数に見えるが... 検証中
- `extern "C"` のところで `expected identifier or '('` が出る (?)

とりあえず手動で直すとコンパイルは通って次に進めるが
- カーネル実行のところで `shared_mem` は引数にない (`local_mem` っぽい)
- `CL_INVALID_KERNEL`

[2019-09-13 10:31] LWisteria commented on #216
まぁCUDAカーネルを渡してOpenCLがコンパイル＆実行できるわけはないので・・・（そこをちゃんとOpenCL Cに書き換える、というのがこのissueの本題です）

[2019-09-17 01:53] shusukeueda commented on #216
確認ですが、`sgemm.cu` を OpenCL カーネル `.cl` に書き換える (+ `compile_with_cache` が `core.core` にあるのを正しい位置に移す) のが目的ということで合っていますか？

[2019-09-17 02:47] LWisteria commented on #216
目的は「examples/gemmをClPyで動かすこと」なので、手段はそれに合わせて選んでください

[2019-09-17 06:22] shusukeueda commented on #216
(メモ) とりあえず `sgemm.cu` をエラー箇所について機械的に OpenCL カーネルに書き直して、いま `SetKernelArg` がエラー出ているのでカーネル引数を適切に設定する必要がありそう

[2019-09-17 07:34] shusukeueda commented on #216
`SetKernelArg` が失敗するので単純なカーネルで試してみようと思い、
ベクトルの足し算 [test.py](https://github.com/fixstars/clpy/blob/216-gemm/examples/gemm/test.py) と [test.cl](https://github.com/fixstars/clpy/blob/216-gemm/examples/gemm/test.cl) を作ってみましたが `CL_INVALID_ARG_SIZE` が出ます。
メモリバッファを 3 つ確保するだけなはずなのですが、なにか間違ってるでしょうか。
(`python test.py` で実行できます)

[2019-09-17 07:34] LWisteria commented on #216
@shusukeueda WIP(draft)でPRを投げてください

[2019-09-17 07:40] shusukeueda commented on #216
PR #243 を作りました。

[2019-09-17 10:01] shusukeueda commented on #216
カーネルに 2 次元配列を渡すと怒られるので 1 次元配列に変換して渡すようにします。
あと縦横のサイズなど定数を渡す必要がありますが同じ `CL_INVALID_ARG_SIZE` が出るので検証中

[2019-09-17 10:10] vorj commented on #216
`CArray_2` でも怒られますか？

[2019-09-18 01:02] shusukeueda commented on #216
そもそも `kernel parameter cannot be declared as a pointer to a pointer` と言われていて 2 次元配列が宣言できません...
いろいろ見てみてもだいたい 1 次元配列に直して計算しているので、そういう仕様なのかと思いましたが、何かいい方法がありますか？

[2019-09-18 01:19] shusukeueda commented on #216
全部 1 次元配列にすれば動くことには動きますが、定数と 2 次元配列が使えないの悲しいので PR で質問させていただきます...

[2019-09-18 01:37] shusukeueda commented on #216
PR #244 でお願いします。

[2019-09-18 03:06] ybsh commented on #153
I'm trying to show kernel execution time statistics of the MNIST sample in CuPy and ClPy.

[2019-09-18 05:31] ybsh commented on #153
@LWisteria To confirm, our current task is to measure and compare the time spent in CuPy's/ClPy's codepath (excluding the time inside Chainer and CUDA/OpenCL API). Does this sound appropriate?

[2019-09-18 05:34] LWisteria commented on #153
@ybsh Include CUDA/OpenCL API. It could be the bottleneck.

[2019-09-18 06:04] shusukeueda commented on #216
とりあえず動くようにはなりました。結果が `cp.dot` と合わないので修正していきます

[2019-09-18 06:33] shusukeueda commented on #216
CUDA カーネルで `__shared__` になっているところをローカルメモリにしたい。
[`clpy.core.core.LocalMem` のインスタンスを渡すと `local_mem` で指定したサイズのローカルメモリを確保](https://github.com/fixstars/clpy/blob/016015aea2367dad02a631d7d87e1f45f9d9efc9/clpy/backend/function.pyx#L76)

[2019-09-18 08:38] ybsh opened #245 "Fix the LLVM path configurations in the Developer's tutorial and README"
The current instructions lead to a build failure of ClPy. Fixing.

[2019-09-19 03:55] shusukeueda commented on #216
m, n, k が数百くらいだと `sgemm(A, B)` と `cp.dot(A, B)` が一致するが小さかったり (<10) 大きかったり (>1000) すると落ちる (謎)
小さいのはワークグループ 1 個だけみたいなときに変になるのかもしれない。
大きいのは謎 ~~(なんか `cp.random.uniform` が変になっていそう)~~ `print` の問題っぽい

[2019-09-19 06:59] shusukeueda commented on #216
とりあえずカーネルは正しく動いていそうなのでサイズが大きいときはおいておくことにして (+ 小さいときは CUDA カーネルがもともと対応していない)、先に進みます

[2019-09-19 08:03] shusukeueda commented on #216
ベンチマークのところはいまのところ実装されていないので、とりあえず飛ばす

[2019-09-19 10:41] LWisteria commented on #216
#246 が通ったので、これで https://github.com/fixstars/clpy/tree/clpy/tests/example_tests が全部通せることになりますね！

@shusukeueda https://github.com/fixstars/clpy/blob/clpy/jenkins/build_and_test.sh に追加してCIに組み込んでもらえますか

[2019-09-20 01:38] shusukeueda commented on #216
テストを追加しました (#247)。
ベンチマークの部分をできるようにするため、まず CUDA / OpenCL の Event の使い方を確認していきます

[2019-09-20 05:28] ybsh commented on #245
I created pull request for the README.md modificaion: https://github.com/fixstars/clpy/pull/248
When it has been merged, I will change the wiki (Developer's Tutorial) so that its LLVM/Clang instruction references the README.md.

[2019-09-20 05:29] ybsh commented on #245
@LWisteria Please check the pull request.

[2019-09-20 05:32] ybsh commented on #245
@LWisteria Thank you. Changing the wiki.

[2019-09-20 05:53] ybsh commented on #245
@LWisteria Is it OK for us to have titanv's LLVM install path publicly on the wiki?

[2019-09-20 05:55] LWisteria commented on #245
No problem. But please note that it is an example for someone (i.e. a fixstars member who uses the primary machine).

[2019-09-20 05:56] ybsh commented on #245
OK. Thank you.

[2019-09-20 06:04] ybsh commented on #245
Updated the section. https://github.com/fixstars/clpy/wiki/Developer's-tutorial#2-llvmclang
I will close this if there seems to be no problem.

[2019-09-20 06:08] ybsh commented on #245
Updated the section. https://github.com/fixstars/clpy/wiki/Developer's-tutorial#2-llvmclang
@LWisteria Please close this if there seems to be no problem.

[2019-09-20 06:43] shusukeueda commented on #216
CuPy の `Event` クラスは [`cuda/stream.pyx`](https://github.com/fixstars/clpy/blob/clpy/clpy/backend/cuda/stream.py) で定義、
[`cuda/runtime.pyx`](https://github.com/fixstars/clpy/blob/clpy/clpy/backend/cuda/runtime.pyx) でラップした CUDA の runtime API を呼んでいる
`record` メソッド (`cudaEventRecord`) でカーネルの前後にイベントを登録、
`synchronize` (`cudaEventSynchronize`) で同期、
`get_elapsed_time` 関数 (`cudaEventElapsedTime`) で時刻の差を計算

現状

[2019-09-20 07:26] LWisteria commented on #216
runtimeに相当するところはapiとかにあります（名前を揃えたほうが良かったですねそういえば）。

OpenCLだとそれで合ってますが、使い方は割と違うかもしれないので、どうやって吸収するかがその主題だと思います。

[2019-09-20 07:57] shusukeueda commented on #216
`api` で定義されていました

正確かわかりませんが、CUDA のイベントはタスク (カーネル実行) の間にあってそこを通過した時刻を記録する感じなのに対して、OpenCL のイベントはタスクに紐付けられてそのタスクが開始/完了した時刻を記録していそう

なので、いま start イベント → sgemm or cp.dot 実行 → end イベントとして start と end の差を計算していますが、
sgemm の中でも複数回 OpenCL API を叩いている (はず) なのと、~~そもそも cp.dot は OpenCL じゃない~~ (cuBLAS / CLBlast 呼んでるのか) ので、どうイベントを配置するかが問題

とりあえず vector add あたりのコードで `clGetEventProfilingInfo` を試してみています。

[2019-09-20 08:34] shusukeueda commented on #216
`clCreateCommandQueue` で `CL_QUEUE_PROFILING_ENABLE` しないとバグる

[2019-09-20 09:48] shusukeueda commented on #216
CuPy では `sgemm` あるいは `cp.dot` 全体にかかる時間を測定している
(カーネルのコンパイルなども含む) ので、ClPy でも処理の最初と最後にダミーのタスクを立てて、それに紐付けたイベントを使って実行時間を計算することを考えました

`clCreateCommandQueue` の引数は [このあたり](https://github.com/fixstars/clpy/blob/8fbb365457c3615bbbe67c73c78268ce5fa0b11c/clpy/backend/opencl/env.pyx#L135)？

[2019-09-20 10:02] shusukeueda commented on #216
そもそも最初と最後で測るのなら Python の `time` とかでもいいのでは？ と思いましたが精度が悪いのでだいぶゆらぐ

titanv で CuPy ですが、
[code]

`in Python` が `time` で計った時間 (100 回平均 = 0.1 秒くらいなので、`time` の誤差で死んでいる`

[2019-09-20 14:42] vorj commented on #213
LLVM 9.0.0 has been released. I fixed ultima codes for some breaking changes, but the ultima built with clang 9.0.0 doesn't work correctly, either.

[2019-09-24 00:26] LWisteria commented on #245
Thank you!

[2019-09-24 00:26] #245 closed

[2019-09-24 06:13] shusukeueda commented on #216
とりあえず vega でベンチマークは動くようになったが結果が変
(titanv ではだいたい合っているので `time.time` の誤差ではなさそう)

`Event` クラスは後でちゃんとした場所に移す

[2019-09-24 09:55] shusukeueda commented on #216
前後にダミーのカーネル (引数なし、何もしない) を立ててそれに紐付けたイベントで時刻を計測したら `time` で計った時間よりだいぶ長くなる
[code]

コンパイルがキャッシュできてないか、あるいは同期がうまくできていないのかも。
ちなみに、`time.time` より `time.perf_counter` の方が精度がいいらしい

[2019-09-25 06:47] shusukeueda commented on #216
コンパイルのキャッシュはできている。
キャッシュしても 0.1 msec くらいかかっていて無視はできないが、 ~~sgemm も cp.dot も同様にかかるはずなので差が出ているのはこれのせいではないはず~~ 勘違い

Python の time で測るときに 1 回ずつブロックしないといけない気がする
`cudaEventSynchronize` の代わりに `clFinish` とかをうまく使うとできるかも
と思ったが、titanv では cudaEvent と time で合っているので...

[2019-09-25 08:30] shusukeueda commented on #216
Python の time で sgemm/cp.dot 複数回の合計時間を図っていたのを毎回 `clFinish` を挟むようにしたら `clGetEventProfiling` で測った時間と近くなったので、これでいい気がする
[code]

[2019-09-25 08:36] shusukeueda commented on #216
Cython 周りでおかしくなったら cdef / cpdef、import + cimport が合っているか確認

[2019-09-25 09:33] shusukeueda commented on #216
`Event` オブジェクトを `clpy.backend` に移したら遅くなった...
(ダミーカーネルのコンパイルのキャッシュが効かなくなっている)

[2019-09-25 09:46] shusukeueda commented on #216
一回の計測の間ではキャッシュ効いているので測定には問題なさそうだった。
別の要因で 0.2-0.4 msec くらい遅くなっている

[2019-09-25 09:47] LWisteria commented on #216
とりあえず機能的に成立していることと、速度が遅いことの問題は分けたほうが良いかと思います（後者は無限に沼になって #153 に行き着いてしまう可能性があるので）

機能が使えているところまでを一旦まとめてPRにしませんか？

[2019-09-25 09:53] shusukeueda commented on #216
あ、CuPy より遅いっぽいのはそうなんですが、
`time.perf_counter` で測ったときより `Event` オブジェクトで測ったときの方が遅くなることがあって謎になっていました

段階では等しくなっていたので、クラスの定義の場所を変えたのがよくないのかもしれないです
が、とりあえず動いてはいるので、いったん PR にします

[2019-09-26 02:00] shusukeueda commented on #216
あ、[`clEnqueueBarrierWithWaitList`](https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/clEnqueueBarrierWithWaitList.html) とか使った方が楽なのでは...

[2019-09-26 02:07] shusukeueda commented on #216
`clEnqueueWithBarrierWithWaitList` を使うようにしたら `time` の結果と一致したので、これでよさそう

[2019-09-26 03:41] ybsh commented on #153
Note: In train_mnist.py, ClPy's OpenCL API wrappers relating to kernel executions (e.g. ```CreateKernel```, ```EnqueueReadBuffer```, etc) are not called because they are externalized to CLBlast.

[2019-09-26 08:43] ybsh commented on #153
Profiled ```train_mnist.py``` in CuPy & ClPy w/ the default numbers of iterations and epochs.
Without any synchronizations, almost all of the runtime difference appear in ```{method 'dot' of 'numpy.ndarray' objects}```. I'm trying to figure out why this is happening.
- CuPy
[code]
- ClPy
[code]

[2019-09-26 08:57] ybsh commented on #153
@LWisteria Do you have the version of CuPy you obtained the performance [reported here](https://github.com/fixstars/clpy/wiki/chainer_example_performance_report) with?
Is that v2.1.0 (where ClPy branched off)?

[2019-09-26 09:08] ybsh commented on #153
OK it should be v2.1.0 (because it seems ClPy's first version was numbered after CuPy's)

[2019-09-26 09:10] ybsh commented on #153
I'm finding it difficult to compare the performance of CuPy and ClPy with ```train_mnist.py``` (with the default numbers of iterations/epochs), because of runtime instability (i.e. sometimes the former is faster, sometimes the latter)

[2019-09-26 10:00] shusukeueda commented on #216
`CL_` の定数、`opencl/preprocessor_defines.pxi` で定義されているので普通に使える (なんで使えないと思ったのか)

[2019-09-27 03:31] LWisteria commented on #216
@shusukeueda primary/secondaryでのcupy/clpyでの計測結果を貼ってください（それで完了ですかね）。

[2019-09-27 03:45] shusukeueda commented on #216
m = n = k = 500 で計測 (大きくすると vega で変になるのが解消されていないので...)
けっこうゆらぎますが、

vega、ClPy
SGEMM 0.68 msec / clpy.dot 0.38 msec

titanv、CuPy
SGEMM 0.55 msec / cupy.dot 0.25 msec

となりました (± 20 μsec くらい)

[2019-09-27 04:46] LWisteria commented on #216
titanvのClPyはどんなぐらいですか？

[2019-09-27 05:03] shusukeueda commented on #216
なんか titanv の ClPy、`clGetEventProfilingInfo` が結果返してくれなくて 0 が表示されているので確認中です...

[2019-09-27 05:28] shusukeueda commented on #216
結果自体は `time` で測ったのとあまり変わらないはずなので、それで測ると
m = n = k = 500
titanv、ClPy
SGEMM 0.74 msec / clpy.dot 0.29 msec
(± 20 μsec くらいゆらぐ) くらいな感じです

[2019-09-27 05:29] shusukeueda commented on #216
titanv の ClPy を入れ直してみましたが 0 が表示される...
`clGetEventProfilingInfo` 自体は呼ばれているので、？

[2019-09-27 05:29] LWisteria commented on #216
はそれはそれで問題なので、調査と（可能であれば）修正をお願いします・・・。

[2019-09-27 06:35] shusukeueda commented on #216
titanv、適当に C でホストとカーネルを書いて生の OpenCL で動かすと `clGetEventProfiling` はできる (正しそうな結果が返る)。
`sgemm.py` のときに `clGetEventProfiling` は動いているが結果が 0 になる

ClPy の入れ方が悪いかもしれないので、確認してみます

[2019-09-27 06:48] LWisteria commented on #216
一応その試験コードを貼ってもらえますか？

[2019-09-27 06:52] shusukeueda commented on #216
ホスト

[code]

カーネル
[code]

で、`gcc -I/usr/local/cuda/include vector_add.c -o vector_add -lOpenCL` → `./vector_add 100000` すると 10 μsec くらいというそれっぽい結果が出ます

[2019-09-27 08:21] LWisteria commented on #216
`clEnqueueBarrierWithWaitList`だと動かない、ということではないですか？

[2019-09-27 08:41] shusukeueda commented on #216
カーネル実行以外のところは上のコードと同じで、
A:
[code]
と B:
[code]
をやったときに、vega だと両方適当な時刻が出ていて、titanv だと A は適当な時刻がでるのに B は 0 が返ります (なぜ)

[2019-09-27 08:45] LWisteria commented on #216
`clEnqueueBarrierWithWaitList`は「そこで待つ」なので、Barrierを入れる前にとっくにKernelは終わっている、とかでは？

[2019-09-27 08:49] shusukeueda commented on #216
すでにカーネルが終わっている可能性はありますが、デバイスタイムカウンタを返すはずなので何らかの時刻が出てほしい気持ちがあります...

[2019-09-27 08:53] LWisteria commented on #216
clGetEventProfilingInfoはなにかエラーを出しているわけではないですか？（エラー処理していないように見えますが）

[2019-09-27 09:07] shusukeueda commented on #216
問題の titanv + `clEnqueueBarrierWithWaitList` の場合にはエラーは出ていないです。

ただ、結果の時刻が 0 になるパターンはあって、
vega などで `clGetEventProfilingInfo` までにコマンドが終わっていないと `CL_PROFILING_INFO_NOT_AVAILABLE` (-7) を吐いて時刻 0 を返すようです

[code]
すると
@ titanv
[code]

@ vega
[code]

[2019-09-27 09:14] LWisteria commented on #216
ふと思ったんですが、`clEnqueueMarker`だったらうまく行ったりしませんか？

[2019-09-27 09:22] shusukeueda commented on #216
[code]
で
@ titanv
[code]
@ vega
[code]
になりました、これで測れていそうな気がします

[2019-09-27 09:23] LWisteria commented on #216
`clEnqueueBarrierWithWaitList` がダメな理由はちょっと謎ですが、とりあえず今の状況だとMarkerの方が正しいと思うので、それに変更をお願いします

[2019-09-27 09:23] shusukeueda commented on #216
変更します。ありがとうございます

[2019-09-27 09:41] shusukeueda commented on #216
#251 で、titanv でも時間測れるようになりました。
例によってゆらぎますが、m = n = k  = 500、titanv、ClPy で
SGEMM: 0.95 msec / clpy.dot 0.36 msec (± 20 μsec)

SGEMM が vega より遅い？

[2019-09-27 09:42] LWisteria commented on #216
vega clpyの結果が変わったりしてませんか？

[2019-09-27 09:42] LWisteria commented on #216
あと、せっかくなので、3条件の結果をまとめて表示してほしいです。

[2019-09-27 09:45] shusukeueda commented on #216
vega-ClPy の SGEMM も長いほうに揺らいだりすることがあるので微妙ですが、
長くても 0.8 msec くらいなので、有意に titanv + ClPy + SGEMM が遅そうです。

[2019-09-27 09:50] shusukeueda commented on #216
#251 の後で、m = n = k = 500 で
vega、ClPy
SGEMM 0.68 msec / clpy.dot 0.38 msec

titanv、CuPy
SGEMM 0.55 msec / cupy.dot 0.25 msec

titanv、ClPy
SGEMM 0.95 msec / clpy.dot 0.36 msec

正確に統計とってないのでわかりませんが、長いほうに + 0.15 msec くらい揺れることがあります
基本的には SGEMM < cp.dot で、
SGEMM については titanv CuPy < vega ClPy < titanv ClPy、
cp.dot については titanv CuPy < titanv ClPy = vega ClPy
な感じがあります。

[2019-09-27 09:54] LWisteria commented on #216
ありがとうございます。移植と計測終わったので、閉じます！

[2019-09-27 09:54] #216 closed

[2019-10-02 03:24] ghost commented on #242
@vorj said (Sep 13th at 5:45:12 PM):

[2019-10-02 06:00] vorj commented on #242
In actually, ultima doesn't carry any ASTs around, but she has some mechanism of delayed output for supporting constructor. In following to this method, headercvt should hold two additional data, class body **as string** (like `int member`) and the map of `typedef` (like `clpy_struct_tag` -> `clpy_struct_t`).

[2019-10-02 07:25] ybsh commented on #153
Is it possible for GPUs (say one on titanv) to interleave the executions of multiple kernels?

[2019-10-02 07:27] LWisteria commented on #153
What do you mean?

[2019-10-02 07:57] ybsh commented on #153
@LWisteria
When, for example, two kernels K1, K2 have been pushed into the GPU's job queue,
are they always to be executed sequentially like
111122222 or 222221111
or can it be interleaved like
122121212 ?

[2019-10-02 08:05] LWisteria commented on #153
Otherwise you change queue's settings, OpenCL executes kernels `in-order`.

[2019-10-02 09:00] ybsh commented on #153
I measured the execution times of ```train_mnist.py``` in 3 environments (5 epochs, 500 iterations each)
- ```cupy```: CuPy v2.1.0  (where ClPy branched off)
- ```cupy-latest```: CuPy v6.4.0 (the latest release as of now)
- ```clpy```: ClPy v2.1.0rc1

The result was (3 trials in seconds):

- ```cupy```: 103.213, 108,982, 106.826
- ```cupy-latest```: 83.954, 84.785, 87.971
- ```clpy```: 101.922, 11

[2019-10-02 09:13] ybsh commented on #153
These are the top ```tottime```s of each fastest trial.
- ```cupy```
[code]
- ```cupy-latest```
[code]
- ```clpy```
[code]

[2019-10-02 09:13] LWisteria commented on #153
Your report shows that it is slower than the previous report, even with pure CuPy. (They were 40s in 20 epoch).
What is the difference?

[2019-10-02 09:16] ybsh commented on #153
I have no valid explanation about that as of now.

[2019-10-02 09:21] ybsh commented on #153
Could cProfile cause such a big slowdown? I'm skeptical but I think I should retry with it disabled.

[2019-10-02 09:23] LWisteria commented on #153
Did you insert some sync in your report? It causes such performance degradation.

[2019-10-02 09:24] ybsh commented on #153
No, the figures above were obtained with no code modification on the sides of CuPy/ClPy.

[2019-10-02 10:03] ybsh commented on #153
With no cProfile (timed with Python's ```time``` module, again 3 trials each):
- ```cupy```: 80.352, 81.087, 81.206
- ```cupy-latest```:  87.709, 93.178, 88.604
- ```clpy```: 80.961, 89.993, 98.086

It does make differences but it looks rather unstable.

[2019-10-04 02:16] ybsh commented on #153
Probably I have been all wrong. I have noticed I got those figures from [this post] without ```-g 0``` option (the workloads were running on CPU)...
I'll double check my command and redo the measurements.

[2019-10-04 02:29] ybsh commented on #153
The result of the [performance report](https://github.com/fixstars/clpy/wiki/chainer_example_performance_report) (finally) reproduced.
(in seconds, single trial each)
- ```cupy```: 36.158
- ```cupy-latest```: 39.499
- ```clpy```: 59.594

[2019-10-04 02:44] ybsh commented on #153
I added a note (an advice)? on the option in the [Developer's tutorial](https://github.com/fixstars/clpy/wiki/Developer's-tutorial).

[2019-10-04 08:58] ybsh commented on #153
**Tip**: Switching virtualenv in shell scripts requires ```eval "$(pyenv init -)"``` and setting ```PYENV_VERSION```. See [here](https://github.com/pyenv/pyenv/issues/492) for information.

[2019-10-07 09:08] vorj commented on #213
https://github.com/fixstars/clpy/blob/cc72c544a17c823ab9af443366f2191b00746ba1/clpy/core/carray.pxi#L178

It should be `if proc.returncode != 0 or len(errstream) > 0:` .
When we replace the `and` to `or` , we can get `SIGSEGV` from ultima built with newer clang.
I will fix this.

[2019-10-07 18:39] vorj commented on #213
Note: Clang 8+ has new AST node type, `clang::ConstantExpr` . In the code of current ultima, we have gotten the value of integer (non-type) template parameter as follows:

[code]

However, in Clang 8+, `template_type->begin()->getAsExpr()` is not `clang::IntegerLiteral` but `clang::ConstantExpr` which has `clang::IntegerLiteral` as sub expression.
So, current ultima built with Clang 8+ have met he

[2019-10-08 07:49] #213 closed

[2019-10-10 03:40] ybsh commented on #153
(Updated on 31 Oct 2019, with cuDNN properly disabled [details here](https://github.com/fixstars/clpy/issues/153#issuecomment-548230250))

I ran ```train_mnist.py``` on CuPy/ClPy, with the default numbers of iterations and epochs in the following 4 (=2*2) cases.
- Enabling/Disabling cProfile
- Adding/Not adding synchronizations.
  - After every kernel execution and memory transfer, add ```cudaDevi

[2019-10-10 04:33] ybsh commented on #153
I will compare the total host execution time between CuPy and ClPy by subtracting kernel execution time.

[2019-10-10 05:58] vorj commented on #153
@ybsh FYI: The Python wrapper for CLBlast is [here](https://github.com/fixstars/clpy/tree/clpy/clpy/backend/opencl/clblast)

[2019-10-10 07:11] ybsh commented on #153
These are the methods with longest ```tottime```s.
(I'm going to comment on these results later)
- CuPy
[code]

- ClPy
[code]

[2019-10-10 08:41] ybsh commented on #153
Raw text file of the profiles and call graph generated by [gprof2dot](https://github.com/jrfonseca/gprof2dot)

- CuPy
(Updated on 31 Oct 2019, with cuDNN properly disabled. [Details here](https://github.com/fixstars/clpy/issues/153#issuecomment-548230250))
[cupy.txt](https://github.com/fixstars/clpy/files/3792465/cupy.txt)
![cupy](https://user-images.githubusercontent.com/40310171/67924846-00c54b8

[2019-10-10 08:47] ybsh commented on #153
As shown [here](https://github.com/fixstars/clpy/issues/153#issuecomment-540424898), the path with the longest ```tottime``` of C{u,l}Py is Chainer's ```optimizers/adam.py:68(update_core_gpu)```.
Not only the ```tottime``` but the ```cumtime``` differ greatly between C{u,l}Py, i.e. the execution time of ```update_core_gpu()```'s callees take longer.

[2019-10-10 08:52] ybsh commented on #153
By looking into the callees, it turned out that NumPy's core functions are called more frequently and take longer in total in ClPy than CuPy. They make around 4-second difference altogether.

One thing worth noting is that, time per call's do not differ much between the two environments. For example, ```__array_interface__``` take 10x longer in ClPy than CuPy, and at the same time, it is called 10

[2019-10-10 09:09] ybsh commented on #153
The result above was obtained with synchronizations added.
Even without those synchronizations, the difference in NumPy calls seems to be one culprit of the performance gap.
### CuPy
#### The top ```tottime```
[code]
#### NumPy function calls
[code]

### ClPy
#### The top ```tottime```
[code]
#### NumPy function calls
[code]

[2019-10-10 09:12] ybsh commented on #153
@LWisteria @vorj Should I launch a separate issue for this? (e.g. "More NumPy calls are making ClPy slower than CuPy")

[2019-10-10 09:54] vorj commented on #153
@ybsh I agree with your idea.
Now you turned out one problem of ClPy, but we may haven't unraveled all reasons about the performance problem.
We (will) take up "all reasons" in this issue, so we should make separate issue when we find out each bottleneck, I think.

[2019-10-10 10:54] vorj opened #254 "extract exec_ultima"
https://github.com/fixstars/clpy/blob/08d1e628db0abfe7bbff9d0ea891d8cdfcc6396e/clpy/core/carray.pxi#L145-L180

https://github.com/fixstars/clpy/blob/08d1e628db0abfe7bbff9d0ea891d8cdfcc6396e/tests/clpy_tests/opencl_tests/ultima_tests/utility.py#L22-L59

we should merge them.

[2019-10-24 05:09] ybsh commented on #153
@LWisteria Can I add details of my report [here](https://github.com/fixstars/clpy/issues/153#issuecomment-540330737) to the [performance report](https://github.com/fixstars/clpy/wiki/chainer_example_performance_report)?

[2019-10-24 05:13] ybsh commented on #153
@vorj Thank you, I'm going to make separate ones.

[2019-10-24 05:15] LWisteria commented on #153
@ybsh I think you don't have to do that. It's enough on this issue because the page reports the performance on the released version, not on the master branch.

[2019-10-24 05:21] ybsh commented on #153
@LWisteria
OK, I will edit and add details to [my report](https://github.com/fixstars/clpy/issues/153#issuecomment-540330737) on this page (measured on the master branch),
instead of adding to the wiki page (measured on the released version).

[2019-10-24 06:01] ybsh commented on #153
Adding details done.

[2019-10-24 06:16] ybsh opened #257 "Possible performance improvement with fewer NumPy core function calls"
As a result of experiments and analyses starting from [here](https://github.com/fixstars/clpy/issues/153#issuecomment-540330737) to [here](https://github.com/fixstars/clpy/issues/153#issuecomment-540476097), it turned out
NumPy calls are more frequently called and take longer than CuPy by some seconds, in one of Chainer's sample program ```train_mnist.py```.

 If you can reduce ClPy's calling freq

[2019-10-24 06:17] ybsh commented on #153
Created an issue. https://github.com/fixstars/clpy/issues/257

[2019-10-24 08:15] ybsh commented on #153
I'm trying to find other causes of the difference in performance.

[2019-10-24 09:35] ybsh commented on #153
I made a comparison between CuPy and ClPy of their function runtime metrics, sorted by tottime difference.
[compared.txt](https://github.com/fixstars/clpy/files/3766770/compared.txt)

[2019-10-24 09:41] ybsh commented on #153
Those ```cumtime```s were incorrect. I fixed it up.
[compared.txt](https://github.com/fixstars/clpy/files/3766806/compared.txt)

[2019-10-24 09:45] ybsh commented on #153
[compared.txt](https://github.com/fixstars/clpy/files/3766816/compared.txt)
Those ```cumtime```s were incorrect. I fixed it up.

Here is the top 20 of the biggest ```tottime``` differences of *common* functions.
[code]

[2019-10-24 10:06] ybsh commented on #153
Oddly, the biggest difference is caused by a Chainer function.
This might be due to wait, because no synchronizations were added when measured (though I haven't tried with synchronizations to prove it).

[2019-10-24 10:15] ybsh commented on #153
The comparison above aims at the "**common**" functions of CuPy/ClPy.
Functions were matched (i.e. regarded as "common") using pairs of "the name of the declaring source file" and "function name".
Hence, functions that were renamed, or moved to a file of a different name must have fallen off the match.
Moreover, it doesn't include functions that exist in only either side.

[2019-10-24 10:18] ybsh commented on #153
I will try to get a more comprehensive comparison.

[2019-10-31 03:31] ybsh commented on #153
I improved the pattern matching, and added non-matching functions to the list.
[compare_improved_.txt](https://github.com/fixstars/clpy/files/3792476/compare_improved_.txt)

I show the 30 biggest differences here:
[code]

[2019-10-31 03:37] ybsh commented on #153
I'm looking at the call graph to see the major causes.

[2019-10-31 06:10] ybsh commented on #153
I have noticed cuDNN has actually been executing while running CuPy.
I intended to switch it off by the method [here](https://github.com/fixstars/clpy/issues/153#issuecomment-526060562), but for v3.3.0 it seems only to make Chainer show the message ```UserWarning: cuDNN is not enabled. ...```.

To completely prevent cuDNN from working, you should set the environment variable ```CHAINER_CUDNN``` to

[2019-10-31 06:57] ybsh commented on #153
I will set on to the NumPy funcion issue first before enumerating all the other problems, because it seems to be the major part of the performance gap and look relatively easy to tackle.

[2019-10-31 07:04] ybsh commented on #257
According to [this comparison](https://github.com/fixstars/clpy/issues/153#issuecomment-548202563) between CuPy and ClPy function calls and their [call graphs](https://github.com/fixstars/clpy/issues/153#issuecomment-540464964),
```max```, ```sum```, ```mean```, etc. of CuPy ```ndarray``` do **NOT** instantiate NumPy's ```_ctypes``` object, while ClPy's counterparts do, entailing a relatively time

[2019-10-31 09:02] ybsh commented on #257
I'm trying to find out where the instantiations are happening.

[2019-10-31 09:45] ybsh commented on #257
Should be [here](https://github.com/fixstars/clpy/blob/08d1e628db0abfe7bbff9d0ea891d8cdfcc6396e/clpy/backend/function.pyx#L104).
I need to know if this can be eliminated.
I'd really appreciate it if someone familiar with this portion of code could tell me some instant thought about this.

[2019-10-31 09:50] ybsh commented on #257
Here is a little more detailed call graph than the one shown before.
![clpy_detail](https://user-images.githubusercontent.com/40310171/67936455-2cedc600-fc0f-11e9-904b-fd1cd60b3a43.png)

[2019-10-31 09:56] ybsh commented on #257
I have obtained this graph by adding the ```# cython: profile=True ``` directive to
- ```backend/function.pyx```
- ```core/core.pyx```
- ```core/elementwise.pxi```
- ```core/reduction.pxi```

[2019-11-01 02:19] ybsh commented on #257
That line of code, as endorsed by a developer, was written for the sake of getting raw pointers of scalar values to be given to OpenCL kernel as arguments. As a result, a ```_ctypes``` is instantiated for every scalar argument in every kernel call.

[2019-11-01 03:22] ybsh commented on #257
That line of code, as endorsed by a developer (@nsakabe-fixstars), was written in order to get raw pointers of scalar values to be given to OpenCL kernels as arguments. As a result, one ```_ctypes``` is instantiated for every scalar argument in every kernel call.

[2019-11-06 06:15] ybsh commented on #257
If raw pointers of scalar arguments can be obtained through Cython feature [as done for the indexer in the previous lines](https://github.com/fixstars/clpy/blob/08d1e628db0abfe7bbff9d0ea891d8cdfcc6396e/clpy/backend/function.pyx#L83), we could avoid the overhead. I'll look into if they can.

[2019-11-06 08:36] ybsh commented on #257
I'm stuck figuring out what type of scalar arguments exactly should be supported.
Only plain Python objects such as ```int``` and ```float```? What about NumPy scalars? If so, which of them?
If CuPy has specs we should conform to it. I checked [CuPy's doc on user-defined kernels](https://docs-cupy.chainer.org/en/stable/reference/kernel.html) but it doesn't seem to define exact parameter types ther

[2019-11-06 08:45] ghost commented on #257
@ybsh

Are [these lines of code in CuPy](https://github.com/cupy/cupy/blob/v2.1.0/cupy/core/elementwise.pxi#L37-L83) significant?

See also [elementwise.pxi/_preprocess_args(args)](https://github.com/cupy/cupy/blob/v2.1.0/cupy/core/elementwise.pxi#L117)

[2019-11-06 08:46] LWisteria commented on #257
@ybsh Is [this numpy document](https://docs.scipy.org/doc/numpy-1.13.0/user/basics.types.html) enough for you?

[2019-11-06 09:08] ybsh commented on #257
@nsakabe-fixstars @LWisteria Thank you! Now I see the goal clearly: to support as much of the NumPy specs as possible (which also is the goal of CuPy).

[2019-11-07 06:06] ybsh commented on #257
I could eliminate [the heavy ```ctypes``` instantiation (marked "here")](https://github.com/fixstars/clpy/issues/257#issuecomment-548290777) by
[usuing a different NumPy interface](https://github.com/fixstars/clpy/compare/cc72c544a17c...7290654b970d).
This reduced ```train_mnist.py``` runtime by around 20% (from 56 s to 45 s. no profile / no synchronization)

As for testing, the mentioned commit p

[2019-11-07 06:11] ybsh commented on #257
![Call graph after the modification](https://user-images.githubusercontent.com/40310171/68364297-ddf4e300-0170-11ea-8085-c63d9a5efd72.png)

[2019-11-07 06:16] #254 closed

[2019-11-07 06:22] LWisteria commented on #155
I'm closing this issue because there is no response for a long time.
When you find any new problem with this issue, please reopen at that time.

[2019-11-07 06:22] #155 closed

[2019-11-07 06:25] LWisteria commented on #257
@ybsh Why don't you send (WIP/draft) PR and comment it? Now nobody other than you can't know that which modification you are discussing.

[2019-11-07 06:34] ybsh commented on #257
@LWisteria Sorry I was late in reporting my current state. I was still looking into the source code because I thought further optimization could be possible.

[2019-11-07 06:45] ybsh commented on #257
I haven't eliminated [```issctype``` call](https://github.com/fixstars/clpy/blob/08d1e628db0abfe7bbff9d0ea891d8cdfcc6396e/clpy/backend/function.pyx#L103), which is taking 1% of the runtime (around 0.5s).

CuPy does not call ```isctype``` so I looked into [CuPy's code] for optimization hints, but I found they were using another NumPy interfaces, which means they also are likely to be paying costs.

[2019-11-07 06:45] ybsh commented on #257
I'll create a pull request.

[2019-11-07 06:54] ybsh commented on #257
It was easier than I first thought to inco

[2019-11-07 06:55] ybsh commented on #257
I eliminated the ```issctype``` call too, so I'll make a pull request with this change included.

[2019-11-07 07:57] ybsh commented on #257
@LWisteria I have created a PR. I'd appreciate your review.
https://github.com/fixstars/clpy/pull/258/

[2019-11-20 06:39] ghost commented on #169
solved in #259

[2019-11-20 06:39] #169 closed

[2019-11-20 06:40] ghost commented on #109
Passed.

https://github.com/fixstars/clpy/blob/e720a936d5dc61e6b8b491e0790269d50c80788b/jenkins/build_and_test.sh#L55

[2019-11-20 06:40] #109 closed

[2019-12-06 07:03] ybsh commented on #153
With the [PR](https://github.com/fixstars/clpy/pull/258) merged, I ran CuPy and ClPy again to look into the other differences in performance.

I added the same synchronizations as [shown here](https://github.com/fixstars/clpy/issues/153#issuecomment-540330737).
This time I enabled profiling of every ```.pyx``` file.
All the other conditions follow the linked post.

Function-wise performance compar

[2019-12-06 07:07] ybsh commented on #153
ClPy took 16s longer than CuPy, and here is the top 10 difference (showing the first part of compared.txt). The matching of functions was conducted with simple name matching of function names.
[code]

[2019-12-06 07:09] ybsh commented on #153
Note that functions existent only in CuPy have negative differences because of the imcomplete function matching:
[code]

[2019-12-06 07:15] ybsh commented on #153
As you can see, ```_launch``` is causing a notable difference (7.5 s/16 s).
In the following call graphs, corresponding parts are circled with red lines:
- CuPy
![cupy_153-for-profile_epoch20_profil_0](https://user-images.githubusercontent.com/40310171/70303676-90d56100-1843-11ea-845c-7f1d9e684a7b.png)
- ClPy
![clpy_153-for-profile_epoch20_profil_0](https://user-images.githubusercontent.com/403101

[2019-12-06 07:18] ybsh commented on #153
Since it seems the code of ```_launch``` **itself** rather than its callees that is taking long in ClPy, I am setting on to line-level performance analysis of this function.

[2019-12-06 08:38] ybsh commented on #153
This means there are still other overheads in ```_launch()``` other than the NumPy interfaces removed last month.

By inserting Python's ```time.perf_counter()``` in ```_launch()``` and measuring elapsed time of each parts,
I found the following:
- Around 50% of the time is spent in [the argument passing phase](https://github.com/fixstars/clpy/blob/153-for-profile/clpy/backend/function.pyx#L57-L11

[2019-12-06 08:56] LWisteria commented on #153
Is the [quque.finish](https://github.com/fixstars/clpy/blob/153-for-profile/clpy/backend/function.pyx#L133) necessary? That could be difference from CuPy.

[2020-02-03 04:00] nsakabe-fixstars opened #261 "titanv CI broken"
Stable build `build #360`
[code]

Issue #260 `build #361`
[code]

The function `build.get_cuda_path()` may miss the CUDA path (because of deleted symlink?).

[2020-02-03 04:28] vorj commented on #261
https://github.com/fixstars/clpy/blob/e720a936d5dc61e6b8b491e0790269d50c80788b/clpy_setup_build.py#L64

[2020-02-03 04:37] vorj commented on #261
It seems that @nsakabe-fixstars 's opinion is right.
`cuda-10.2` had been installed in _titanv_ , so the symlink may have gone on rebooting at last weekend (In last week, `cuda-9.2` was available on _titanv_).

[2020-02-03 05:14] LWisteria commented on #261
` /usr/local/cuda-10.2/include/CL/cl.h`?

[2020-02-03 06:39] ghost commented on #261
The path problem has been resolved.

However, there is another issue. The CUDA 10.2 compiler does not accept our carray.clh.
https://github.com/fixstars/clpy/pull/260#pullrequestreview-352041587

See Jenkins' log.

[code]

[code]

[2020-02-03 06:55] vorj commented on #261
:v:

**For Fixstars developers** : I edited a build script of jenkins configure to fix this issue, so when we will meet same problem in the future, rewrite `${CUDA_PATH}` in the script.

Ugh, so this issue is related to #224, then we need to fix that at first... This is _neglect_ by NVIDIA, isn't it?

[2020-02-04 09:08] nsakabe-fixstars opened #263 "Deprecated GitHub API use"
https://github.com/fixstars/clpy/blob/7b800fefe60bffae1a1d6df90f350ecd5f78ec27/jenkins/post_comment.sh#L39

We should use `curl -u {username}:{access_token} {endpoint}` instead.

See also: https://developer.github.com/v3/auth/#via-oauth-and-personal-access-tokens

[2020-02-04 09:31] vorj commented on #263
[It](https://github.com/fixstars/clpy/pull/262/commits/8dac3b0447f0a338aabe653b2685879d56b91581) [works](https://github.com/fixstars/clpy/pull/262#pullrequestreview-352819947) [fine](https://github.com/fixstars/clpy/pull/262#pullrequestreview-352822485).

[2020-02-04 10:47] LWisteria commented on #261
The primary problem of this is updating CUDA version on the CI machine (titanv). **It's not caused by ClPy itself**.
Therefore, the right solution is to fix the CUDA version for CI.
You may just remove titanv from CI until solved.

One of the ideal solutions could be to modify half/fp16 behavior on ClPy, not just to disable it.
I will make the issue about it.

[2020-02-04 10:50] LWisteria opened #264 "Removing cl_khr_fp16"
As of #224 and #261, the current solution for "half" needs cl_khr_fp16.

However, it must not need it theoretically and could be removed.

[2020-02-04 11:00] LWisteria commented on #264
It was inserted on ac3adc9204633fc3a5c9938728357c8214ce138c to solve #131 .

@vorj @nsakabe-fixstars Can you remember and explain the reason?
I remember the reason is just to avoid the problem that sqrt of int8 and int16 is stored as the half format.
It is not enough to prove its necessity because only storing half format uses no half operation which needs to set cl_khr_fp16.

[2020-02-04 11:12] vorj commented on #264
No, problematic types are `int8` , `uint8` , and `bool` . Some functions have only floating type(s) for input/output , then the types are converted to `half` .
`int16` is converted to `float` , so it has no problem.
[The problematic functions list](https://github.com/fixstars/clpy/pull/225#issuecomment-495089099) has been shown as test cases that are failed when we disable `cl_khr_fp16` ,  by @nsa

[2020-02-04 11:15] vorj commented on #224
#264 is more definite issue (and worth to tackle I think), so this issue should be closed.

[2020-02-04 11:15] #224 closed

[2020-02-04 11:29] LWisteria commented on #264
@vorj Thanks.

Your previous comment

must be checked on the current titanv (CUDA 10).

Furthermore, to solve the problem with only the copy operation, for example, we can treat fp16 as int16. I remember there were some reasons to disturb such solutions but I don't remember what they actually were.

Anyway, I don't think that investigation for the solution to avoid it is perfect. The priority to p

[2020-02-04 12:31] vorj commented on #264
Please see [the secondary machine error log for #260 ](https://github.com/fixstars/clpy/issues/261#issuecomment-581262047).
I've shown the extracts of the errors below:

[code]

It seems that NVIDIA doesn't allowed to copy `half` value yet (`cl_khr_fp16 enable` is just ignored). Originally we use `cl_khr_fp16` only to enable copying and we've never added `half` arithmetic operations, so it's obvio

[2020-02-05 12:45] vorj opened #265 "Support half"
Related to #264 .

We should support `half` type regardless of whether the environment supports `cl_khr_fp16` or not.

[2020-02-05 23:00] LWisteria commented on #265
@vorj Do you mean that you want to implement all half operations with software functions? How much do you need it? I think it's reasonable to give up half support if the device doesn't support the extensions for it.

[2020-02-06 03:17] vorj commented on #265
@LWisteria

Yes, and I think that we can implement almost of them like `float_to_half(float_operation(half_to_float(half_value)))` .
The exception is `nextafter` , but this has been already implemented.

I thought so when we had no idea to solve the issue, but now I have an idea, and it's worth to try to get ClPy's features closer to CuPy's ones I think.

[2020-02-06 04:52] ybsh commented on #265
Talked with @LWisteria about who should work on this issue .
We agreed that this task is more appropriate for an intern, considering this task seems to require a fair amount of time, and I'm not currently very sure if I can spare as much time.
I will continue the performance improvement issue: https://github.com/fixstars/clpy/issues/153

[2020-02-06 04:58] ybsh commented on #153
@LWisteria As far as I remember, I have inserted synchronizations for CuPy for a fair comparison (which I will check later).

[2020-02-06 04:59] LWisteria commented on #153
@ybsh Before you restart this issue, you must solve #261 ...

[2020-02-06 05:03] ybsh commented on #153
Exactly. As @LWisteria mentioned, ClPy currently fails to work on a server of ours ```titanv```. I will try to create a separate older CUDA environment with nvidia-docker.

[2020-02-06 05:18] ybsh commented on #261
Installing docker on titanv to run ClPy with cuda-9.2.

[2020-02-06 05:41] ybsh commented on #261
Installed a Docker engine (19.03) and nvidia-docker on ```titanv```.
Tested nvidia-smi with the following command and it worked.
[code]

[2020-02-07 01:34] LWisteria commented on #265
@vorj OK, I understand that you want to use Ultima to convert `a + b` where `a` and `b` are half to `f2h(h2f(a)+h2f(b))`, right?

Then, how will you deal rounding errors etc? `f2h(h2f(a)+h2f(b))` does not exactly match native `a+b`.

[2020-02-07 10:41] vorj commented on #265
@LWisteria

Yes, that's it.

That's the problem. I'm still thinking about it.
Well, I have a question. Although currently we calculate `sqrt(int8_value)` as `f2h(sqrt(i2f(int8_value)))` , does the casting in this situation have no problem?

Or we can use some open source software implementation of `half` as an alternative option. However, even this option requires member function support to ultima

[2020-02-14 05:02] pradyparanjpe opened #267 "Segfault building headercvt"
# Problem:
I'm trying to install clpy from git source. (pip repo appears to be a placeholder.)
I've compiled llvm-clang 9.0.1 (latest) locally in `${HOME}/.local`.
(dnf package manager has llvm/clang too, but I'm not using it as recommended)
**Setup throws segfault.**

`$ cd ${HOME}/programs/clpy`
`$ python3 ./setup.py` -> output follows:

'''
building ultima started
building headercvt
clang++ -st

[2020-02-14 05:49] vorj commented on #267
@pradyparanjpe Thank you for your reporting!
We have confirmed that ClPy works with LLVM/Clang 9.0.1, and the builds are succeeded in our environment, the _secondary machine_ . (And now I'm checking on the _primary machine_ too).

Could you try the LLVM/Clang on DNF? If the SEGVs remain, please comment it again.

EDIT(15:58 JST): We confirmed that the builds of headercvt and ultima are succeeded u

[2020-02-14 07:26] ybsh commented on #261
I was careless not to notice this, but with the above command nvidia-smi doesn't seem working on cuda9.2.
It says ```CUDA Version: 10.2```. I haven't found out why.
[code]

[2020-02-17 07:38] pradyparanjpe commented on #267
I had already installed clang and llvm using dnf for some other compilations in the past. llvm-clang that I now compiled locally, was probably never used. (Hence, the necessity of the alias mentioned in the previous comment)
I uninstalled the dnf-installed llvm-clang and compiled clpy.

Note: Latest python3.8.x has numpy 1.18.x. Clpy issues compilation of numpy<=1.13.3, that fails with python3.8 (

[2020-02-17 07:38] #267 closed

[2020-02-21 04:30] ybsh commented on #261
It turned out the desired version had been installed.
The reason nvidia-smi showed v10.2 was that it showed the version returned by its driver API, which is a separate set of interfaces from runtime APIs.

[2020-02-21 04:56] ghost commented on #33
Summaries of difference between (CuPy) versions:
https://docs-cupy.chainer.org/en/stable/upgrade.html

[2020-02-21 06:23] LWisteria opened #268 "Doesn't work on Python 3.8.x"
As https://github.com/fixstars/clpy/issues/267#issuecomment-586855753 reported

[2020-02-21 06:30] LWisteria commented on #268
As readme says, currently we specify the recommended systems including the python version.
And the reason why we specify the numpy version is #173 and etc, that's from our base version is old #33 .

Therefore, solving this problem should be a new feature request, not a (currently) bug. I'm welcome anyone to try and resolve.

[2020-02-21 06:33] ybsh commented on #261
Trying to build clpy with this Dockerfile:
[code]

To run this Dockerfile,
- Create a directory ```foo``` and place this Dockerfile inside
- ```cd``` to ```foo```
- ```mkdir -p app``` and place ClPy directory inside it
- Build the image for example with ```# docker build -t clpy_test . ```
- Run by ````# docker run --gpus all -it -d --name test clpy_test /bin/bash ```
- ```# docker attach clpy_tes

[2020-02-21 06:34] ybsh commented on #261
With clpy/ and train_mnist.py from Chainer in the context.

[2020-02-21 06:48] LWisteria commented on #153
@y1r I hear you'll try this issue so I assign you. Feel free to make comments/reports on this issue in English and/or Japanese.

[2020-02-21 06:54] ybsh commented on #261
[code]
Seems the build had failed...

[2020-02-21 06:56] ybsh commented on #261
Here is the build log of ClPy: [build.log](https://github.com/fixstars/clpy/files/4234646/build.log)

[2020-02-21 07:00] ybsh commented on #261
I observed at least the build of CLBlast was successful.

[2020-02-21 07:01] ybsh commented on #261
At the head of build.log:
[code]
"building without Cython" does not look normal. Does someone have an instant thought of what mistake I might have made?

[2020-02-21 07:10] ybsh commented on #261
```nm: '/../lib/libclangTooling.a': No such file```
[code]
It does not know clang's PATH.

[2020-02-21 07:27] ybsh commented on #261
[code]
As you can see I added clang's PATH and now the environment knows where clang is (confirmed with ```which```), but I get the same runtime error when running ```train_mnist.py```.
This again is the log when I built ClPy:
[build.log](https://github.com/fixstars/clpy/files/4234757/build.log)

[2020-02-21 07:30] LWisteria commented on #261
@ybsh I don't understand why you're making Dockerfile. Using an interactive shell seems easier.

[2020-02-21 07:51] ybsh commented on #261
@LWisteria  I use Dockerfile for automating all the operations before compiling ClPy, and do the compilation by an interactive shell.

[2020-02-21 08:14] ybsh commented on #153
@y1r You can refer to this branch for additional synchronizations.
https://github.com/fixstars/clpy/commits/153-for-profile

[2020-02-21 08:26] ybsh commented on #153
This might be helpful, though I haven't tried:
https://stackoverflow.com/questions/28301931/how-to-profile-cython-functions-line-by-line

[2020-02-21 08:31] ybsh commented on #153
@y1r To add synchronizations to CuPy for comparison, you can check diff_cupy.txt of this post https://github.com/fixstars/clpy/issues/153#issuecomment-540330737

[2020-02-22 00:49] LWisteria opened #270 "Intel OpenCL"
We haven't ever executed ClPy on Intel iGPUs. It must be fine but we need to confirm (or fix the problems if found)

[2020-02-22 11:14] nsakabe-fixstars opened #271 "Repair Travis CI linting"
Because of deprecation of Github Services, the Travis CI integration isn't working.

[2020-02-22 11:18] ghost commented on #271
@ykitta-fixstars Could you handle this?

[2020-02-26 07:22] y1r commented on #153
I've investigated performance of `clpy.backend.function._launch` by adding a few codes like:
- insert time.perf_counter to each code block after type-checking
- blocks
  - code block 1: https://github.com/fixstars/clpy/blob/f217343e1c343dc49dda19651c1b51138d2d98f3/clpy/backend/function.pyx#L58
  - code block 2: https://github.com/fixstars/clpy/blob/f217343e1c343dc49dda19651c1b51138d2d98f3/clpy/bac

[2020-02-26 08:21] LWisteria commented on #153
As @ybsh [reported](https://github.com/fixstars/clpy/issues/153#issuecomment-562483485), block 2 and 5 must be one of the reasons ClPy's slowness against CuPy. I agree with @y1r .

@nsakabe-fixstars how do you think?

[2020-02-26 08:25] LWisteria commented on #153
@ybsh By the way, where can we see the difference of  `train_mnist.py` time between current clpy and base cupy?
@y1r Can you point if you know?

[2020-02-26 08:28] y1r commented on #153
@LWisteria See https://github.com/fixstars/clpy/issues/153#issuecomment-562461641 . I used another number of iterations for benchmark so comparing my result and his result is no meaning.

[2020-02-26 08:33] LWisteria commented on #153
@y1r Thanks, I overlooked.

That means that blocks 2 and 5 dominate about 10%=1.6[s] of ClPy. That's remarkable.

[2020-02-26 09:27] y1r opened #272 "Type mismatch of rand implementation `clpy_expand_inner_state_array`"
Rand kernel expects ulong value for `stride` (https://github.com/fixstars/clpy/blob/clpy/clpy/backend/opencl/random.pyx#L41)
However, python integer is passed to kernel.
(https://github.com/fixstars/clpy/blob/clpy/clpy/backend/opencl/random.pyx#L148)

[2020-02-27 10:01] ghost commented on #153
@y1r @ybsh @LWisteria
I agree that `_launch`'s overhead (block 2, 5) is what we should shrink.

How about pursuing Global Interpreter Lock (GIL) ?
https://github.com/kzky/languages/tree/master/cython/nogil
If we use only C object, we can supress GIL with `nogil:` section.

[`@cython.boundscheck(False)`](https://github.com/kzky/languages/blob/master/cython/nogil/multi_thread01.pyx#L14) can be helpf

[2020-02-27 10:40] y1r commented on #153
Using nogil is good idea. This is also in my ToDo.

[2020-03-02 00:10] jinz2014 opened #273 "test commands help"
Can you please list the specific commands to run the tests available in the repository after the installation of clPy ?

Thanks

[2020-03-02 02:04] ghost commented on #273
@jinz2014

Could you see [clpy/jenkins/build_and_test.sh](https://github.com/fixstars/clpy/blob/50ee94b7d8cdf020e1fcfeb10802e3f06e48f8d0/jenkins/build_and_test.sh)? It's a script we use to perform continuous integration.

[Here](https://github.com/fixstars/clpy/blob/50ee94b7d8cdf020e1fcfeb10802e3f06e48f8d0/jenkins/build_and_test.sh#L40-L68) are lists of available test files.
You can run them with

[2020-03-02 02:53] jinz2014 opened #274 "permutation"
Can you please add the function clpy.random.permutation in clpy ?  I think it is useful for randomization.

Thanks

[2020-03-02 02:54] jinz2014 commented on #273
Thanks. I will close the issue.

[2020-03-02 02:54] #273 closed

[2020-03-02 03:29] vorj commented on #264
#269 fixed this issue, so I close it.

[2020-03-02 03:29] #264 closed

[2020-03-02 03:30] vorj commented on #263
#262 had solved this issue.

[2020-03-02 03:30] #263 closed

[2020-03-02 03:40] vorj commented on #261
@ybsh  @LWisteria The original problem had been solved by #269 .
Will you continue this issue to create good Dockerfile? (even so I think that it's better to make a new issue for that instead of continuing this issue, though)

[2020-03-02 03:53] ghost commented on #274
Hi, @jinz2014

Thank you for your suggestion.
[The based repository, CuPy, implemented `random.permutation` at `version 4.0.0b3`](https://github.com/cupy/cupy/commit/c2980c55d8db636c4c9db651962a5d6343a4dac7), while our forked version is `2.1.0` yet.
We plan to upgrade our version in Issue https://github.com/fixstars/clpy/issues/33 .
`clpy.random.permutation` will be available after that.

[2020-03-02 08:45] ybsh commented on #261
@vorj Thank you very much for the fix (which obviated the need to create a separate CUDA 9.2 environment).
I don't think I will, because there is no longer any urgent reason to do that and I'm working on the bottleneck elimination issue #153 .

[2020-03-02 08:53] vorj commented on #261
OK, so let's close this.

[2020-03-02 08:53] #261 closed

[2020-03-02 11:32] jinz2014 commented on #274
When the upgrade time is not certain, could you give some suggestions on  how people can try to develop an OpenCL function (e.g. clpy.random.permutation) based on the CUDA implementation ?  In other words, it is helpful to have a guide for people, who do not have experience with mixing Python and OpenCL, to add new functions.

Thanks

[2020-03-03 02:47] vorj commented on #274
@jinz2014,

Do you have some experiences to create your own `ElementwiseKernel` on CuPy?
ClPy also has the `clpy.ElementwiseKernel` interface, so we can create our own `ElementwiseKernel` in the basically same way as CuPy.
ClPy contains [_Ultima_](https://github.com/fixstars/clpy/blob/clpy/ultima/ultima.cpp) , the code converter from CUDA C++ **for CuPy** to OpenCL C **for ClPy** (it means that _U

[2020-03-03 03:49] jinz2014 commented on #274
Sorry, I don't fully understand the role of Ultima. Do people need to manually convert CUDA C++ for CuPy to OpenCL C for ClPy by running some Ultima executable ?  I will try to create my own Elementwise kernel on CuPy, and try to understand how to port an implementation from CUDA to OpenCL.

Thanks

[2020-03-03 04:47] LWisteria commented on #274
@jinz2014 You don't need to think about differences between CuPy (CUDA) and ClPy (OpenCL) when you just use ClPy, including making a custom kernel. Because current ClPy is (almost) compatible with CuPy, you have nothing to do on your CuPy codes. ClPy (including Ultima) makes them good automatically.

That's why @vorj suggest you writing CuPy codes. If you find some problems with your CuPy (v2.1.0)

[2020-03-03 04:58] vorj commented on #274
@jinz2014

No, ClPy executes Ultima **automatically** before compiling `ElementwiseKernel` .

Ultima had been originally developed to support Chainer.
Since Chainer gives C++ codes to `ElementwiseKernel` interface, `ElementwiseKernel` interface must support some C++ constructs used on Chainer to support Chainer.
However, generally we can use OpenCL C, but we can't use OpenCL C++.
Thus we had creat

[2020-03-03 06:31] nsakabe-fixstars opened #277 "TestGetRandomStateThreadSafe sometimes fails"
https://github.com/fixstars/clpy/blob/26ef9b0571c2ffc216a1cf523b905ec0273e6b31/tests/clpy_tests/random_tests/test_generator.py#L522

Failed at: https://github.com/fixstars/clpy/pull/276#pullrequestreview-367721762

[2020-03-03 06:48] LWisteria commented on #33
I tried to upgrade the base version to estimate how difficult it is.

* [v2.1.0 -> v2.1.0.1](https://github.com/fixstars/clpy/pull/275) is very easy
* [v2.1.0.1 -> v2.2.0](https://github.com/fixstars/clpy/tree/33-v2.2.0) is a little difficult but not so much. It takes only one hours.

The key points are

* Many conflicts are caused by renaming cupy to clpy
* Even if there are no conflicts, the new

[2020-03-03 06:51] LWisteria commented on #33
Note that the above experimental branches would not work well, I've never checked to build and run.

[2020-03-03 07:37] LWisteria commented on #33
The easiness shown above is from my commits made for the first time as ClPy.

In anticipation of the base version update, I firstly renamed files by git mv (f5ff2ee, 58aa4ed, and 664ccee) before overwriting ClPy changes (dec25c3) to follow later changes.

[2020-03-03 18:27] jinz2014 commented on #274
Based on your guide, I implemented the permutation, but hit some issues.  Thanks for your review.

/tmp/153690.834795972.cpp:21:50: error: 'continue' statement not in loop statement
        if (j == i || j < j_start || j >= j_end) continue;

I replaced 'continue' with 'return' in the core.ElementwiseKernel shown below to fix the issue. Is that right ?

When I tested my implementation, the number o

[2020-03-04 02:50] ghost commented on #274
@jinz2014

How about using [atomic_xchg](https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/atomic_xchg.html) instead of atomic_cmpxchg?
I guess the latter needs confirmation of exchanging result (success/failed).

[2020-03-04 03:23] jinz2014 commented on #274
It passes the test listed above.  I am confused about the pull request. Maybe I can send you an email for my code changes.

[2020-03-04 03:23] #274 closed

[2020-03-04 03:46] ghost commented on #274
@jinz2014

Thank you for your proposition. Since `random.permutation` will be merged from upstream in the _near_ future, you don't need to send it us.

Sincerely,

[2020-03-05 06:53] ybsh commented on #153
@y1r and me decided to split our (performance improvement) work.
https://github.com/fixstars/clpy/issues/153#issuecomment-591278036
I'm starting working on code block 2, and @y1r is working on code block 4, 5.

[2020-03-05 06:56] ybsh commented on #153
@LWisteria @nsakabe-fixstars @vorj
Would it be better if we made a separate issue for each code block?

[2020-03-05 07:05] ghost commented on #153
@ybsh Yes, please create new issues for your(our) convenience!

[2020-03-05 07:23] ybsh opened #280 "Performance improvement of _launch (code block 2: packing CArray)"
A subproblem of #153 .
This issue focuses on improvement of
[this code block](https://github.com/fixstars/clpy/blob/clpy/clpy/backend/function.pyx#L63-L72).
mentioned [here](https://github.com/fixstars/clpy/issues/153#issuecomment-591278036).

[2020-03-05 07:44] ybsh commented on #280
I'm trying to pin down the bottleneck lines by placing probes (```time.perf_counter()```) densely in the code block.

[2020-03-05 09:26] ybsh commented on #280
I created a new branch ```280-for-profile-launch-cb2``` off  ```153-for-profile```.
I added probes as follows:
https://github.com/fixstars/clpy/commit/ba580c301fca

I ran ```train_mnist.py``` (100 iterations).
Total execution time of this code block (```ndarray_time```): 0.258964 s
[code]

[2020-03-05 09:41] ybsh commented on #280
Executed 3 more times, and these five execution times do not differ much (the differences are at most about +/-10%).

1st trial | 2nd trial | 3rd trial
-- | -- | --
0.030271 | 0.027252 | 0.028729
0.021084 | 0.019101 | 0.020559
0.019596 | 0.018031 | 0.019892
0.032501 | 0.031892 | 0.032937
0.012183 | 0.011812 | 0.012556

[2020-03-05 09:43] y1r commented on #153
I've optimized code block 4 and 5 (merged 4 into 5) by accessing a buffer protocol directly.
I'll create PR soon.

0    0.005388
1    0.024878
2    0.005229
3    0.000000
4    0.003777
5    0.000785

[2020-03-05 09:54] ybsh commented on #280
```arrayInfo.offset = a.data.cl_mem_offset()``` takes the longest.
Its definition is here:
https://github.com/fixstars/clpy/blob/clpy/clpy/backend/memory.pyx/#L457-L461

[2020-03-11 05:13] y1r commented on #280
I've tried this issue, I notice that reducing the overhead of this code block is difficult.

As @ybsh reported, the elapsed time of each line is almost the same (11 ~ 34 ms) so there is no hotspot.

I tried some optimizations but couldn't work:
- `for d, (shape, stride) in enumerate(zip(a.shape, a.strides)):`
  - It may reduce inc/dec ref count of Python Object `a`
  - performance: no change
- cop

[2020-03-11 05:29] LWisteria commented on #280
How about in the case of CuPy? CuPy also stores ndarray to CArray.

[2020-03-19 03:16] ghost commented on #272
#283 has resolved this.

[2020-03-19 03:16] #272 closed

[2020-03-19 05:50] ghost commented on #277
Refer to https://github.com/cupy/cupy/pull/78

[2020-03-19 05:58] ghost commented on #277
The case failed 5 times in 100 repeats.

[2020-03-19 06:55] ghost commented on #277
Hypothesis: [sequential clrandGenerator::_issue_by_np](https://github.com/fixstars/clpy/blob/113daf35e92af558e032fb8daa35382d3eafff2c/clpy/backend/opencl/random.pyx#L103-L106) can be interleaved among threads

[2020-03-25 01:56] vorj opened #284 "Support LLVM 10"
LLVM 10.0.0 has been released. ~~We should support it.~~ I wanna support it.

[2020-03-25 01:59] vorj commented on #284
Since LLVM 10.0.0, Clang API requires C++14. So, both ultima and headercvt need to be fixed.

[2020-03-25 01:59] LWisteria commented on #284
Do you/we really need to support v10? Why not v9 or v11 or later?

[2020-03-25 02:05] vorj commented on #284
What do you mean? We already support v9, and v11 or later have not been released.

[2020-03-25 02:21] LWisteria commented on #284
Who wants/needs LLVM v10 to run ClPy and why?

* v9 is not enough? How?
* Do many users want to run on the newest LLVM?
* Even if yes, they will need the later version when they try to use ClPy. They want to support the version they want, not v10. Why do you think that supporting v10.0.0 is really needed by them? (and why we should provide)

[2020-03-25 03:45] vorj commented on #284
IMO, it is hard to maintain the environment contains two or more versions of LLVM/Clangs.
When the program using LLVM/Clang internally doesn't limit the LLVM/Clang's version, we don't need to maintain many versions.
So, it is better to support more versions than to limit the version in general.

At least I want to do that.

Of course it's enough to realize ClPy's feature.
v4-v8 are also enough.
Ho

[2020-03-25 03:54] LWisteria commented on #284
yes, but

Why should we? Is it the best solution we should do? Supporting the newer version is needed only when our computers are updated, not now, not v10.

That means "you want to support (for your interest)", not "we should support (to develop ClPy)".

[2020-03-25 04:09] vorj commented on #284
OK, so let's consider the situation when LLVM/Clang has been updated from v9 to v11 in our computers for example.
We need to add some workarounds to support many versions when some APIs are broken, so we will add some workaround to support v11.
Of course there is no guarantee that ClPy supporting v11 supports v10, because we hasn't implemented the workarounds for v10.
Do you think that ClPy should

[2020-04-13 16:31] yxdragon opened #286 "cnn framework implemented in pure numpy interface. (need help for performance)"
Hi, I 'd like to tell you, we wrote a cnn framework [Planer](https://github.com/Image-Py/planer) based on pure numpy-interface (with out any kernel code or jit code). And it could be set core with cupy or clpy to get a better performance.

We had try some demos, such as [craft text detector](https://github.com/Image-Py/planer/blob/master/demo/craft_text_detector/main.py). and here is the report.
p

[2020-04-16 06:28] ghost commented on #286
Hi, @yxdragon

Thank you for trying ClPy with Planer.
I agree that the performance you got is not regular.

Could you confirm that ClPy's computation is running on your GPUs?
Available platforms can be enumerated with [clinfo](https://github.com/Oblomov/clinfo).
If there are 2 (or more) platforms, ClPy unfortunately uses the first one.
CPU parallelization or CPU-integrated GPU one may provide such

[2020-04-18 14:43] yxdragon commented on #286
hi, @nsakabe-fixstars
unfortunately, follow your advice, the program run on GPU.
![image](https://user-images.githubusercontent.com/24822467/79640706-91084480-81c5-11ea-94a3-adc7d13462dc.png)
![image](https://user-images.githubusercontent.com/24822467/79640709-96658f00-81c5-11ea-8f14-9d49afe663d3.png)

if your computer has clpy and cupy both, could you help to do a test?
here is the [craft](https:

[2020-04-22 08:21] y1r commented on #286
Hi @yxdragon,
Thank you for trying ClPy.
I've tried Planer with ClPy but there is no significant performance degrade.
Environments:
- Planer (d233355f17bca77c500a3c1b8aaa59b6318ea9d0)
  - I modified a part of `planer/io.py` to enable `net.load_weights` with random initialization (because I cannot access craft.npy).
- ClPy (bb59e0aa43d83c964d7edb3450fa1e70b758aff7)
- CuPy (4867ff1a0245ec5c49d75465a

[2020-04-29 06:52] #257 closed

[2020-06-02 15:52] littlefish12345 opened #288 "How can clpy works with Windows 10"
I made a program with cupy that work with Windows and I want it can be used in both AMD's graphics card Nvidia's graphics card. So I found this project. Unfortunately this project doesn't made for Windows. Here is my problem.

[2020-09-13 14:56] be-thomas opened #289 "bad performance and CPU usage is 100%"
So, I compared clpy with numpy.
And the results seem unimpressive.
numpy is always faster even when performing lots of operations, that too on a huge array.

Also, I was skeptical to see one of my logical cores to stick at 100% usage both when using NumPy as well as CLPy.
Is it running on my CPU? how do I switch devices?

this is my numpy code -
[code]

numpy benchmark -
![Screenshot_2020-09-13_20

[2020-09-15 02:12] ghost commented on #289
There are some improvements on your benchmark code, I guess.

1. `c = a * 5` (without declaration/initialization) includes allocation of OpenCL memory object. Declare it in advance like as `a` and `b`.
1. Every time of `for x in c` iteration issues device-to-host transfer. Exclude transfer time from measurement, or consider using [`clpy.asnumpy`](https://docs.cupy.dev/en/v2.5.0/reference/generated

[2020-09-23 10:04] Chidhambararajan opened #290 "Specify Opencl Version during compile time"
I am trying to compile clpy on an ARM Soc. During compile time I get this warning message so I halted

/usr/include/CL/cl_version.h:34:104: note: #pragma message: cl_version.h: CL_TARGET_OPENCL_VERSION is not defined. Defaulting to 220 (OpenCL 2.2)
 on.h: CL_TARGET_OPENCL_VERSION is not defined. Defaulting to 220 (OpenCL 2.2)")

My SOC supports OpenCL 1.2

Should I ignore the warning and proceed?

[2020-09-24 01:53] nsakabe-fixstars commented on #290
`CL_TARGET_OPENCL_VERSION` is defined to

https://github.com/KhronosGroup/OpenCL-Headers#compiling-for-a-specific-opencl-version

[2020-09-24 02:02] ghost commented on #290
You can ignore the warning.
Defining `CL_TARGET_OPENCL_VERSION` forces the users (in this case, us, _clpy_) not to use APIs above the specified version.
We use OpenCL 1.2 features so it's going well in your environment.

https://github.com/KhronosGroup/OpenCL-Headers#compiling-for-a-specific-opencl-version

Anyway, we consider adding `CL_TARGET_OPENCL_VERSION` definition.

Thanks,

[2020-09-25 15:40] TheSeriousProgrammer commented on #290
Thanks , It worked fine! It was just a warning

[2020-09-25 15:40] #290 closed

[2021-03-31 03:14] vorj commented on #284
#291 solved this issue. See you in the next LLVM release :wave:

[2021-03-31 03:14] #284 closed

[2022-11-10 23:58] rdguerrerom commented on #289
Hi,

Is this issue still open?